In [ ]:
import pandas as pd

## 데이터 불러오기

In [2]:
data1 = pd.read_csv('data/매장 관련/서울시 일반음식점 인허가 정보.csv', encoding='cp949')
data2 = pd.read_csv('data/매장 관련/서울시 휴게음식점 인허가 정보.csv', encoding='cp949')
data3 = pd.read_csv('data/매장 관련/서울시 제과점영업 인허가 정보.csv', encoding='cp949')

C:\Users\Puser\AppData\Local\Temp\ipykernel_9244\2732658014.py:1: DtypeWarning: Columns (13,25) have mixed types. Specify dtype option on import or set low_memory=False.
  data1 = pd.read_csv('data/매장 관련/서울시 일반음식점 인허가 정보.csv', encoding='cp949')
C:\Users\Puser\AppData\Local\Temp\ipykernel_9244\2732658014.py:2: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  data2 = pd.read_csv('data/매장 관련/서울시 휴게음식점 인허가 정보.csv', encoding='cp949')

In [3]:
data1 = data1.iloc[:,:26]
data2 = data2.iloc[:,:26]
data3 = data3.iloc[:,:26]

## 데이터프레임 병합

In [44]:
d1 = pd.concat([data1, data2], axis=0)
data = pd.concat([d1, data3], axis=0)

In [45]:
data

,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,...,도로명주소,도로명우편번호,사업장명,최종수정일자,데이터갱신구분,데이터갱신일자,업태구분명,좌표정보(X),좌표정보(Y),위생업태명
0,3010000,3010000-101-2023-00540,2023-11-03,NaN,1,영업/정상,1,영업,NaN,NaN,...,"서울특별시 중구 장충단로 249-10, 2층 (을지로6가)",4564.0,매취랑 동대문점,2023-11-03 17:09,I,05:00.0,한식,200614.4978,451667.7933,NaN
1,3220000,3220000-101-2023-00459,2023-03-31,NaN,1,영업/정상,1,영업,NaN,NaN,...,"서울특별시 강남구 언주로 408, 역삼자이 상가동 지하1층 B10호 (역삼동)",6214.0,청춘부추소곱창,2023-03-31 16:41,I,02:00.0,한식,203882.7780,444136.1670,NaN
2,3230000,3230000-101-2023-00343,2023-05-12,NaN,1,영업/정상,1,영업,NaN,NaN,...,"서울특별시 송파구 송이로20길 12-1, 1층 101호 (가락동)",5712.0,치카바,2023-05-12 14:40,I,04:00.0,일식,210536.3795,443748.6844,NaN
3,3230000,3230000-101-2023-00220,2023-03-31,NaN,1,영업/정상,1,영업,NaN,NaN,...,"서울특별시 송파구 올림픽로34길 27-23, One57빌딩 2층 201호 (방이동)",5547.0,오고보,2023-03-31 9:55,I,02:00.0,경양식,209835.4199,445884.5368,NaN
4,3230000,3230000-101-2023-00222,2023-03-31,NaN,1,영업/정상,1,영업,NaN,NaN,...,"서울특별시 송파구 오금로36길 64, 문종빌딩 1층 (가락동)",5706.0,또봉이통닭 가락본동점,2023-03-31 11:17,I,02:00.0,호프/통닭,210694.9140,444077.2546,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10134,3220000,3220000-121-2022-00129,20221230,NaN,3,폐업,2,폐업,20230124,NaN,...,"서울특별시 강남구 압구정로 343, 갤러리아백화점 명품관WEST동 지하1층 (압구정동)",6008.0,꼬모윤(comoyoon)(한시적),2023-01-25 4:15,U,07:00.0,제과점영업,203470.8484,447369.5799,NaN
10135,3210000,3210000-121-2023-00001,20230102,NaN,1,영업/정상,1,영업,NaN,NaN,...,"서울특별시 서초구 바우뫼로7길 7, 건빌딩 1층 (우면동)",6762.0,파리바게뜨 서초우면점,2023-01-02 11:34,I,04:00.0,제과점영업,202135.4979,440947.7927,NaN
10136,3220000,3220000-121-2021-00096,20211220,NaN,3,폐업,2,폐업,20221231,NaN,...,"서울특별시 강남구 역삼로 310, 한솔필리아 지상1층 62,74,75호 (역삼동)",6217.0,프로틴 퀸_u(역삼)/ Protein Queen_u(역삼),2023-01-02 10:37,U,04:00.0,제과점영업,204213.6432,444113.0282,NaN
10137,3210000,3210000-121-2022-00081,20221229,NaN,3,폐업,2,폐업,20230105,NaN,...,"서울특별시 서초구 신반포로 176, 신세계백화점 강남점 지하1층 (반포동)",6546.0,피르마,2023-01-06 4:15,U,08:00.0,제과점영업,200250.4478,444683.2205,NaN
10138,3180000,3180000-121-2019-00017,20190816,NaN,3,폐업,2,폐업,20230102,NaN,...,"서울특별시 영등포구 63로 50, 63한화생명빌딩 7층 (여의도동)",7345.0,라이프플러스카페,2023-01-02 10:53,U,04:00.0,제과점영업,194632.5264,446401.9265,NaN

## 2019-01-01 이후 인허가 등록된 매장 추출

In [46]:
data = data[data['인허가일자']>='2019-01-01'].sort_values('인허가일자')
data

,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,...,도로명주소,도로명우편번호,사업장명,최종수정일자,데이터갱신구분,데이터갱신일자,업태구분명,좌표정보(X),좌표정보(Y),위생업태명
22131,3230000,3230000-101-2019-00004,2019-01-02,NaN,3,폐업,2,폐업,2023-12-28,NaN,...,"서울특별시 송파구 백제고분로27길 10, 1층 (삼전동)",5604.0,청년피자,2023-12-28 14:22,U,00:00.0,기타,208153.8653,444642.4529,NaN
34886,3070000,3070000-104-2019-00002,2019-01-02,NaN,1,영업/정상,1,영업,NaN,NaN,...,"서울특별시 성북구 정릉로26길 14, 1층 (정릉동)",2814.0,빨강고래,2023-10-31 16:26,U,02:00.0,기타 휴게음식점,200908.5931,455763.0886,NaN
2735,3020000,3020000-121-2019-00025,2019-01-02,NaN,3,폐업,2,폐업,2023-04-19,NaN,...,"서울특별시 용산구 이태원로19길 19, 1층 (이태원동)",4351.0,미엘디저트,2023-04-19 10:09,U,01:00.0,제과점영업,199197.2864,448116.8590,NaN
15159,3200000,3200000-101-2019-00002,2019-01-02,NaN,3,폐업,2,폐업,2023-10-06,NaN,...,"서울특별시 관악구 관천로11길 59, 1층 (신림동)",8763.0,카페인연,2023-10-06 17:25,U,08:00.0,경양식,193002.3050,442394.1088,NaN
107897,3180000,3180000-101-2019-00006,2019-01-02,NaN,3,폐업,2,폐업,2023-11-24,NaN,...,"서울특별시 영등포구 여의대방로 394, 우정빌딩 2층 207호 (여의도동)",7343.0,메그놀리아(MAGNOLIA),2023-11-24 11:07,U,06:00.0,한식,193989.2726,446346.5622,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17303,3220000,3220000-101-2024-00131,2024-02-05,NaN,1,영업/정상,1,영업,NaN,NaN,...,"서울특별시 강남구 선릉로162길 47, 지상2층 (청담동)",6015.0,금동산,2024-02-05 11:55,I,07:00.0,중국식,203857.0689,447109.5882,NaN
17302,3220000,3220000-101-2024-00130,2024-02-05,NaN,1,영업/정상,1,영업,NaN,NaN,...,"서울특별시 강남구 테헤란로 123, 여삼빌딩 지하1층 4호 (역삼동)",6133.0,전국라멘,2024-02-05 10:39,I,07:00.0,일식,202716.5350,444150.9300,NaN
17300,3190000,3190000-101-2024-00027,2024-02-05,NaN,1,영업/정상,1,영업,NaN,NaN,...,"서울특별시 동작구 동작대로27다길 6, 2층 (사당동)",7008.0,갯벌의 조개,2024-02-05 13:47,I,07:00.0,기타,198191.8723,442791.2893,NaN
17287,3230000,3230000-101-2024-00091,2024-02-05,NaN,1,영업/정상,1,영업,NaN,NaN,...,"서울특별시 송파구 올림픽로 240, 롯데백화점 지하1층 (잠실동)",5554.0,르봉마리아쥬,2024-02-05 14:26,I,07:00.0,기타,208589.3633,445455.9041,NaN
9615,3200000,3200000-104-2024-00023,2024-02-06,NaN,1,영업/정상,1,영업,NaN,NaN,...,"서울특별시 관악구 관악로37길 15, 2층 207호 (봉천동, 동아타운21)",8727.0,공간 두루,2024-02-05 18:05,I,07:00.0,기타 휴게음식점,196140.2604,442971.0659,NaN

## 지하 5층 - 지상 5층까지의 매장 추출

In [47]:
data = data[(data['도로명주소'].str.contains('1층')==True) | (data['도로명주소'].str.contains('2층')==True) | (data['도로명주소'].str.contains('3층')==True) | (data['도로명주소'].str.contains('4층')==True) | (data['도로명주소'].str.contains('5층')==True)]
data

,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,...,도로명주소,도로명우편번호,사업장명,최종수정일자,데이터갱신구분,데이터갱신일자,업태구분명,좌표정보(X),좌표정보(Y),위생업태명
22131,3230000,3230000-101-2019-00004,2019-01-02,NaN,3,폐업,2,폐업,2023-12-28,NaN,...,"서울특별시 송파구 백제고분로27길 10, 1층 (삼전동)",5604.0,청년피자,2023-12-28 14:22,U,00:00.0,기타,208153.8653,444642.4529,NaN
34886,3070000,3070000-104-2019-00002,2019-01-02,NaN,1,영업/정상,1,영업,NaN,NaN,...,"서울특별시 성북구 정릉로26길 14, 1층 (정릉동)",2814.0,빨강고래,2023-10-31 16:26,U,02:00.0,기타 휴게음식점,200908.5931,455763.0886,NaN
2735,3020000,3020000-121-2019-00025,2019-01-02,NaN,3,폐업,2,폐업,2023-04-19,NaN,...,"서울특별시 용산구 이태원로19길 19, 1층 (이태원동)",4351.0,미엘디저트,2023-04-19 10:09,U,01:00.0,제과점영업,199197.2864,448116.8590,NaN
15159,3200000,3200000-101-2019-00002,2019-01-02,NaN,3,폐업,2,폐업,2023-10-06,NaN,...,"서울특별시 관악구 관천로11길 59, 1층 (신림동)",8763.0,카페인연,2023-10-06 17:25,U,08:00.0,경양식,193002.3050,442394.1088,NaN
107897,3180000,3180000-101-2019-00006,2019-01-02,NaN,3,폐업,2,폐업,2023-11-24,NaN,...,"서울특별시 영등포구 여의대방로 394, 우정빌딩 2층 207호 (여의도동)",7343.0,메그놀리아(MAGNOLIA),2023-11-24 11:07,U,06:00.0,한식,193989.2726,446346.5622,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17303,3220000,3220000-101-2024-00131,2024-02-05,NaN,1,영업/정상,1,영업,NaN,NaN,...,"서울특별시 강남구 선릉로162길 47, 지상2층 (청담동)",6015.0,금동산,2024-02-05 11:55,I,07:00.0,중국식,203857.0689,447109.5882,NaN
17302,3220000,3220000-101-2024-00130,2024-02-05,NaN,1,영업/정상,1,영업,NaN,NaN,...,"서울특별시 강남구 테헤란로 123, 여삼빌딩 지하1층 4호 (역삼동)",6133.0,전국라멘,2024-02-05 10:39,I,07:00.0,일식,202716.5350,444150.9300,NaN
17300,3190000,3190000-101-2024-00027,2024-02-05,NaN,1,영업/정상,1,영업,NaN,NaN,...,"서울특별시 동작구 동작대로27다길 6, 2층 (사당동)",7008.0,갯벌의 조개,2024-02-05 13:47,I,07:00.0,기타,198191.8723,442791.2893,NaN
17287,3230000,3230000-101-2024-00091,2024-02-05,NaN,1,영업/정상,1,영업,NaN,NaN,...,"서울특별시 송파구 올림픽로 240, 롯데백화점 지하1층 (잠실동)",5554.0,르봉마리아쥬,2024-02-05 14:26,I,07:00.0,기타,208589.3633,445455.9041,NaN
9615,3200000,3200000-104-2024-00023,2024-02-06,NaN,1,영업/정상,1,영업,NaN,NaN,...,"서울특별시 관악구 관악로37길 15, 2층 207호 (봉천동, 동아타운21)",8727.0,공간 두루,2024-02-05 18:05,I,07:00.0,기타 휴게음식점,196140.2604,442971.0659,NaN

## 층별 데이터 확인

In [217]:
data[data['도로명주소'].str.contains('1층')==True]

,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,...,도로명주소,도로명우편번호,사업장명,최종수정일자,데이터갱신구분,데이터갱신일자,업태구분명,좌표정보(X),좌표정보(Y),위생업태명
182509,3110000,3110000-101-2019-00003,2019-01-02,NaN,1,영업/정상,1,영업,NaN,NaN,...,"서울특별시 은평구 진관3로 33, 지하1층 B111호 (진관동)",3301.0,탕면,2023-06-07 13:02,U,09:00.0,한식,NaN,NaN,NaN
51813,3020000,3020000-101-2019-00002,2019-01-02,NaN,1,영업/정상,1,영업,NaN,NaN,...,"서울특별시 용산구 한강대로62가길 10, 1층 (용산동3가)",4382.0,작은수산시장,2023-07-14 16:51,U,06:00.0,경양식,197672.0590,448049.2127,NaN
8846,3060000,3060000-101-2019-00001,2019-01-02,NaN,1,영업/정상,1,영업,NaN,NaN,...,"서울특별시 중랑구 망우로66길 13, 1층 (망우동)",2165.0,주마루 호프,2023-07-18 10:04,U,00:00.0,정종/대포집/소주방,208737.6601,455185.4823,NaN
13969,3200000,3200000-101-2019-00005,2019-01-02,NaN,3,폐업,2,폐업,2023-06-16,NaN,...,"서울특별시 관악구 남부순환로155길 43, 1층 (신림동)",8762.0,LA커피호프,2023-06-16 9:56,U,08:00.0,정종/대포집/소주방,192579.6143,442466.3929,NaN
2735,3020000,3020000-121-2019-00025,2019-01-02,NaN,3,폐업,2,폐업,2023-04-19,NaN,...,"서울특별시 용산구 이태원로19길 19, 1층 (이태원동)",4351.0,미엘디저트,2023-04-19 10:09,U,01:00.0,제과점영업,199197.2864,448116.8590,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1075,3210000,3210000-121-2024-00012,2024-02-05,NaN,1,영업/정상,1,영업,NaN,NaN,...,"서울특별시 서초구 신반포로 176, 신세계백화점 강남점 지하1층 (반포동)",6546.0,아우치,2024-02-05 15:32,I,07:00.0,제과점영업,200250.4478,444683.2205,NaN
1078,3210000,3210000-121-2024-00014,2024-02-05,NaN,1,영업/정상,1,영업,NaN,NaN,...,"서울특별시 서초구 신반포로 176, 신세계백화점 강남점 지하1층 식품관 (반포동)",6546.0,해피해피케이크,2024-02-05 16:54,I,07:00.0,제과점영업,200250.4478,444683.2205,NaN
9639,3210000,3210000-104-2024-00035,2024-02-05,NaN,1,영업/정상,1,영업,NaN,NaN,...,"서울특별시 서초구 신반포로 176, 신세계백화점 강남점 지하1층 식품행사장 (반포동)",6546.0,리은푸드,2024-02-05 10:55,I,07:00.0,일반조리판매,200250.4478,444683.2205,NaN
17181,3180000,3180000-101-2024-00079,2024-02-05,NaN,1,영업/정상,1,영업,NaN,NaN,...,"서울특별시 영등포구 당산로 83, 1층 105, 106, 107호 (당산동2가, 한...",7264.0,샤브올데이 당산직영점,2024-02-05 17:52,I,07:00.0,한식,NaN,NaN,NaN
17175,3030000,3030000-101-2024-00039,2024-02-05,NaN,1,영업/정상,1,영업,NaN,NaN,...,"서울특별시 성동구 무수막길 89, 1층 (금호동2가)",4726.0,신한국통닭 신금호점,2024-02-05 11:11,I,07:00.0,호프/통닭,201706.8465,450154.0001,NaN

In [58]:
data[data['도로명주소'].str.contains('지하1층')==True]

,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,...,도로명주소,도로명우편번호,사업장명,최종수정일자,데이터갱신구분,데이터갱신일자,업태구분명,좌표정보(X),좌표정보(Y),위생업태명
182509,3110000,3110000-101-2019-00003,2019-01-02,NaN,1,영업/정상,1,영업,NaN,NaN,...,"서울특별시 은평구 진관3로 33, 지하1층 B111호 (진관동)",3301.0,탕면,2023-06-07 13:02,U,09:00.0,한식,NaN,NaN,NaN
149037,3220000,3220000-101-2019-00003,2019-01-03,NaN,3,폐업,2,폐업,2023-04-11,NaN,...,"서울특별시 강남구 개포로 623, 대청타워 지하1층 101호,102호 (개포동)",6336.0,윤대감자탕,2023-04-11 9:50,U,03:00.0,한식,206970.9193,443574.4116,NaN
386,3230000,3230000-104-2019-00007,2019-01-04,NaN,3,폐업,2,폐업,2023-03-02,NaN,...,"서울특별시 송파구 충민로 66, 송파현대시티 아울렛점 지하1층 (문정동)",5838.0,마리웨일237 송파 현대시티아울렛점,2023-03-02 9:13,U,04:00.0,기타 휴게음식점,210986.4607,441725.2935,NaN
234169,3170000,3170000-101-2019-00006,2019-01-08,NaN,1,영업/정상,1,영업,NaN,NaN,...,"서울특별시 금천구 시흥대로 291, 310동 지하1층 B20호 (독산동, 금천롯데캐...",8608.0,청년다방 금천구청점,2023-09-21 10:25,U,03:00.0,기타,190838.3248,439761.3620,NaN
25830,3040000,3040000-101-2019-00010,2019-01-09,NaN,1,영업/정상,1,영업,NaN,NaN,...,"서울특별시 광진구 아차산로33길 49, 지하1층 (화양동)",5016.0,키랩,2023-02-13 15:39,U,05:00.0,기타,206180.5583,448919.5917,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17316,3200000,3200000-101-2024-00057,2024-02-05,NaN,1,영업/정상,1,영업,NaN,NaN,...,"서울특별시 관악구 장군봉1길 56, 우형빌딩 지하1층 5호 (봉천동)",8785.0,오늘도 닭갈비 봉천점,2024-02-05 15:16,I,07:00.0,한식,194899.8918,442135.9380,NaN
17315,3200000,3200000-101-2024-00056,2024-02-05,NaN,1,영업/정상,1,영업,NaN,NaN,...,"서울특별시 관악구 관악로24길 14, 호삼빌딩 지하1층 12호 (봉천동)",8737.0,육돼후 돼지 후라이드,2024-02-05 14:02,I,07:00.0,한식,195999.6632,442420.8399,NaN
17308,3220000,3220000-101-2024-00136,2024-02-05,NaN,1,영업/정상,1,영업,NaN,NaN,...,"서울특별시 강남구 봉은사로37길 7-6, 나동 지하1층 B103호 (논현동)",6109.0,이프유캔 강남본점,2024-02-05 16:55,I,07:00.0,기타,203145.4393,445187.3143,NaN
17302,3220000,3220000-101-2024-00130,2024-02-05,NaN,1,영업/정상,1,영업,NaN,NaN,...,"서울특별시 강남구 테헤란로 123, 여삼빌딩 지하1층 4호 (역삼동)",6133.0,전국라멘,2024-02-05 10:39,I,07:00.0,일식,202716.5350,444150.9300,NaN
17287,3230000,3230000-101-2024-00091,2024-02-05,NaN,1,영업/정상,1,영업,NaN,NaN,...,"서울특별시 송파구 올림픽로 240, 롯데백화점 지하1층 (잠실동)",5554.0,르봉마리아쥬,2024-02-05 14:26,I,07:00.0,기타,208589.3633,445455.9041,NaN

In [51]:
data[(data['도로명주소'].str.contains('5층')==True) & -(data['도로명주소'].str.contains('지하5층'))]

,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,...,도로명주소,도로명우편번호,사업장명,최종수정일자,데이터갱신구분,데이터갱신일자,업태구분명,좌표정보(X),좌표정보(Y),위생업태명
80101,3220000,3220000-104-2019-00058,2019-01-30,NaN,1,영업/정상,1,영업,NaN,NaN,...,"서울특별시 강남구 일원로 95, 신영프라자 5층 506호 (일원동)",6351.0,북앤커피도서관 B&C Library,2023-05-30 15:28,U,01:00.0,커피숍,207316.1715,442619.8054,NaN
263,3010000,3010000-121-2019-00006,2019-04-03,NaN,3,폐업,2,폐업,2023-07-10,NaN,...,"서울특별시 중구 을지로 100, 파인에비뉴 25층 A2501호 (을지로2가)",4551.0,(주)현대그린푸드 신한카드,2023-07-10 18:53,U,03:00.0,제과점영업,198921.2413,451495.9854,NaN
6913,3240000,3240000-101-2019-00142,2019-04-19,NaN,3,폐업,2,폐업,2023-03-22,NaN,...,"서울특별시 강동구 올림픽로70길 51, 5층 (천호동)",5329.0,피치브라더스,2023-03-22 11:28,U,04:00.0,기타,211116.1098,448577.9573,NaN
624,3000000,3000000-104-2019-00101,2019-05-10,NaN,1,영업/정상,1,영업,NaN,NaN,...,"서울특별시 종로구 종로 272, 동대문종합시장 신관 5층 501호 (종로6가)",3198.0,샐러디 동대문점,2023-04-26 10:40,U,08:00.0,커피숍,200647.0133,452054.7649,NaN
234912,3180000,3180000-101-2019-00250,2019-06-05,NaN,1,영업/정상,1,영업,NaN,NaN,...,"서울특별시 영등포구 국회대로38길 2, 3,4,5층 (당산동3가)",7257.0,더컨벤션 영등포,2023-06-23 13:13,U,06:00.0,뷔페식,190989.0930,447182.7087,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22925,3210000,3210000-101-2024-00020,2024-01-15,NaN,1,영업/정상,1,영업,NaN,NaN,...,"서울특별시 서초구 방배천로2길 2, 5층 (방배동)",6693.0,메이드,2024-01-15 10:01,I,07:00.0,한식,198421.2755,441639.9250,NaN
23029,3110000,3110000-101-2024-00023,2024-01-17,NaN,1,영업/정상,1,영업,NaN,NaN,...,"서울특별시 은평구 통일로 1050, 롯데몰 은평점 5층 (진관동)",3306.0,놀멘서가,2024-01-17 11:17,I,09:00.0,한식,192694.9237,459461.2361,NaN
23025,3210000,3210000-101-2024-00025,2024-01-17,NaN,1,영업/정상,1,영업,NaN,NaN,...,"서울특별시 서초구 강남대로89길 19, 5층 (반포동)",6536.0,복자,2024-01-17 11:38,I,09:00.0,기타,201770.9012,445220.6601,NaN
22996,3220000,3220000-101-2024-00058,2024-01-17,NaN,1,영업/정상,1,영업,NaN,NaN,...,"서울특별시 강남구 선릉로 753, 정주빌딩 지상5층 (논현동)",6055.0,삼십칠점오도(37.5°),2024-01-17 9:36,I,09:00.0,기타,203402.0572,446626.8276,NaN
9317,3230000,3230000-104-2024-00029,2024-01-24,NaN,1,영업/정상,1,영업,NaN,NaN,...,"서울특별시 송파구 올림픽로 300, 롯데월드타워앤드롯데월드몰 5층 (신천동)",5551.0,에그서울 롯데월드몰점,2024-01-24 15:10,I,06:00.0,기타 휴게음식점,209074.9008,445657.8093,NaN

In [56]:
data[data['도로명주소'].str.contains('지하5층')==True]

,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,...,도로명주소,도로명우편번호,사업장명,최종수정일자,데이터갱신구분,데이터갱신일자,업태구분명,좌표정보(X),좌표정보(Y),위생업태명
244782,3220000,3220000-101-2019-00871,2019-08-06,NaN,3,폐업,2,폐업,2023-07-28,NaN,...,"서울특별시 강남구 도곡로 505, 지하5층 (대치동)",6191.0,가람푸드써비스(주) 시대인재N관,2023-07-28 11:33,U,00:00.0,한식,205383.3231,444152.1338,NaN

In [17]:
data.value_counts('업태구분명').to_frame()

                 count
업태구분명
한식               24933
기타               20015
커피숍              13251
기타 휴게음식점          8696
경양식               5626
편의점               4310
호프/통닭             4295
일식                4253
제과점영업             3534
분식                3427
일반조리판매            3281
중국식               2758
외국음식전문점(인도,태국등)   1714
백화점               1420
패스트푸드              650
식육(숯불구이)           571
정종/대포집/소주방         449
아이스크림              354
김밥(도시락)            293
횟집                 281
푸드트럭               243
감성주점               236
패밀리레스트랑            206
뷔페식                198
떡카페                149
냉면집                145
라이브카페              128
키즈카페                95
전통찻집                94
다방                  81
철도역구내               60
출장조리                52
탕류(보신용)             27
극장                  21
복어취급                10
유원지                  9
고속도로                 3
까페                   2
관광호텔                 2

In [18]:
data[data['업태구분명']=='관광호텔']

,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,...,도로명주소,도로명우편번호,사업장명,최종수정일자,데이터갱신구분,데이터갱신일자,업태구분명,좌표정보(X),좌표정보(Y),위생업태명
83765,3010000,3010000-104-2022-00184,20220922,NaN,1,영업/정상,1,영업,NaN,NaN,...,"서울특별시 중구 명동9길 16, 1층,중2층 (명동1가)",4538.0,럭키덕키(Lucky Ducky),2022-12-29 14:52,U,01:00.0,관광호텔,198625.2543,451373.6860,NaN
6318,3230000,3230000-104-2023-00024,2023-01-27,NaN,1,영업/정상,1,영업,NaN,NaN,...,"서울특별시 송파구 올림픽로 240, 롯데월드 1층 (잠실동)",5554.0,픽업 라운지,2023-09-21 9:47,U,03:00.0,관광호텔,208589.3633,445455.9041,NaN

## 층별 비중 확인

In [21]:
sectors = data.value_counts('업태구분명').to_frame()
sectors = sectors.reset_index()
sectors

              업태구분명  count
0                한식  22773
1                기타  17954
2               커피숍  12024
3          기타 휴게음식점   7690
4               경양식   5227
5                일식   3902
6             호프/통닭   3856
7               편의점   3820
8             제과점영업   3216
9                분식   3102
10           일반조리판매   3019
11              중국식   2525
12  외국음식전문점(인도,태국등)   1605
13              백화점   1379
14            패스트푸드    599
15         식육(숯불구이)    519
16       정종/대포집/소주방    424
17            아이스크림    311
18          김밥(도시락)    262
19               횟집    248
20             감성주점    216
21          패밀리레스트랑    169
22              뷔페식    165
23              떡카페    138
24              냉면집    136
25            라이브카페    119
26             전통찻집     89
27             키즈카페     78
28               다방     68
29             출장조리     50
30            철도역구내     40
31             푸드트럭     28
32          탕류(보신용)     25
33               극장     19
34             복어취급      9
35              유원지      6
36             관광호텔      2
37               까페      1
38             고속도로      1

In [22]:
list_1 = list(sectors['업태구분명'])
list_2 = list(sectors['count'])
d = dict(zip(list_1, list_2))
d

{'한식': 22773,
 '기타': 17954,
 '커피숍': 12024,
 '기타 휴게음식점': 7690,
 '경양식': 5227,
 '일식': 3902,
 '호프/통닭': 3856,
 '편의점': 3820,
 '제과점영업': 3216,
 '분식': 3102,
 '일반조리판매': 3019,
 '중국식': 2525,
 '외국음식전문점(인도,태국등)': 1605,
 '백화점': 1379,
 '패스트푸드': 599,
 '식육(숯불구이)': 519,
 '정종/대포집/소주방': 424,
 '아이스크림': 311,
 '김밥(도시락)': 262,
 '횟집': 248,
 '감성주점': 216,
 '패밀리레스트랑': 169,
 '뷔페식': 165,
 '떡카페': 138,
 '냉면집': 136,
 '라이브카페': 119,
 '전통찻집': 89,
 '키즈카페': 78,
 '다방': 68,
 '출장조리': 50,
 '철도역구내': 40,
 '푸드트럭': 28,
 '탕류(보신용)': 25,
 '극장': 19,
 '복어취급': 9,
 '유원지': 6,
 '관광호텔': 2,
 '까페': 1,
 '고속도로': 1}

In [23]:
floor_1 = data[(data['도로명주소'].str.contains('1층')==True) & -(data['도로명주소'].str.contains('지하1층'))]
floor_1_sectors = floor_1.groupby('업태구분명').size().to_frame().reset_index()
floor_1_sectors.columns = ['업종', '1층 점포 수']
floor_1_sectors['조사 표본 수'] = floor_1_sectors['업종'].map(d)
floor_1_sectors['1층 비중(%)'] = round(floor_1_sectors['1층 점포 수']/floor_1_sectors['조사 표본 수']*100, 2)
floor_1_sectors = floor_1_sectors.sort_values('1층 비중(%)', ascending=False)
floor_1_sectors

                 업종  1층 점포 수  조사 표본 수  1층 비중(%)
8                까페        1        1    100.00
2              고속도로        1        1    100.00
3              관광호텔        2        2    100.00
20              유원지        6        6    100.00
34              편의점     3468     3820     90.79
35             푸드트럭       24       28     85.71
38               횟집      202      248     81.45
17         식육(숯불구이)      421      519     81.12
15               분식     2421     3102     78.05
14             복어취급        7        9     77.78
37            호프/통닭     2976     3856     77.18
29              커피숍     9242    12024     76.86
10               다방       50       68     73.53
33            패스트푸드      438      599     73.12
7           김밥(도시락)      186      262     70.99
18            아이스크림      217      311     69.77
36               한식    15644    22773     68.70
5                기타    12192    17954     67.91
9               냉면집       92      136     67.65
22               일식     2621     3902     67.17
11              떡카페       86      138     62.32
24       정종/대포집/소주방      264      424     62.26
6          기타 휴게음식점     4670     7690     60.73
26              중국식     1505     2525     59.60
1               경양식     3103     5227     59.36
32          패밀리레스트랑       98      169     57.99
21           일반조리판매     1733     3019     57.40
19  외국음식전문점(인도,태국등)      894     1605     55.70
23             전통찻집       49       89     55.06
31          탕류(보신용)       13       25     52.00
25            제과점영업     1663     3216     51.71
0              감성주점       91      216     42.13
4                극장        7       19     36.84
16              뷔페식       60      165     36.36
28             출장조리       17       50     34.00
12            라이브카페       38      119     31.93
30             키즈카페       22       78     28.21
13              백화점      105     1379      7.61
27            철도역구내        1       40      2.50

### 예외 케이스 처리 - 한 주소에 두 층이 적혀있는 경우

In [16]:
data[(data['도로명주소'].str.contains('2층')==True) & (data['업태구분명'].str.contains('관광호텔')==True)]

,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,...,도로명주소,도로명우편번호,사업장명,최종수정일자,데이터갱신구분,데이터갱신일자,업태구분명,좌표정보(X),좌표정보(Y),위생업태명
83765,3010000,3010000-104-2022-00184,20220922,NaN,1,영업/정상,1,영업,NaN,NaN,...,"서울특별시 중구 명동9길 16, 1층,중2층 (명동1가)",4538.0,럭키덕키(Lucky Ducky),2022-12-29 14:52,U,01:00.0,관광호텔,198625.2543,451373.686,NaN

In [13]:
data[data['업태구분명']=='관광호텔']

,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,...,도로명주소,도로명우편번호,사업장명,최종수정일자,데이터갱신구분,데이터갱신일자,업태구분명,좌표정보(X),좌표정보(Y),위생업태명
83765,3010000,3010000-104-2022-00184,20220922,NaN,1,영업/정상,1,영업,NaN,NaN,...,"서울특별시 중구 명동9길 16, 1층,중2층 (명동1가)",4538.0,럭키덕키(Lucky Ducky),2022-12-29 14:52,U,01:00.0,관광호텔,198625.2543,451373.6860,NaN
6318,3230000,3230000-104-2023-00024,2023-01-27,NaN,1,영업/정상,1,영업,NaN,NaN,...,"서울특별시 송파구 올림픽로 240, 롯데월드 1층 (잠실동)",5554.0,픽업 라운지,2023-09-21 9:47,U,03:00.0,관광호텔,208589.3633,445455.9041,NaN

In [24]:
floor_2 = data[(data['도로명주소'].str.contains('2층')==True) & -(data['도로명주소'].str.contains('지하2층')) & -(data['도로명주소'].str.contains('중2층'))]
floor_2_sectors = floor_2.groupby('업태구분명').size().to_frame().reset_index()
floor_2_sectors.columns = ['업종', '2층 점포 수']
floor_2_sectors['조사 표본 수'] = floor_2_sectors['업종'].map(d)
floor_2_sectors['2층 비중(%)'] = round(floor_2_sectors['2층 점포 수']/floor_2_sectors['조사 표본 수']*100, 2)
floor_2_sectors = floor_2_sectors.sort_values('2층 비중(%)', ascending=False)
floor_2_sectors

                 업종  2층 점포 수  조사 표본 수  2층 비중(%)
26             키즈카페       22       78     28.21
22              중국식      524     2525     20.75
0              감성주점       44      216     20.37
19             전통찻집       18       89     20.22
24             출장조리       10       50     20.00
28          패밀리레스트랑       33      169     19.53
9             라이브카페       23      119     19.33
13              뷔페식       31      165     18.79
16  외국음식전문점(인도,태국등)      282     1605     17.57
20       정종/대포집/소주방       74      424     17.45
1               경양식      889     5227     17.01
2                극장        3       19     15.79
10              백화점      191     1379     13.85
18               일식      535     3902     13.71
3                기타     2384    17954     13.28
7                다방        9       68     13.24
32               한식     2912    22773     12.79
6               냉면집       17      136     12.50
27          탕류(보신용)        3       25     12.00
33            호프/통닭      454     3856     11.77
11             복어취급        1        9     11.11
14         식육(숯불구이)       54      519     10.40
25              커피숍     1076    12024      8.95
5           김밥(도시락)       21      262      8.02
21            제과점영업      255     3216      7.93
17           일반조리판매      232     3019      7.68
4          기타 휴게음식점      580     7690      7.54
15            아이스크림       23      311      7.40
29            패스트푸드       44      599      7.35
8               떡카페        9      138      6.52
34               횟집       16      248      6.45
12               분식      154     3102      4.96
31             푸드트럭        1       28      3.57
23            철도역구내        1       40      2.50
30              편의점       69     3820      1.81

In [27]:
floor_5 = data[(data['도로명주소'].str.contains('5층')==True) & -(data['도로명주소'].str.contains('지하5층'))]
floor_5_sectors = floor_5.groupby('업태구분명').size().to_frame().reset_index()
floor_5_sectors.columns = ['업종', '5층 점포 수']
floor_5_sectors['조사 표본 수'] = floor_5_sectors['업종'].map(d)
floor_5_sectors['5층 비중(%)'] = round(floor_5_sectors['5층 점포 수']/floor_5_sectors['조사 표본 수']*100, 2)
floor_5_sectors = floor_5_sectors.sort_values('5층 비중(%)', ascending=False)
floor_5_sectors

                 업종  5층 점포 수  조사 표본 수  5층 비중(%)
8               뷔페식       14      165      8.48
16             출장조리        2       50      4.00
5             라이브카페        4      119      3.36
18             키즈카페        2       78      2.56
0              감성주점        5      216      2.31
1               경양식       43     5227      0.82
13       정종/대포집/소주방        3      424      0.71
2                기타      126    17954      0.70
10  외국음식전문점(인도,태국등)       11     1605      0.69
14            제과점영업       20     3216      0.62
3          기타 휴게음식점       45     7690      0.59
17              커피숍       58    12024      0.48
4           김밥(도시락)        1      262      0.38
21               한식       67    22773      0.29
7                분식        9     3102      0.29
12               일식       11     3902      0.28
11           일반조리판매        8     3019      0.26
22            호프/통닭        9     3856      0.23
15              중국식        5     2525      0.20
9          식육(숯불구이)        1      519      0.19
19            패스트푸드        1      599      0.17
6               백화점        2     1379      0.15
20              편의점        5     3820      0.13

In [32]:
floor_b5 = data[data['도로명주소'].str.contains('지하5층')==True]
floor_b5_sectors = floor_b5.groupby('업태구분명').size().to_frame().reset_index()
floor_b5_sectors.columns = ['업종', '지하5층 점포 수']
floor_b5_sectors['조사 표본 수'] = floor_b5_sectors['업종'].map(d)
floor_b5_sectors['지하5층 비중(%)'] = round(floor_b5_sectors['지하5층 점포 수']/floor_b5_sectors['조사 표본 수']*100, 2)
floor_b5_sectors = floor_b5_sectors.sort_values('지하5층 비중(%)', ascending=False)
floor_b5_sectors

   업종  지하5층 점포 수  조사 표본 수  지하5층 비중(%)
0  한식          1    22773         0.0

## 엑셀 시트별 저장

In [33]:
excel = pd.ExcelWriter('서울시 업종별 입점층수(수정).xlsx', engine='openpyxl')

In [34]:
floor_1_sectors.to_excel(excel, sheet_name='1층', index=False)
floor_2_sectors.to_excel(excel, sheet_name='2층', index=False)
floor_3_sectors.to_excel(excel, sheet_name='3층', index=False)
floor_4_sectors.to_excel(excel, sheet_name='4층', index=False)
floor_5_sectors.to_excel(excel, sheet_name='5층', index=False)
floor_b1_sectors.to_excel(excel, sheet_name='지하1층', index=False)
floor_b2_sectors.to_excel(excel, sheet_name='지하2층', index=False)
floor_b3_sectors.to_excel(excel, sheet_name='지하3층', index=False)
floor_b4_sectors.to_excel(excel, sheet_name='지하4층', index=False)
floor_b5_sectors.to_excel(excel, sheet_name='지하5층', index=False)

In [35]:
excel.close()

## 기타

In [187]:
floor_5 = data[(data['도로명주소'].str.contains('5층')==True) & -(data['도로명주소'].str.contains('지하5층')) & (data['인허가일자']>='2019-01-01')]
floor_5_sectors = floor_5.groupby('업태구분명').size().to_frame()
floor_5_sectors = floor_5_sectors.reset_index()
floor_5_sectors.columns = ['업종', '5층 점포 수']
floor_5_sectors = floor_5_sectors.sort_values('5층 점포 수', ascending=False)
floor_5_sectors

                 업종  5층 점포 수
2                기타      126
21               한식       67
17              커피숍       58
3          기타 휴게음식점       45
1               경양식       43
14            제과점영업       20
8               뷔페식       14
12               일식       11
10  외국음식전문점(인도,태국등)       11
22            호프/통닭        9
7                분식        9
11           일반조리판매        8
15              중국식        5
20              편의점        5
0              감성주점        5
5             라이브카페        4
13       정종/대포집/소주방        3
6               백화점        2
16             출장조리        2
18             키즈카페        2
9          식육(숯불구이)        1
19            패스트푸드        1
4           김밥(도시락)        1

In [251]:
round(floor_1_sectors['1층 점포 수']/floor_1_sectors['조사 표본 수']*100, 2)

36     62.74
5      60.91
29     69.75
6      53.70
34     80.46
1      55.15
37     69.29
22     61.63
15     70.64
21     52.82
25     47.06
26     54.57
19     52.16
33     67.38
17     73.73
24     58.80
18     61.30
38     71.89
7      63.48
13      7.39
32     47.57
9      63.45
0      38.56
11     57.72
16     30.30
10     61.73
23     52.13
12     29.69
35      9.88
30     23.16
28     32.69
31     48.15
14     70.00
4      33.33
20     66.67
3     100.00
27      1.67
8      50.00
2      33.33
dtype: float64

In [9]:
data.value_counts('업태구분명').to_frame().reset_index()

              업태구분명  count
0                한식  24933
1                기타  20015
2               커피숍  13251
3          기타 휴게음식점   8696
4               경양식   5626
5               편의점   4310
6             호프/통닭   4295
7                일식   4253
8             제과점영업   3534
9                분식   3427
10           일반조리판매   3281
11              중국식   2758
12  외국음식전문점(인도,태국등)   1714
13              백화점   1420
14            패스트푸드    650
15         식육(숯불구이)    571
16       정종/대포집/소주방    449
17            아이스크림    354
18          김밥(도시락)    293
19               횟집    281
20             푸드트럭    243
21             감성주점    236
22          패밀리레스트랑    206
23              뷔페식    198
24              떡카페    149
25              냉면집    145
26            라이브카페    128
27             키즈카페     95
28             전통찻집     94
29               다방     81
30            철도역구내     60
31             출장조리     52
32          탕류(보신용)     27
33               극장     21
34             복어취급     10
35              유원지      9
36             고속도로      3
37               까페      2
38             관광호텔      2

In [264]:
d1 = pd.concat([floor_11, floor_12], axis=0)
d2 = pd.concat([d1, floor_13], axis=0)
d3 = pd.concat([d2, floor_14], axis=0)
floor_11_15 = pd.concat([d3, floor_15], axis=0)

In [267]:
floor_11_15_sectors = floor_11_15.groupby('업태구분명').size().to_frame().reset_index()
floor_11_15_sectors.columns = ['업종', '11-15층 점포 수']
floor_11_15_sectors['조사 표본 수'] = floor_11_15_sectors['업종'].map(d)
floor_11_15_sectors['11-15층 비중(%)'] = round(floor_11_15_sectors['11-15층 점포 수']/floor_11_15_sectors['조사 표본 수']*100, 2)
floor_11_15_sectors = floor_11_15_sectors.sort_values('11-15층 비중(%)', ascending=False)
floor_11_15_sectors

                 업종  11-15층 점포 수  조사 표본 수  11-15층 비중(%)
5                까페            3      2.0        150.00
10              뷔페식           20    198.0         10.10
21          탕류(보신용)            2     27.0          7.41
20             키즈카페            2     95.0          2.11
0               경양식           86   5626.0          1.53
23            패스트푸드            8    650.0          1.23
7                다방            1     81.0          1.23
4           김밥(도시락)            3    293.0          1.02
18              중국식           26   2758.0          0.94
15               일식           33   4253.0          0.78
26               횟집            2    281.0          0.71
13  외국음식전문점(인도,태국등)           12   1714.0          0.70
6               냉면집            1    145.0          0.69
22          패밀리레스트랑            1    206.0          0.49
19              커피숍           59  13251.0          0.45
24               한식          108  24933.0          0.43
8               백화점            5   1420.0          0.35
2                기타           63  20015.0          0.31
12            아이스크림            1    354.0          0.28
14           일반조리판매            9   3281.0          0.27
16       정종/대포집/소주방            1    449.0          0.22
9                분식            7   3427.0          0.20
11         식육(숯불구이)            1    571.0          0.18
3          기타 휴게음식점           16   8696.0          0.18
17            제과점영업            2   3534.0          0.06
25            호프/통닭            2   4295.0          0.05
1               과자점            1      NaN           NaN