In [1]:
import pandas as pd
from datetime import datetime, date

### 데이터 불러오기 (12개월치)

In [2]:
data1 = pd.read_csv('data/성수동/LOCAL_PEOPLE_DONG_202301.csv', encoding='utf-8-sig')
data2 = pd.read_csv('data/성수동/LOCAL_PEOPLE_DONG_202302.csv', encoding='utf-8-sig')
data3 = pd.read_csv('data/성수동/LOCAL_PEOPLE_DONG_202303.csv', encoding='utf-8-sig')
data4 = pd.read_csv('data/성수동/LOCAL_PEOPLE_DONG_202304.csv', encoding='utf-8-sig')
data5 = pd.read_csv('data/성수동/LOCAL_PEOPLE_DONG_202305.csv', encoding='utf-8-sig')
data6 = pd.read_csv('data/성수동/LOCAL_PEOPLE_DONG_202306.csv', encoding='utf-8-sig')
data7 = pd.read_csv('data/성수동/LOCAL_PEOPLE_DONG_202307.csv', encoding='utf-8-sig')
data8 = pd.read_csv('data/성수동/LOCAL_PEOPLE_DONG_202308.csv', encoding='utf-8-sig')
data9 = pd.read_csv('data/성수동/LOCAL_PEOPLE_DONG_202309.csv', encoding='utf-8-sig')
data10 = pd.read_csv('data/성수동/LOCAL_PEOPLE_DONG_202310.csv', encoding='utf-8-sig')
data11 = pd.read_csv('data/성수동/LOCAL_PEOPLE_DONG_202311.csv', encoding='utf-8-sig')
data12 = pd.read_csv('data/성수동/LOCAL_PEOPLE_DONG_202312.csv', encoding='utf-8-sig')

In [3]:
d1 = pd.concat([data1, data2], axis=0)
d2 = pd.concat([d1, data3], axis=0)
d3 = pd.concat([d2, data4], axis=0)
d4 = pd.concat([d3, data5], axis=0)
d5 = pd.concat([d4, data6], axis=0)
d6 = pd.concat([d5, data7], axis=0)
d7 = pd.concat([d6, data8], axis=0)
d8 = pd.concat([d7, data9], axis=0)
d9 = pd.concat([d8, data10], axis=0)
d10 = pd.concat([d9, data11], axis=0)
data = pd.concat([d10, data12], axis=0)

In [4]:
data.reset_index(inplace=True)

In [5]:
data

,index,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,20230101,0,11620655,20101.7019,238.5853,135.1789,505.8432,1067.5916,1851.6885,1306.1645,...,969.1248,699.4546,622.1475,625.7901,566.5720,599.1306,463.8273,502.3974,1147.4398,NaN
1,20230101,0,11740515,53691.8435,2795.6587,1715.7807,1631.9745,1062.1799,1111.8742,1292.0350,...,1706.7832,2708.6022,2535.5879,2325.0571,1827.0084,1775.5145,1788.3482,1587.5070,3451.4468,NaN
2,20230101,0,11650621,25383.1167,976.7546,642.5762,928.4712,611.1100,764.5014,750.0006,...,843.2414,964.6389,1208.0918,1340.2070,1143.9092,987.3944,822.4728,630.8191,1746.0534,NaN
3,20230101,0,11650580,20984.6421,997.8654,736.4701,933.5571,464.3594,487.5075,414.9080,...,490.1392,741.9576,920.3985,1358.5260,871.9855,691.3623,483.9155,409.0869,1198.4590,NaN
4,20230101,0,11305630,31798.8229,511.0459,261.0184,1528.9169,2028.0567,2095.4653,1286.5213,...,944.2893,1059.8273,868.3665,1040.6820,1086.9819,1072.6015,945.0024,680.1980,2003.1009,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3714235,20231231,23,11110560,18530.0633,539.9718,390.5795,448.0172,559.9525,452.0879,407.1398,...,453.1081,596.0404,651.5197,861.9606,867.6491,1055.1084,873.9238,650.8204,1780.7789,NaN
3714236,20231231,23,11110670,6238.8665,53.9233,37.4626,94.3451,268.1916,237.2571,255.2866,...,178.4519,224.3168,196.2539,221.3398,266.7949,268.6600,271.6200,211.7809,453.4016,NaN
3714237,20231231,23,11740690,5271.8469,229.7714,174.1429,270.6264,125.4847,128.1135,104.2209,...,129.8976,193.4053,232.2445,244.5209,178.3818,237.0907,178.6512,152.4640,432.7329,NaN
3714238,20231231,23,11560720,25025.5448,311.2179,166.3972,387.1615,611.4587,786.6449,986.6392,...,914.8729,1191.6953,886.2044,1117.4194,1154.0607,1261.0462,1044.9525,718.2913,1610.7937,NaN
3714239,20231231,23,11680580,21396.3555,762.1061,448.4585,707.9539,622.8537,803.0443,860.9410,...,924.7877,1040.1387,895.7120,997.4923,848.2390,661.7084,588.4106,455.0319,926.4935,NaN

### 성수동만 추출

In [6]:
data = data[(data['시간대구분'] == 11200650) | (data['시간대구분'] == 11200660) | (data['시간대구분'] == 11200670) | (data['시간대구분'] == 11200690)]

In [7]:
data

,index,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
26,20230101,0,11200650,14066.1625,500.8522,241.0647,266.2812,440.7109,560.4546,568.5377,...,623.6824,729.6952,520.9408,510.4257,566.7846,660.8388,517.7805,388.2764,676.2630,NaN
27,20230101,0,11200660,14580.3756,477.2939,215.2835,255.9209,373.4989,507.9664,708.5186,...,773.5285,710.0916,594.9113,626.1254,474.5159,547.2563,495.9266,330.5348,852.2745,NaN
171,20230101,0,11200670,17047.1107,555.9877,247.9944,232.1906,511.3242,713.1550,776.8072,...,674.5933,835.7061,507.9370,595.5348,695.0087,770.0468,664.0003,507.0639,911.6034,NaN
237,20230101,0,11200690,20197.0002,667.7579,221.9792,404.5461,765.7944,1025.8232,1028.5717,...,924.4041,977.4259,658.8857,694.8151,747.7210,727.5864,608.8133,433.3836,996.4189,NaN
578,20230101,1,11200660,14465.3954,476.0530,214.7236,248.7627,356.5568,503.4586,723.8614,...,778.6109,718.6434,592.6070,624.7927,476.9049,522.5116,495.3901,340.2542,861.6213,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3713756,20231231,22,11200650,15225.5575,496.5363,238.9869,312.7745,453.0609,593.9870,687.3602,...,705.1798,863.6426,560.1189,556.2329,666.7655,636.5177,544.5599,370.3400,738.7591,NaN
3713918,20231231,23,11200650,13289.2584,419.8277,202.0668,263.2889,406.5957,513.7429,611.7606,...,601.8091,732.4508,490.8444,486.2623,611.7336,628.6727,496.5686,359.6350,716.1169,NaN
3714033,20231231,23,11200690,19086.7495,624.7603,207.6856,403.4194,575.3175,1029.1022,899.7629,...,880.7960,824.9553,739.8316,679.2811,682.6387,725.6970,634.5622,458.3160,1122.4043,NaN
3714148,20231231,23,11200660,12718.2866,387.2379,174.6635,191.8549,322.1835,531.1038,631.8857,...,653.8657,677.5211,473.2623,551.1936,439.1788,439.1647,440.9413,315.4855,689.1909,NaN
3714149,20231231,23,11200670,17076.5104,483.8433,215.8146,208.9017,470.8383,702.0827,705.1979,...,631.9277,869.2149,596.2908,618.3527,680.2776,776.9595,687.5133,466.8249,815.0580,NaN

In [8]:
pd.options.display.float_format = '{:.5f}'.format     # 지수 형식 변환

### 일자별 총인구수 합 (그룹화)

In [9]:
total = data.groupby('index')['행정동코드'].sum()

In [10]:
total

index
20230101   1731224.20550
20230102   2364710.69980
20230103   2436935.07840
20230104   2456585.69320
20230105   2452120.01930
                ...
20231227   2452257.37270
20231228   2435620.34860
20231229   2262521.02030
20231230   1818496.32920
20231231   1738770.12870
Name: 행정동코드, Length: 365, dtype: float64

In [11]:
seongsu = pd.DataFrame(total)
seongsu

                 행정동코드
index
20230101 1731224.20550
20230102 2364710.69980
20230103 2436935.07840
20230104 2456585.69320
20230105 2452120.01930
...                ...
20231227 2452257.37270
20231228 2435620.34860
20231229 2262521.02030
20231230 1818496.32920
20231231 1738770.12870

[365 rows x 1 columns]

In [12]:
seongsu.index

Index([20230101, 20230102, 20230103, 20230104, 20230105, 20230106, 20230107,
       20230108, 20230109, 20230110,
       ...
       20231222, 20231223, 20231224, 20231225, 20231226, 20231227, 20231228,
       20231229, 20231230, 20231231],
      dtype='int64', name='index', length=365)

### 주말, 평일, 주차 산정

In [13]:
week = []     # 요일
ju = []       # 주차
    
for idx, row in a.iterrows():
    year = str(idx)[:4]
    month = str(idx)[4:6]
    day = str(idx)[6:8]
    weekday = date(int(year), int(month), int(day)).weekday()

    if weekday > 4:
        week.append('주말')
    else:
        week.append('평일')

    ju.append(datetime(int(year), int(month), int(day)).isocalendar()[1])
    
    print("행 인덱스: ", idx)
    print(row['행정동코드'], '\n')

행 인덱스:  20230101
1731224.2055

행 인덱스:  20230102
2364710.6998

행 인덱스:  20230103
2436935.0784

행 인덱스:  20230104
2456585.6932

행 인덱스:  20230105
2452120.0193

행 인덱스:  20230106
2450415.274

행 인덱스:  20230107
1952156.9626

행 인덱스:  20230108
1830940.3881

행 인덱스:  20230109
2393560.2321

행 인덱스:  20230110
2451608.5473

행 인덱스:  20230111
2450614.9221

행 인덱스:  20230112
2458096.6292

행 인덱스:  20230113
2399645.2662

행 인덱스:  20230114
1944784.9856

행 인덱스:  20230115
1841995.9618

행 인덱스:  20230116
2427901.1016

행 인덱스:  20230117
2458808.9441

행 인덱스:  20230118
2466343.6761

행 인덱스:  20230119
2428218.1162

행 인덱스:  20230120
2202425.9215

행 인덱스:  20230121
1640215.5524

행 인덱스:  20230122
1505587.4706

행 인덱스:  20230123
1603485.1179

행 인덱스:  20230124
1697661.8608

행 인덱스:  20230125
2348548.2401

행 인덱스:  20230126
2414074.455

행 인덱스:  20230127
2433775.0205

행 인덱스:  20230128
1949830.5699

행 인덱스:  20230129
1837652.9985

행 인덱스:  20230130
2438879.1125

행 인덱스:  20230131
2477200.9753

행 인덱스:  20230201
2481657.2902

행 인덱스:  20230202
2479484.3562

행 인덱스:  20230203
2456022.5027

행 인덱스:  20230204
1983451.5745

행 인덱스:  20230205
1866754.7625

행 인덱스:  20230206
2425255.8026

행 인덱스:  20230207
2460338.8611

행 인덱스:  20230208
2479678.0176

행 인덱스:  20230209
2486383.9958

행 인덱스:  20230210
2441897.9818

행 인덱스:  20230211
1979624.4315

행 인덱스:  20230212
1840777.8937

행 인덱스:  20230213
2395881.3054

행 인덱스:  20230214
2483934.1863

행 인덱스:  20230215
2467896.6151

행 인덱스:  20230216
2510115.3691

행 인덱스:  20230217
2446612.8863

행 인덱스:  20230218
1973877.5721

행 인덱스:  20230219
1866804.4939

행 인덱스:  20230220
2399661.074

행 인덱스:  20230221
2446702.8048

행 인덱스:  20230222
2445030.5222

행 인덱스:  20230223
2438976.174

행 인덱스:  20230224
2408820.15

행 인덱스:  20230225
1966649.3682

행 인덱스:  20230226
1841508.1043

행 인덱스:  20230227
2406241.0836

행 인덱스:  20230228
2445459.8755

행 인덱스:  20230301
1922945.1125

행 인덱스:  20230302
2377538.5133

행 인덱스:  20230303
2387132.2664

행 인덱스:  20230304
1941296.068

행 인덱스:  20230305
1833621.0275

행 인덱스:  20230306
2403099.2754

행 인덱스:  20230307
2441696.3332

행 인덱스:  20230308
2427584.3182

행 인덱스:  20230309
2437253.994

행 인덱스:  20230310
2431072.414

행 인덱스:  20230311
1999969.3845

행 인덱스:  20230312
1788491.007

행 인덱스:  20230313
2371240.576

행 인덱스:  20230314
2434334.5907

행 인덱스:  20230315
2421117.6611

행 인덱스:  20230316
2435174.0007

행 인덱스:  20230317
2413549.4342

행 인덱스:  20230318
2004795.5467

행 인덱스:  20230319
1890490.6878

행 인덱스:  20230320
2390961.2577

행 인덱스:  20230321
2444580.9604

행 인덱스:  20230322
2445802.048

행 인덱스:  20230323
2452296.2029

행 인덱스:  20230324
2436393.313

행 인덱스:  20230325
2023163.531

행 인덱스:  20230326
1896757.5033

행 인덱스:  20230327
2408501.2419

행 인덱스:  20230328
2469764.6514

행 인덱스:  20230329
2461238.0359

행 인덱스:  20230330
2476780.9392

행 인덱스:  20230331
2500465.0817

행 인덱스:  20230401
2154796.6675

행 인덱스:  20230402
2015762.0259

행 인덱스:  20230403
2455826.287

행 인덱스:  20230404
2451990.1261

행 인덱스:  20230405
2401278.2723

행 인덱스:  20230406
2428791.888

행 인덱스:  20230407
2434471.0234

행 인덱스:  20230408
1993819.1781

행 인덱스:  20230409
1858455.6847

행 인덱스:  20230410
2396989.0536

행 인덱스:  20230411
2408134.1515

행 인덱스:  20230412
2429991.6974

행 인덱스:  20230413
2439397.3716

행 인덱스:  20230414
2417532.2052

행 인덱스:  20230415
1926521.7369

행 인덱스:  20230416
1844660.512

행 인덱스:  20230417
2406226.186

행 인덱스:  20230418
2420666.7823

행 인덱스:  20230419
2508522.4551

행 인덱스:  20230420
2440921.1093

행 인덱스:  20230421
2426465.3693

행 인덱스:  20230422
2020734.593

행 인덱스:  20230423
1861143.6964

행 인덱스:  20230424
2389588.6335

행 인덱스:  20230425
2416416.9991

행 인덱스:  20230426
2441054.245

행 인덱스:  20230427
2466336.2807

행 인덱스:  20230428
2456056.0325

행 인덱스:  20230429
1881400.2741

행 인덱스:  20230430
1864314.3627

행 인덱스:  20230501
1935740.7557

행 인덱스:  20230502
2433668.8468

행 인덱스:  20230503
2450034.4372

행 인덱스:  20230504
2445918.1806

행 인덱스:  20230505
1796056.86

행 인덱스:  20230506
1806496.9674

행 인덱스:  20230507
1818121.6543999999

행 인덱스:  20230508
2382688.2977

행 인덱스:  20230509
2438762.2217

행 인덱스:  20230510
2467359.4922

행 인덱스:  20230511
2446166.514

행 인덱스:  20230512
2461079.9272

행 인덱스:  20230513
2047748.6532

행 인덱스:  20230514
1913884.5135

행 인덱스:  20230515
2394227.4592

행 인덱스:  20230516
2457895.2114

행 인덱스:  20230517
2447222.3347

행 인덱스:  20230518
2424049.2439

행 인덱스:  20230519
2456871.8514

행 인덱스:  20230520
2023174.2952

행 인덱스:  20230521
1864191.9263

행 인덱스:  20230522
2390357.7011

행 인덱스:  20230523
2430390.0841

행 인덱스:  20230524
2425245.064

행 인덱스:  20230525
2432412.8977

행 인덱스:  20230526
2384031.3551

행 인덱스:  20230527
1841627.0449

행 인덱스:  20230528
1708522.468

행 인덱스:  20230529
1840935.042

행 인덱스:  20230530
2373316.6913

행 인덱스:  20230531
2404072.7669

행 인덱스:  20230601
2404717.7113

행 인덱스:  20230602
2400519.9106

행 인덱스:  20230603
1955311.7517

행 인덱스:  20230604
1840348.5427

행 인덱스:  20230605
2222322.2081999998

행 인덱스:  20230606
1877005.0458

행 인덱스:  20230607
2379812.8902

행 인덱스:  20230608
2381064.709

행 인덱스:  20230609
2391899.9198

행 인덱스:  20230610
1915441.6584

행 인덱스:  20230611
1827461.0314

행 인덱스:  20230612
2338989.6069

행 인덱스:  20230613
2393097.7574

행 인덱스:  20230614
2385938.0354

행 인덱스:  20230615
2404748.0119

행 인덱스:  20230616
2390800.8797

행 인덱스:  20230617
1976526.4056

행 인덱스:  20230618
1811434.7277

행 인덱스:  20230619
2345937.6558

행 인덱스:  20230620
2393353.3793

행 인덱스:  20230621
2383756.0066

행 인덱스:  20230622
2410159.8063

행 인덱스:  20230623
2367639.2792

행 인덱스:  20230624
1908291.8193

행 인덱스:  20230625
1787477.6638

행 인덱스:  20230626
2327317.9446

행 인덱스:  20230627
2399099.8081

행 인덱스:  20230628
2406282.6122

행 인덱스:  20230629
2349118.2328

행 인덱스:  20230630
2348361.5029

행 인덱스:  20230701
1865314.3333

행 인덱스:  20230702
1745360.3573

행 인덱스:  20230703
2338861.4828

행 인덱스:  20230704
2359160.5122

행 인덱스:  20230705
2383428.1129

행 인덱스:  20230706
2393965.5665

행 인덱스:  20230707
2349422.8087999998

행 인덱스:  20230708
1899592.584

행 인덱스:  20230709
1748939.7999

행 인덱스:  20230710
2344919.2204

행 인덱스:  20230711
2363563.953

행 인덱스:  20230712
2397965.0385

행 인덱스:  20230713
2342397.3931

행 인덱스:  20230714
2310543.5807

행 인덱스:  20230715
1859228.1561

행 인덱스:  20230716
1779077.2591

행 인덱스:  20230717
2352071.3252

행 인덱스:  20230718
2372572.875

행 인덱스:  20230719
2403731.2805

행 인덱스:  20230720
2388661.3943

행 인덱스:  20230721
2349962.9369

행 인덱스:  20230722
1842575.6568

행 인덱스:  20230723
1709605.0626

행 인덱스:  20230724
2327818.8319

행 인덱스:  20230725
2371270.859

행 인덱스:  20230726
2366901.8664

행 인덱스:  20230727
2375669.1703

행 인덱스:  20230728
2316977.9724

행 인덱스:  20230729
1841084.98

행 인덱스:  20230730
1733612.3083

행 인덱스:  20230731
2256983.5644

행 인덱스:  20230801
2306855.4092

행 인덱스:  20230802
2309261.0537

행 인덱스:  20230803
2309122.1164

행 인덱스:  20230804
2250781.5262

행 인덱스:  20230805
1795453.5053

행 인덱스:  20230806
1698456.0082

행 인덱스:  20230807
2295275.6374

행 인덱스:  20230808
2345554.5041

행 인덱스:  20230809
2353609.4216

행 인덱스:  20230810
2208171.4141

행 인덱스:  20230811
2278557.9196

행 인덱스:  20230812
1849485.6459

행 인덱스:  20230813
1754230.4244

행 인덱스:  20230814
2130897.1199

행 인덱스:  20230815
1818332.7562

행 인덱스:  20230816
2350299.9561

행 인덱스:  20230817
2372652.9826

행 인덱스:  20230818
2352679.2792

행 인덱스:  20230819
1871194.4

행 인덱스:  20230820
1766680.7994

행 인덱스:  20230821
2320868.7936

행 인덱스:  20230822
2349460.5771

행 인덱스:  20230823
2344792.6413

행 인덱스:  20230824
2352816.7674

행 인덱스:  20230825
2340330.5721

행 인덱스:  20230826
1905271.0291

행 인덱스:  20230827
1791457.6982

행 인덱스:  20230828
2308893.7062

행 인덱스:  20230829
2347389.2097

행 인덱스:  20230830
2377218.5417

행 인덱스:  20230831
2410569.3547

행 인덱스:  20230901
2384451.4522

행 인덱스:  20230902
1931810.1385

행 인덱스:  20230903
1798802.2657

행 인덱스:  20230904
2348671.5143

행 인덱스:  20230905
2395873.4713

행 인덱스:  20230906
2405795.7146

행 인덱스:  20230907
2409854.8421

행 인덱스:  20230908
2413006.5595

행 인덱스:  20230909
1962595.4929

행 인덱스:  20230910
1847589.2682

행 인덱스:  20230911
2361579.4223

행 인덱스:  20230912
2419835.2369

행 인덱스:  20230913
2392601.9547

행 인덱스:  20230914
2429706.2565

행 인덱스:  20230915
2381922.6159

행 인덱스:  20230916
1922711.1381

행 인덱스:  20230917
1823809.7099

행 인덱스:  20230918
2375249.9722

행 인덱스:  20230919
2418888.8217

행 인덱스:  20230920
2389208.0917

행 인덱스:  20230921
2420979.7381

행 인덱스:  20230922
2454151.9162

행 인덱스:  20230923
2163571.5816

행 인덱스:  20230924
2044949.6489

행 인덱스:  20230925
2546842.5042

행 인덱스:  20230926
2402228.434

행 인덱스:  20230927
2199474.5339

행 인덱스:  20230928
1601243.4651

행 인덱스:  20230929
1466725.6142

행 인덱스:  20230930
1508982.2823

행 인덱스:  20231001
1636855.1074

행 인덱스:  20231002
1770852.7833

행 인덱스:  20231003
1802957.6612

행 인덱스:  20231004
2357524.1433

행 인덱스:  20231005
2399379.4571

행 인덱스:  20231006
2457024.3964

행 인덱스:  20231007
1987979.8815

행 인덱스:  20231008
1931688.3293

행 인덱스:  20231009
1893227.245

행 인덱스:  20231010
2380211.4248

행 인덱스:  20231011
2406816.2509

행 인덱스:  20231012
2401216.0862

행 인덱스:  20231013
2390536.7612

행 인덱스:  20231014
1904462.7007

행 인덱스:  20231015
1841455.3572

행 인덱스:  20231016
2353640.2993

행 인덱스:  20231017
2364893.183

행 인덱스:  20231018
2357334.9003

행 인덱스:  20231019
2354862.0153

행 인덱스:  20231020
2362217.0082

행 인덱스:  20231021
1931804.4144000001

행 인덱스:  20231022
1824924.1975

행 인덱스:  20231023
2322856.3696

행 인덱스:  20231024
2382072.5101

행 인덱스:  20231025
2365298.5875

행 인덱스:  20231026
2380591.109

행 인덱스:  20231027
2352138.0961

행 인덱스:  20231028
2014839.3079

행 인덱스:  20231029
1879186.7464

행 인덱스:  20231030
2347635.7507

행 인덱스:  20231031
2386737.7477

행 인덱스:  20231101
2409460.9031

행 인덱스:  20231102
2426814.2072

행 인덱스:  20231103
2376857.9169

행 인덱스:  20231104
2004102.0378999999

행 인덱스:  20231105
1790528.327

행 인덱스:  20231106
2315106.9761

행 인덱스:  20231107
2388141.4056

행 인덱스:  20231108
2379968.0717

행 인덱스:  20231109
2413361.0993

행 인덱스:  20231110
2374735.3817

행 인덱스:  20231111
1925262.036

행 인덱스:  20231112
1813306.6128

행 인덱스:  20231113
2332469.6825

행 인덱스:  20231114
2393687.3609

행 인덱스:  20231115
2393417.8028

행 인덱스:  20231116
2365829.1113

행 인덱스:  20231117
2367462.6411

행 인덱스:  20231118
1979310.6824

행 인덱스:  20231119
1825788.8673

행 인덱스:  20231120
2352802.7568

행 인덱스:  20231121
2415676.0963

행 인덱스:  20231122
2430048.3601

행 인덱스:  20231123
2425444.9549

행 인덱스:  20231124
2392455.5644

행 인덱스:  20231125
1959205.163

행 인덱스:  20231126
1851598.5367

행 인덱스:  20231127
2353131.466

행 인덱스:  20231128
2423316.5429000002

행 인덱스:  20231129
2428651.8304

행 인덱스:  20231130
2435852.7293

행 인덱스:  20231201
2423054.6135

행 인덱스:  20231202
1961539.2678

행 인덱스:  20231203
1842800.4775999999

행 인덱스:  20231204
2387958.7649

행 인덱스:  20231205
2428249.6109

행 인덱스:  20231206
2419341.3395

행 인덱스:  20231207
2438906.0346

행 인덱스:  20231208
2422986.783

행 인덱스:  20231209
2034792.0535

행 인덱스:  20231210
1957390.7643

행 인덱스:  20231211
2402847.5003

행 인덱스:  20231212
2409510.7676

행 인덱스:  20231213
2422439.9294

행 인덱스:  20231214
2428171.3315

행 인덱스:  20231215
2382607.2101

행 인덱스:  20231216
1989028.9788

행 인덱스:  20231217
1873685.2229

행 인덱스:  20231218
2387803.3979

행 인덱스:  20231219
2469434.0336

행 인덱스:  20231220
2464118.8647

행 인덱스:  20231221
2447947.0749

행 인덱스:  20231222
2409934.3829

행 인덱스:  20231223
2021393.991

행 인덱스:  20231224
1954326.9354

행 인덱스:  20231225
1974137.6437

행 인덱스:  20231226
2416389.6652

행 인덱스:  20231227
2452257.3727

행 인덱스:  20231228
2435620.3486

행 인덱스:  20231229
2262521.0203

행 인덱스:  20231230
1818496.3292

행 인덱스:  20231231
1738770.1287

In [14]:
week

['주말',
 '평일',
 '평일',
 '평일',
 '평일',
 '평일',
 '주말',
 '주말',
 '평일',
 '평일',
 '평일',
 '평일',
 '평일',
 '주말',
 '주말',
 '평일',
 '평일',
 '평일',
 '평일',
 '평일',
 '주말',
 '주말',
 '평일',
 '평일',
 '평일',
 '평일',
 '평일',
 '주말',
 '주말',
 '평일',
 '평일',
 '평일',
 '평일',
 '평일',
 '주말',
 '주말',
 '평일',
 '평일',
 '평일',
 '평일',
 '평일',
 '주말',
 '주말',
 '평일',
 '평일',
 '평일',
 '평일',
 '평일',
 '주말',
 '주말',
 '평일',
 '평일',
 '평일',
 '평일',
 '평일',
 '주말',
 '주말',
 '평일',
 '평일',
 '평일',
 '평일',
 '평일',
 '주말',
 '주말',
 '평일',
 '평일',
 '평일',
 '평일',
 '평일',
 '주말',
 '주말',
 '평일',
 '평일',
 '평일',
 '평일',
 '평일',
 '주말',
 '주말',
 '평일',
 '평일',
 '평일',
 '평일',
 '평일',
 '주말',
 '주말',
 '평일',
 '평일',
 '평일',
 '평일',
 '평일',
 '주말',
 '주말',
 '평일',
 '평일',
 '평일',
 '평일',
 '평일',
 '주말',
 '주말',
 '평일',
 '평일',
 '평일',
 '평일',
 '평일',
 '주말',
 '주말',
 '평일',
 '평일',
 '평일',
 '평일',
 '평일',
 '주말',
 '주말',
 '평일',
 '평일',
 '평일',
 '평일',
 '평일',
 '주말',
 '주말',
 '평일',
 '평일',
 '평일',
 '평일',
 '평일',
 '주말',
 '주말',
 '평일',
 '평일',
 '평일',
 '평일',
 '평일',
 '주말',
 '주말',
 '평일',
 '평일',
 '평일',
 '평일',
 '평일',
 '주말',
 '주말',
 '평일',
 '평일',
 '평일',
 '평일',
 '평일',
 '주말',
 '주말',
 '평일',
 '평일',
 '평일',
 '평일',
 '평일',
 '주말',
 '주말',
 '평일',
 '평일',
 '평일',
 '평일',
 '평일',
 '주말',
 '주말',
 '평일',
 '평일',
 '평일',
 '평일',
 '평일',
 '주말',
 '주말',
 '평일',
 '평일',
 '평일',
 '평일',
 '평일',
 '주말',
 '주말',
 '평일',
 '평일',
 '평일',
 '평일',
 '평일',
 '주말',
 '주말',
 '평일',
 '평일',
 '평일',
 '평일',
 '평일',
 '주말',
 '주말',
 '평일',
 '평일',
 '평일',
 '평일',
 '평일',
 '주말',
 '주말',
 '평일',
 '평일',
 '평일',
 '평일',
 '평일',
 '주말',
 '주말',
 '평일',
 '평일',
 '평일',
 '평일',
 '평일',
 '주말',
 '주말',
 '평일',
 '평일',
 '평일',
 '평일',
 '평일',
 '주말',
 '주말',
 '평일',
 '평일',
 '평일',
 '평일',
 '평일',
 '주말',
 '주말',
 '평일',
 '평일',
 '평일',
 '평일',
 '평일',
 '주말',
 '주말',
 '평일',
 '평일',
 '평일',
 '평일',
 '평일',
 '주말',
 '주말',
 '평일',
 '평일',
 '평일',
 '평일',
 '평일',
 '주말',
 '주말',
 '평일',
 '평일',
 '평일',
 '평일',
 '평일',
 '주말',
 '주말',
 '평일',
 '평일',
 '평일',
 '평일',
 '평일',
 '주말',
 '주말',
 '평일',
 '평일',
 '평일',
 '평일',
 '평일',
 '주말',
 '주말',
 '평일',
 '평일',
 '평일',
 '평일',
 '평일',
 '주말',
 '주말',
 '평일',
 '평일',
 '평일',
 '평일',
 '평일',
 '주말',
 '주말',
 '평일',
 '평일',
 '평일',
 '평일',
 '평일',
 '주말',
 '주말',
 '평일',
 '평일',
 '평일',
 '평일',
 '평일',
 '주말',
 '주말',
 '평일',
 '평일',
 '평일',
 '평일',
 '평일',
 '주말',
 '주말',
 '평일',
 '평일',
 '평일',
 '평일',
 '평일',
 '주말',
 '주말',
 '평일',
 '평일',
 '평일',
 '평일',
 '평일',
 '주말',
 '주말',
 '평일',
 '평일',
 '평일',
 '평일',
 '평일',
 '주말',
 '주말',
 '평일',
 '평일',
 '평일',
 '평일',
 '평일',
 '주말',
 '주말',
 '평일',
 '평일',
 '평일',
 '평일',
 '평일',
 '주말',
 '주말',
 '평일',
 '평일',
 '평일',
 '평일',
 '평일',
 '주말',
 '주말',
 '평일',
 '평일',
 '평일',
 '평일',
 '평일',
 '주말',
 '주말',
 '평일',
 '평일',
 '평일',
 '평일',
 '평일',
 '주말',
 '주말',
 '평일',
 '평일',
 '평일',
 '평일',
 '평일',
 '주말',
 '주말']

In [15]:
ju

[52,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 35,
 35,
 35,
 35,
 35,
 35,
 35,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 37,
 37,
 37,
 37,
 37,
 37,
 37,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 39,
 39,
 39,
 39,
 39,
 39,
 39,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 47,
 47,
 47,
 47,
 47,
 47,
 47,
 48,
 48,
 48,
 48,
 48,
 48,
 48,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 52,
 52,
 52,
 52,
 52,
 52,
 52]

In [16]:
seongsu['요일'] = week
seongsu['주차'] = ju
seongsu

                 행정동코드  요일
index
20230101 1731224.20550  주말
20230102 2364710.69980  평일
20230103 2436935.07840  평일
20230104 2456585.69320  평일
20230105 2452120.01930  평일
...                ...  ..
20231227 2452257.37270  평일
20231228 2435620.34860  평일
20231229 2262521.02030  평일
20231230 1818496.32920  주말
20231231 1738770.12870  주말

[365 rows x 2 columns]

### 요일별 통계

In [18]:
mean_of_day = seongsu.groupby('요일')['행정동코드'].mean()
mean_of_day

요일
주말   1877676.72281
평일   2365214.52989
Name: 행정동코드, dtype: float64

In [19]:
median_of_day = seongsu.groupby('요일')['행정동코드'].median()
median_of_day

요일
주말   1866754.76250
평일   2399653.17010
Name: 행정동코드, dtype: float64

In [20]:
a = pd.DataFrame(mean_of_day)
b = pd.DataFrame(median_of_day)

In [21]:
population_of_day = pd.concat([a,b], axis=1, join='inner')     # 데이터프레임 합치기
population_of_day

           행정동코드         행정동코드
요일
주말 1877676.72281 1866754.76250
평일 2365214.52989 2399653.17010

In [22]:
population_of_day.columns = ['유동인구수(평균)', '유동인구수(중앙값)']   # 컬럼명 변경
population_of_day = population_of_day.astype('int')
population_of_day

       유동인구수(평균)    유동인구수(중앙값)
요일
주말 1877676.72281 1866754.76250
평일 2365214.52989 2399653.17010

### 주별 통계

In [24]:
mean_of_week = seongsu.groupby('주차')['행정동코드'].mean()
mean_of_week

주차
1    2277694.87363
2    2277186.64919
3    2161357.25464
4    2040718.32324
5    2311921.51056
6    2301993.85487
7    2306446.06117
8    2278192.59964
9    2187747.70669
10   2275595.24661
11   2281528.92817
12   2298564.97376
13   2355329.80621
14   2289233.20851
15   2266175.24689
16   2297811.45591
17   2273595.26109
18   2098005.38601
19   2308241.37421
20   2295376.04601
21   2230369.51641
22   2174174.63093
23   2142143.92326
24   2243076.48923
25   2228087.94433
26   2205836.39874
27   2210481.55244
28   2199670.65727
29   2202740.07590
30   2190476.56976
31   2132416.16906
32   2154983.56673
33   2094676.75620
34   2200714.01126
35   2222733.52410
36   2254769.55184
37   2247452.33347
38   2323857.11006
39   1908907.42016
40   2101058.09316
41   2173989.40371
42   2221382.28829
43   2242426.10380
44   2248876.69864
45   2229983.08331
46   2236852.30690
47   2261033.06174
48   2266906.70393
49   2298517.90724
50   2272612.99151
51   2307851.24006
52   2103677.08924
Name: 행정동코드, dtype: float64

In [25]:
median_of_week = seongsu.groupby('주차')['행정동코드'].median()
median_of_week

주차
1    2436935.07840
2    2399645.26620
3    2427901.10160
4    1949830.56990
5    2456022.50270
6    2441897.98180
7    2446612.88630
8    2408820.15000
9    2377538.51330
10   2427584.31820
11   2413549.43420
12   2436393.31300
13   2461238.03590
14   2428791.88800
15   2408134.15150
16   2420666.78230
17   2416416.99910
18   1935740.75570
19   2438762.22170
20   2424049.24390
21   2390357.70110
22   2373316.69130
23   2222322.20820
24   2385938.03540
25   2367639.27920
26   2348361.50290
27   2349422.80880
28   2342397.39310
29   2352071.32520
30   2327818.83190
31   2256983.56440
32   2278557.91960
33   2130897.11990
34   2340330.57210
35   2347389.20970
36   2395873.47130
37   2381922.61590
38   2389208.09170
39   1636855.10740
40   1987979.88150
41   2380211.42480
42   2354862.01530
43   2352138.09610
44   2376857.91690
45   2374735.38170
46   2365829.11130
47   2392455.56440
48   2423054.61350
49   2419341.33950
50   2402847.50030
51   2409934.38290
52   2118329.33200
Name: 행정동코드, dtype: float64

In [26]:
c = pd.DataFrame(mean_of_week)
d = pd.DataFrame(median_of_week)

In [27]:
population_of_week = pd.concat([c,d], axis=1, join='inner')     # 데이터프레임 합치기
population_of_week

           행정동코드         행정동코드
주차
1  2277694.87363 2436935.07840
2  2277186.64919 2399645.26620
3  2161357.25464 2427901.10160
4  2040718.32324 1949830.56990
5  2311921.51056 2456022.50270
6  2301993.85487 2441897.98180
7  2306446.06117 2446612.88630
8  2278192.59964 2408820.15000
9  2187747.70669 2377538.51330
10 2275595.24661 2427584.31820
11 2281528.92817 2413549.43420
12 2298564.97376 2436393.31300
13 2355329.80621 2461238.03590
14 2289233.20851 2428791.88800
15 2266175.24689 2408134.15150
16 2297811.45591 2420666.78230
17 2273595.26109 2416416.99910
18 2098005.38601 1935740.75570
19 2308241.37421 2438762.22170
20 2295376.04601 2424049.24390
21 2230369.51641 2390357.70110
22 2174174.63093 2373316.69130
23 2142143.92326 2222322.20820
24 2243076.48923 2385938.03540
25 2228087.94433 2367639.27920
26 2205836.39874 2348361.50290
27 2210481.55244 2349422.80880
28 2199670.65727 2342397.39310
29 2202740.07590 2352071.32520
30 2190476.56976 2327818.83190
31 2132416.16906 2256983.56440
32 2154983.56673 2278557.91960
33 2094676.75620 2130897.11990
34 2200714.01126 2340330.57210
35 2222733.52410 2347389.20970
36 2254769.55184 2395873.47130
37 2247452.33347 2381922.61590
38 2323857.11006 2389208.09170
39 1908907.42016 1636855.10740
40 2101058.09316 1987979.88150
41 2173989.40371 2380211.42480
42 2221382.28829 2354862.01530
43 2242426.10380 2352138.09610
44 2248876.69864 2376857.91690
45 2229983.08331 2374735.38170
46 2236852.30690 2365829.11130
47 2261033.06174 2392455.56440
48 2266906.70393 2423054.61350
49 2298517.90724 2419341.33950
50 2272612.99151 2402847.50030
51 2307851.24006 2409934.38290
52 2103677.08924 2118329.33200

In [28]:
population_of_week.columns = ['유동인구수(평균)', '유동인구수(중앙값)']   # 컬럼명 변경
population_of_week = population_of_week.astype('int')
population_of_week

       유동인구수(평균)    유동인구수(중앙값)
주차
1  2277694.87363 2436935.07840
2  2277186.64919 2399645.26620
3  2161357.25464 2427901.10160
4  2040718.32324 1949830.56990
5  2311921.51056 2456022.50270
6  2301993.85487 2441897.98180
7  2306446.06117 2446612.88630
8  2278192.59964 2408820.15000
9  2187747.70669 2377538.51330
10 2275595.24661 2427584.31820
11 2281528.92817 2413549.43420
12 2298564.97376 2436393.31300
13 2355329.80621 2461238.03590
14 2289233.20851 2428791.88800
15 2266175.24689 2408134.15150
16 2297811.45591 2420666.78230
17 2273595.26109 2416416.99910
18 2098005.38601 1935740.75570
19 2308241.37421 2438762.22170
20 2295376.04601 2424049.24390
21 2230369.51641 2390357.70110
22 2174174.63093 2373316.69130
23 2142143.92326 2222322.20820
24 2243076.48923 2385938.03540
25 2228087.94433 2367639.27920
26 2205836.39874 2348361.50290
27 2210481.55244 2349422.80880
28 2199670.65727 2342397.39310
29 2202740.07590 2352071.32520
30 2190476.56976 2327818.83190
31 2132416.16906 2256983.56440
32 2154983.56673 2278557.91960
33 2094676.75620 2130897.11990
34 2200714.01126 2340330.57210
35 2222733.52410 2347389.20970
36 2254769.55184 2395873.47130
37 2247452.33347 2381922.61590
38 2323857.11006 2389208.09170
39 1908907.42016 1636855.10740
40 2101058.09316 1987979.88150
41 2173989.40371 2380211.42480
42 2221382.28829 2354862.01530
43 2242426.10380 2352138.09610
44 2248876.69864 2376857.91690
45 2229983.08331 2374735.38170
46 2236852.30690 2365829.11130
47 2261033.06174 2392455.56440
48 2266906.70393 2423054.61350
49 2298517.90724 2419341.33950
50 2272612.99151 2402847.50030
51 2307851.24006 2409934.38290
52 2103677.08924 2118329.33200

In [33]:
'''
population_of_day.to_csv("성수동_요일별_평균유동인구수.csv", index=True, encoding='utf-8-sig')
population_of_week.to_csv("성수동_주차별_평균유동인구수.csv", index=True, encoding='utf-8-sig')
'''