In [2]:
import requests
import pprint 
import json 
import pandas as pd 
from urllib.request import Request , urlopen
import urllib.request
from urllib.parse import urlencode, quote_plus
import math
import os

In [3]:
pip install xlrd

Requirement already satisfied: xlrd in /Users/leereh/anaconda3/envs/ssp_ws/lib/python3.11/site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [4]:
code = [11200650,11200660,11200670,11200690]

In [5]:
# path = "./행정동단위 데이터/"

In [5]:
# data1 = pd.read_csv("./행정동단위 데이터/LOCAL_PEOPLE_DONG_202301.csv")
# data2 = pd.read_csv("./행정동단위 데이터/LOCAL_PEOPLE_DONG_202302.csv")
# data3 = pd.read_csv("./행정동단위 데이터/LOCAL_PEOPLE_DONG_202303.csv")
# data4 = pd.read_csv("./행정동단위 데이터/LOCAL_PEOPLE_DONG_202304.csv")
# data5 = pd.read_csv("./행정동단위 데이터/LOCAL_PEOPLE_DONG_202305.csv")
# data6 = pd.read_csv("./행정동단위 데이터/LOCAL_PEOPLE_DONG_202306.csv")
# data7 = pd.read_csv("./행정동단위 데이터/LOCAL_PEOPLE_DONG_202307.csv")
# data8 = pd.read_csv("./행정동단위 데이터/LOCAL_PEOPLE_DONG_202308.csv")
# data9 = pd.read_csv("./행정동단위 데이터/LOCAL_PEOPLE_DONG_202309.csv")
# data10 = pd.read_csv("./행정동단위 데이터/LOCAL_PEOPLE_DONG_202310.csv")
# data11 = pd.read_csv("./행정동단위 데이터/LOCAL_PEOPLE_DONG_202311.csv")
# data12 = pd.read_csv("./행정동단위 데이터/LOCAL_PEOPLE_DONG_202312.csv")

In [9]:
path = './행정동단위 데이터/'

In [7]:
import pandas as pd
print(pd.__version__)

2.1.2

In [10]:
# 여러 file 합쳐서 Dataframe 형성 
file_list = os.listdir(path)
print(file_list)
file_list_csv = [file for file in file_list if file.endswith('csv')]
print(file_list_csv)
df_total = pd.DataFrame() 

for file in file_list_csv:
    df= pd.read_csv(path+file, dtype = 'object')
        
    df_total = pd.concat([df_total,df],axis = 0)

print(df_total.head()) # Columns 만 확인

['LOCAL_PEOPLE_DONG_201908.csv', 'LOCAL_PEOPLE_DONG_201909.csv', 'LOCAL_PEOPLE_DONG_201907.csv', 'LOCAL_PEOPLE_DONG_201906.csv', 'LOCAL_PEOPLE_DONG_201912.csv', 'LOCAL_PEOPLE_DONG_201904.csv', 'LOCAL_PEOPLE_DONG_201910.csv', 'LOCAL_PEOPLE_DONG_201911.csv', 'LOCAL_PEOPLE_DONG_201905.csv', 'LOCAL_PEOPLE_DONG_201901.csv', 'LOCAL_PEOPLE_DONG_201902.csv', 'LOCAL_PEOPLE_DONG_201903.csv']
['LOCAL_PEOPLE_DONG_201908.csv', 'LOCAL_PEOPLE_DONG_201909.csv', 'LOCAL_PEOPLE_DONG_201907.csv', 'LOCAL_PEOPLE_DONG_201906.csv', 'LOCAL_PEOPLE_DONG_201912.csv', 'LOCAL_PEOPLE_DONG_201904.csv', 'LOCAL_PEOPLE_DONG_201910.csv', 'LOCAL_PEOPLE_DONG_201911.csv', 'LOCAL_PEOPLE_DONG_201905.csv', 'LOCAL_PEOPLE_DONG_201901.csv', 'LOCAL_PEOPLE_DONG_201902.csv', 'LOCAL_PEOPLE_DONG_201903.csv']

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xb1 in position 1: invalid start byte

In [9]:
#column확인 
df_total.columns

Index(['기준일ID', '시간대구분', '행정동코드', '총생활인구수', '남자0세부터9세생활인구수', '남자10세부터14세생활인구수',
       '남자15세부터19세생활인구수', '남자20세부터24세생활인구수', '남자25세부터29세생활인구수',
       '남자30세부터34세생활인구수', '남자35세부터39세생활인구수', '남자40세부터44세생활인구수',
       '남자45세부터49세생활인구수', '남자50세부터54세생활인구수', '남자55세부터59세생활인구수',
       '남자60세부터64세생활인구수', '남자65세부터69세생활인구수', '남자70세이상생활인구수', '여자0세부터9세생활인구수',
       '여자10세부터14세생활인구수', '여자15세부터19세생활인구수', '여자20세부터24세생활인구수',
       '여자25세부터29세생활인구수', '여자30세부터34세생활인구수', '여자35세부터39세생활인구수',
       '여자40세부터44세생활인구수', '여자45세부터49세생활인구수', '여자50세부터54세생활인구수',
       '여자55세부터59세생활인구수', '여자60세부터64세생활인구수', '여자65세부터69세생활인구수',
       '여자70세이상생활인구수'],
      dtype='object')

In [9]:
df_total

,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
20230801,00,11110560,18298.601699999999,542.7872,392.6157,506.81360000000001,595.33969999999999,446.8322,388.69999999999999,552.35619999999994,...,461.20409999999998,727.93309999999997,710.87109999999996,802.62429999999995,811.99339999999995,1052.1337000000001,853.36069999999995,661.37260000000003,1649.3225,NaN
20230801,00,11140625,13906.9668,373.7146,206.45060000000001,223.3708,405.73820000000001,564.21259999999995,626.64679999999998,713.00480000000005,...,614.46749999999997,733.05830000000003,487.0924,486.61059999999998,515.84739999999999,494.55189999999999,426.9889,398.16520000000003,1029.1659,NaN
20230801,00,11710631,32190.094300000001,1329.3009,664.65049999999997,641.74850000000004,616.05250000000001,864.06949999999995,1273.8230000000001,1844.442,...,1328.1527000000001,1775.8668,1390.5608999999999,1203.3815999999999,1032.7481,1284.9740999999999,1162.2497000000001,849.65520000000004,1583.2798,NaN
20230801,00,11680630,30591.927500000002,702.7857,770.75059999999996,2789.1997000000001,1002.8662,1118.1946,1127.5347999999999,1270.8617999999999,...,1157.1806999999999,1328.0766000000001,1306.5972999999999,1836.4453000000001,1191.5019,846.26310000000001,564.45540000000005,400.38749999999999,1059.7891999999999,NaN
20230801,00,11440720,22091.3105,520.8461,297.40199999999999,452.76639999999998,634.51350000000002,903.15150000000006,933.202,981.26419999999996,...,1213.9934000000001,1337.482,1145.0461,1150.9408000000001,894.40390000000002,692.62040000000002,547.97410000000002,487.34899999999999,1394.4121,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20231231,23,11110560,18530.063300000002,539.9718,390.5795,448.0172,559.95249999999999,452.08789999999999,407.13979999999998,535.79539999999997,...,453.10809999999998,596.04039999999998,651.51969999999994,861.9606,867.64909999999998,1055.1084000000001,873.92380000000003,650.82039999999995,1780.7789,NaN
20231231,23,11110670,6238.8665000000001,53.9233,37.462600000000002,94.345100000000002,268.19159999999999,237.25710000000001,255.28659999999999,252.928,...,178.45189999999999,224.3168,196.25389999999999,221.3398,266.79489999999998,268.66000000000003,271.62,211.7809,453.40159999999997,NaN
20231231,23,11740690,5271.8468999999996,229.7714,174.1429,270.62639999999999,125.4847,128.11349999999999,104.2209,191.84350000000001,...,129.89760000000001,193.40530000000001,232.24449999999999,244.52090000000001,178.3818,237.0907,178.65119999999999,152.464,432.73289999999997,NaN
20231231,23,11560720,25025.5448,311.2179,166.3972,387.16149999999999,611.45870000000002,786.64490000000001,986.63919999999996,1493.6410000000001,...,914.87289999999996,1191.6953000000001,886.20439999999996,1117.4194,1154.0607,1261.0462,1044.9525000000001,718.29129999999998,1610.7936999999999,NaN
20231231,23,11680580,21396.355500000001,762.1061,448.45850000000002,707.95389999999998,622.8537,803.04430000000002,860.94100000000003,1052.1018999999999,...,924.78769999999997,1040.1387,895.71199999999999,997.4923,848.23900000000003,661.70839999999998,588.41060000000004,455.03190000000001,926.49350000000004,NaN

In [10]:
df_total.reset_index(inplace=True)

In [11]:
df_total.shape[1]

33

In [12]:
df_total.rename(columns = {'index':'기준일ID','기준일ID' :'시간대구분', '시간대구분':'행정동코드', '행정동코드':'총생활인구수','총생활인구수': '남자0세부터9세생활인구수',
       '남자0세부터9세생활인구수' : '남자10세부터14세생활인구수', '남자10세부터14세생활인구수': '남자15세부터19세생활인구수', '남자15세부터19세생활인구수':'남자20세부터24세생활인구수',
       '남자20세부터24세생활인구수':'남자25세부터29세생활인구수', '남자25세부터29세생활인구수':'남자30세부터34세생활인구수', '남자30세부터34세생활인구수':'남자35세부터39세생활인구수',
       '남자35세부터39세생활인구수':'남자40세부터44세생활인구수', '남자40세부터44세생활인구수':'남자45세부터49세생활인구수','남자45세부터49세생활인구수': '남자50세부터54세생활인구수',
       '남자50세부터54세생활인구수':'남자55세부터59세생활인구수','남자55세부터59세생활인구수': '남자60세부터64세생활인구수', '남자60세부터64세생활인구수':'남자65세부터69세생활인구수', '남자65세부터69세생활인구수':'남자70세이상생활인구수',
       '남자70세이상생활인구수':'여자0세부터9세생활인구수', '여자0세부터9세생활인구수':'여자10세부터14세생활인구수', '여자10세부터14세생활인구수':'여자15세부터19세생활인구수',
       '여자15세부터19세생활인구수':'여자20세부터24세생활인구수', '여자20세부터24세생활인구수':'여자25세부터29세생활인구수', '여자25세부터29세생활인구수':'여자30세부터34세생활인구수',
       '여자30세부터34세생활인구수':'여자35세부터39세생활인구수', '여자35세부터39세생활인구수':'여자40세부터44세생활인구수', '여자40세부터44세생활인구수':'여자45세부터49세생활인구수',
       '여자45세부터49세생활인구수':'여자50세부터54세생활인구수', '여자50세부터54세생활인구수':'여자55세부터59세생활인구수', '여자55세부터59세생활인구수':'여자60세부터64세생활인구수',
       '여자60세부터64세생활인구수':'여자65세부터69세생활인구수', '여자65세부터69세생활인구수':'여자70세이상생활인구수','여자70세이상생활인구수':'null'}, inplace = True)

In [13]:
df_total.head()

,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수,null
0,20230801,00,11110560,18298.601699999999,542.7872,392.6157,506.81360000000001,595.33969999999999,446.8322,388.69999999999999,...,461.20409999999998,727.93309999999997,710.87109999999996,802.62429999999995,811.99339999999995,1052.1337000000001,853.36069999999995,661.37260000000003,1649.3225,NaN
1,20230801,00,11140625,13906.9668,373.7146,206.45060000000001,223.3708,405.73820000000001,564.21259999999995,626.64679999999998,...,614.46749999999997,733.05830000000003,487.0924,486.61059999999998,515.84739999999999,494.55189999999999,426.9889,398.16520000000003,1029.1659,NaN
2,20230801,00,11710631,32190.094300000001,1329.3009,664.65049999999997,641.74850000000004,616.05250000000001,864.06949999999995,1273.8230000000001,...,1328.1527000000001,1775.8668,1390.5608999999999,1203.3815999999999,1032.7481,1284.9740999999999,1162.2497000000001,849.65520000000004,1583.2798,NaN
3,20230801,00,11680630,30591.927500000002,702.7857,770.75059999999996,2789.1997000000001,1002.8662,1118.1946,1127.5347999999999,...,1157.1806999999999,1328.0766000000001,1306.5972999999999,1836.4453000000001,1191.5019,846.26310000000001,564.45540000000005,400.38749999999999,1059.7891999999999,NaN
4,20230801,00,11440720,22091.3105,520.8461,297.40199999999999,452.76639999999998,634.51350000000002,903.15150000000006,933.202,...,1213.9934000000001,1337.482,1145.0461,1150.9408000000001,894.40390000000002,692.62040000000002,547.97410000000002,487.34899999999999,1394.4121,NaN

In [16]:
# df_total = df_total.drop(columns = ['null'])

In [18]:
# df_total[df_total.행정동코드 == '11200650']

### 분석 대상 
## 평일평균 유동인구수 , 주말평균 유동인구수 , 주별 평균

In [19]:
# seongsu 지역만 filtering 
df_total = df_total[(df_total['행정동코드'] == '11200650') | (df_total['행정동코드'] == '11200660') | (df_total['행정동코드'] == '11200670') | (df_total['행정동코드'] == '11200690')]

In [20]:
df_total.head()

,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
226,20230801,00,11200650,14379.9722,436.4331,210.05869999999999,235.98009999999999,458.24189999999999,646.66340000000002,710.38210000000004,...,630.15880000000004,727.02179999999998,817.47339999999997,491.12119999999999,491.74110000000002,590.63070000000005,670.3623,546.10509999999999,344.47359999999998,697.59029999999996
255,20230801,00,11200670,16536.009099999999,512.584,228.63409999999999,252.65469999999999,438.24169999999998,758.36900000000003,729.84929999999997,...,723.10820000000001,650.67430000000002,761.18299999999999,629.01859999999999,521.75390000000004,666.71849999999995,732.44129999999996,608.12400000000002,454.4316,779.84119999999996
271,20230801,00,11200660,14456.122799999999,437.157,197.17959999999999,271.04539999999997,376.84519999999998,631.41790000000003,794.10580000000004,...,714.33010000000002,723.87609999999995,743.56529999999998,619.09400000000005,557.02999999999997,489.43650000000002,536.63829999999996,453.85329999999999,329.41609999999997,745.10799999999995
278,20230801,00,11200690,21305.140200000002,591.3989,196.59549999999999,322.8965,657.95849999999996,1166.0923,1094.2365,...,1268.5178000000001,1017.9528,1114.634,852.30619999999999,760.60860000000002,697.85109999999997,703.02670000000001,664.75840000000005,450.26190000000003,1052.6686
454,20230801,01,11200690,21077.882300000001,567.9124,188.78829999999999,340.26319999999998,683.12860000000001,1154.6032,1053.9338,...,1229.9248,995.66409999999996,1087.2892999999999,815.89080000000001,735.91549999999995,736.32230000000004,703.42139999999995,644.52200000000005,454.80500000000001,1047.6831

In [21]:
df_total.columns

Index(['기준일ID', '시간대구분', '행정동코드', '총생활인구수', '남자0세부터9세생활인구수', '남자10세부터14세생활인구수',
       '남자15세부터19세생활인구수', '남자20세부터24세생활인구수', '남자25세부터29세생활인구수',
       '남자30세부터34세생활인구수', '남자35세부터39세생활인구수', '남자40세부터44세생활인구수',
       '남자45세부터49세생활인구수', '남자50세부터54세생활인구수', '남자55세부터59세생활인구수',
       '남자60세부터64세생활인구수', '남자65세부터69세생활인구수', '남자70세이상생활인구수', '여자0세부터9세생활인구수',
       '여자10세부터14세생활인구수', '여자15세부터19세생활인구수', '여자20세부터24세생활인구수',
       '여자25세부터29세생활인구수', '여자30세부터34세생활인구수', '여자35세부터39세생활인구수',
       '여자40세부터44세생활인구수', '여자45세부터49세생활인구수', '여자50세부터54세생활인구수',
       '여자55세부터59세생활인구수', '여자60세부터64세생활인구수', '여자65세부터69세생활인구수',
       '여자70세이상생활인구수'],
      dtype='object')

In [23]:
df_total = df_total.astype({'총생활인구수':'float','남자0세부터9세생활인구수':'float','남자10세부터14세생활인구수':'float','남자15세부터19세생활인구수':'float','남자20세부터24세생활인구수':'float','남자25세부터29세생활인구수':'float','남자30세부터34세생활인구수':'float','남자35세부터39세생활인구수':'float','남자40세부터44세생활인구수':'float','남자45세부터49세생활인구수':'float','남자50세부터54세생활인구수':'float','남자55세부터59세생활인구수':'float','남자60세부터64세생활인구수':'float','남자65세부터69세생활인구수':'float','남자70세이상생활인구수':'float','총생활인구수':'float','여자0세부터9세생활인구수':'float','여자10세부터14세생활인구수':'float','여자15세부터19세생활인구수':'float','여자20세부터24세생활인구수':'float','여자25세부터29세생활인구수':'float','여자30세부터34세생활인구수':'float','여자35세부터39세생활인구수':'float','여자40세부터44세생활인구수':'float','여자45세부터49세생활인구수':'float','여자50세부터54세생활인구수':'float','여자55세부터59세생활인구수':'float','여자60세부터64세생활인구수':'float','여자65세부터69세생활인구수':'float','여자70세이상생활인구수':'float'})

In [75]:
df_total.to_csv('row_data_성수동2023.csv', encoding = 'utf-8-sig')

In [24]:
df_man = df_total.iloc[:,[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17]]

In [84]:
total_man = df_man.groupby('기준일ID').sum().reset_index()
# total_man.drop(total_man.columns[1:3],axis = 1, inplace=True)
total_man.to_csv('성수남성유동인구수.csv',encoding='utf-8-sig')

In [67]:
total_woman = df_woman.groupby('기준일ID').sum().reset_index()
total_woman.drop(total_woman.columns[1:3],axis = 1,inplace=True)

In [85]:
total_woman.to_csv('성수여성유동인구수.csv',encoding='utf-8-sig')
total_woman

,기준일ID,총생활인구수,여자0세부터9세생활인구수,여자10세부터14세생활인구수,여자15세부터19세생활인구수,여자20세부터24세생활인구수,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,20230101,1731224.21,49514.39,22247.55,39660.12,76403.26,82880.30,78771.04,85164.96,60682.94,62555.77,63593.80,67929.27,56037.33,40131.85,87631.19
1,20230102,2364710.70,45479.60,20421.85,40874.40,107134.20,149179.59,127740.96,121561.47,85483.58,85001.77,79333.71,80952.93,63234.14,42169.38,91217.35
2,20230103,2436935.08,44711.51,20112.50,42766.91,116571.40,157607.26,135919.05,127156.27,89363.73,86292.00,81148.97,82264.37,63157.81,42726.38,91480.70
3,20230104,2456585.69,47865.52,21390.83,41658.28,116528.84,160079.52,137274.73,128560.21,89625.23,87470.19,81084.17,82892.31,63760.73,43222.47,92413.17
4,20230105,2452120.02,46725.13,20801.65,42846.03,118796.42,162910.08,137835.80,127696.78,90680.71,84592.05,82423.40,82370.37,64461.84,42485.70,92298.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,20231227,2452257.37,44899.47,20003.85,49831.17,136837.17,164558.84,136791.89,131159.89,91043.16,87648.10,85233.22,80681.13,63425.30,43488.20,86058.12
361,20231228,2435620.35,44092.69,19655.69,47543.12,134671.57,160294.85,134273.11,129450.43,92530.31,86986.04,84362.92,80364.82,64231.06,43647.91,86462.00
362,20231229,2262521.02,44074.13,19615.35,47603.52,123781.76,145894.45,121592.03,121607.01,82972.99,82434.98,81213.43,77119.04,62274.75,42117.83,82561.45
363,20231230,1818496.33,46215.04,20535.47,45777.27,101753.78,104578.02,89347.40,90217.10,63066.38,62941.09,65510.49,65897.79,56118.45,39410.73,82451.14
364,20231231,1738770.13,46436.93,20632.77,46585.39,90376.33,94495.27,80411.65,84827.64,61459.07,61495.17,63211.94,63214.72,53840.66,39212.04,80861.95

In [26]:
df_woman = df_total.iloc[:,[0,1,2,3,18,19,20,21,22,23,24,25,26,27,28,29,30,31]]

In [56]:
df_woman.to_csv("여성인구수.csv",encoding='utf-8-sig')

In [ ]:
# 남자 vs 여자 
# 남자 중 나이 세분화 
# 여자 중 나이 세분화

In [28]:
df_total = df_total.astype({'총생활인구수':'float'})

In [29]:
# 지수코드 변환 
pd.options.display.float_format = '{:.2f}'.format

In [30]:
#성수 전체 유동인구수
seongsu = df_total.groupby('기준일ID')['총생활인구수'].sum()

In [77]:
df_total.groupby('기준일ID').sum()

,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,남자35세부터39세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
기준일ID,,,,,,,,,,,,,,,,,,,,,
20230101,0000000001010101020202020303030304040404050505...,1120065011200660112006701120069011200660112006...,1731224.21,56704.95,24000.73,31449.79,60471.11,80171.14,82953.62,90008.38,...,82880.30,78771.04,85164.96,60682.94,62555.77,63593.80,67929.27,56037.33,40131.85,87631.19
20230102,0000000001010101020202020303030304040404050505...,1120066011200650112006701120069011200690112006...,2364710.70,52688.54,22268.41,31277.94,73638.66,126156.97,133009.86,150267.95,...,149179.59,127740.96,121561.47,85483.58,85001.77,79333.71,80952.93,63234.14,42169.38,91217.35
20230103,0000000001010101020202020303030304040404050505...,1120069011200660112006501120067011200660112006...,2436935.08,52243.50,21861.22,31775.04,77363.02,133451.94,139166.07,154886.77,...,157607.26,135919.05,127156.27,89363.73,86292.00,81148.97,82264.37,63157.81,42726.38,91480.70
20230104,0000000001010101020202020303030304040404050505...,1120069011200670112006501120066011200670112006...,2456585.69,51684.99,21556.15,32199.44,79532.66,133838.12,142232.37,154475.24,...,160079.52,137274.73,128560.21,89625.23,87470.19,81084.17,82892.31,63760.73,43222.47,92413.17
20230105,0000000001010101020202020303030304040404050505...,1120065011200660112006701120069011200650112006...,2452120.02,50540.50,21098.80,32172.53,79233.48,136284.84,139619.65,153739.02,...,162910.08,137835.80,127696.78,90680.71,84592.05,82423.40,82370.37,64461.84,42485.70,92298.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20231227,0000000001010101020202020303030304040404050505...,1120069011200650112006701120066011200690112006...,2452257.37,53768.12,22430.69,35857.90,77075.01,132692.27,133775.48,147338.72,...,164558.84,136791.89,131159.89,91043.16,87648.10,85233.22,80681.13,63425.30,43488.20,86058.12
20231228,0000000001010101020202020303030304040404050505...,1120065011200660112006901120067011200660112006...,2435620.35,55086.27,22720.78,34486.03,75524.78,132678.06,132808.24,146711.02,...,160294.85,134273.11,129450.43,92530.31,86986.04,84362.92,80364.82,64231.06,43647.91,86462.00
20231229,0000000001010101020202020303030304040404050505...,1120067011200690112006601120065011200650112006...,2262521.02,50345.70,21047.20,33570.08,72471.51,120601.25,120400.92,132210.84,...,145894.45,121592.03,121607.01,82972.99,82434.98,81213.43,77119.04,62274.75,42117.83,82561.45
20231230,0000000001010101020202020303030304040404050505...,1120066011200650112006701120069011200650112006...,1818496.33,47751.17,20172.77,32210.24,62066.64,92233.39,87628.27,95312.09,...,104578.02,89347.40,90217.10,63066.38,62941.09,65510.49,65897.79,56118.45,39410.73,82451.14
20231231,0000000001010101020202020303030304040404050505...,1120065011200670112006601120069011200670112006...,1738770.13,51502.50,21595.47,32928.60,62337.75,88327.09,83868.21,89757.39,...,94495.27,80411.65,84827.64,61459.07,61495.17,63211.94,63214.72,53840.66,39212.04,80861.95

In [76]:
seongsu.to_csv('성수2023rowdata.csv',encoding='utf-8-sig')

In [31]:
seongsu

기준일ID
20230101   1731224.21
20230102   2364710.70
20230103   2436935.08
20230104   2456585.69
20230105   2452120.02
              ...
20231227   2452257.37
20231228   2435620.35
20231229   2262521.02
20231230   1818496.33
20231231   1738770.13
Name: 총생활인구수, Length: 365, dtype: float64

In [32]:
# import pandas as pd

In [33]:
total_of_day = pd.DataFrame(seongsu)

In [34]:
total_of_day.index

Index(['20230101', '20230102', '20230103', '20230104', '20230105', '20230106',
       '20230107', '20230108', '20230109', '20230110',
       ...
       '20231222', '20231223', '20231224', '20231225', '20231226', '20231227',
       '20231228', '20231229', '20231230', '20231231'],
      dtype='object', name='기준일ID', length=365)

In [35]:
from datetime import datetime, date

In [36]:
week = []
ju = []

for idx, row in total_of_day.iterrows():
    year = str(idx)[:4]
    month = str(idx)[4:6]
    day = str(idx)[6:]
    weekday = date(int(year), int(month), int(day)).weekday()
    
    if weekday > 4 :
        week.append('주말')
        
    else:
        week.append('평일')
    ju.append(datetime(int(year), int(month), int(day)).isocalendar()[1])
    print('행 인덱스 : ',idx)
    print(row['총생활인구수'], '\n')

행 인덱스 :  20230101
1731224.2055

행 인덱스 :  20230102
2364710.6998

행 인덱스 :  20230103
2436935.0784

행 인덱스 :  20230104
2456585.6932

행 인덱스 :  20230105
2452120.0193

행 인덱스 :  20230106
2450415.274

행 인덱스 :  20230107
1952156.9626

행 인덱스 :  20230108
1830940.3881

행 인덱스 :  20230109
2393560.2321

행 인덱스 :  20230110
2451608.5473

행 인덱스 :  20230111
2450614.9221

행 인덱스 :  20230112
2458096.6292

행 인덱스 :  20230113
2399645.2662

행 인덱스 :  20230114
1944784.9856

행 인덱스 :  20230115
1841995.9618

행 인덱스 :  20230116
2427901.1016

행 인덱스 :  20230117
2458808.9441

행 인덱스 :  20230118
2466343.6761

행 인덱스 :  20230119
2428218.1162

행 인덱스 :  20230120
2202425.9215

행 인덱스 :  20230121
1640215.5524

행 인덱스 :  20230122
1505587.4706

행 인덱스 :  20230123
1603485.1179

행 인덱스 :  20230124
1697661.8608

행 인덱스 :  20230125
2348548.2401

행 인덱스 :  20230126
2414074.455

행 인덱스 :  20230127
2433775.0205

행 인덱스 :  20230128
1949830.5699

행 인덱스 :  20230129
1837652.9985

행 인덱스 :  20230130
2438879.1125

행 인덱스 :  20230131
2477200.9753

행 인덱스 :  20230201
2481657.2902

행 인덱스 :  20230202
2479484.3562

행 인덱스 :  20230203
2456022.5027

행 인덱스 :  20230204
1983451.5745

행 인덱스 :  20230205
1866754.7625

행 인덱스 :  20230206
2425255.8026

행 인덱스 :  20230207
2460338.8611

행 인덱스 :  20230208
2479678.0176

행 인덱스 :  20230209
2486383.9958

행 인덱스 :  20230210
2441897.9818

행 인덱스 :  20230211
1979624.4315

행 인덱스 :  20230212
1840777.8937

행 인덱스 :  20230213
2395881.3054

행 인덱스 :  20230214
2483934.1863

행 인덱스 :  20230215
2467896.6151

행 인덱스 :  20230216
2510115.3691

행 인덱스 :  20230217
2446612.8863

행 인덱스 :  20230218
1973877.5721

행 인덱스 :  20230219
1866804.4939

행 인덱스 :  20230220
2399661.074

행 인덱스 :  20230221
2446702.8048

행 인덱스 :  20230222
2445030.5222

행 인덱스 :  20230223
2438976.174

행 인덱스 :  20230224
2408820.15

행 인덱스 :  20230225
1966649.3682

행 인덱스 :  20230226
1841508.1043

행 인덱스 :  20230227
2406241.0836

행 인덱스 :  20230228
2445459.8755

행 인덱스 :  20230301
1922945.1125

행 인덱스 :  20230302
2377538.5133

행 인덱스 :  20230303
2387132.2664

행 인덱스 :  20230304
1941296.068

행 인덱스 :  20230305
1833621.0275

행 인덱스 :  20230306
2403099.2754

행 인덱스 :  20230307
2441696.3332

행 인덱스 :  20230308
2427584.3182

행 인덱스 :  20230309
2437253.994

행 인덱스 :  20230310
2431072.414

행 인덱스 :  20230311
1999969.3845

행 인덱스 :  20230312
1788491.007

행 인덱스 :  20230313
2371240.576

행 인덱스 :  20230314
2434334.5907

행 인덱스 :  20230315
2421117.6611

행 인덱스 :  20230316
2435174.0007

행 인덱스 :  20230317
2413549.4342

행 인덱스 :  20230318
2004795.5467

행 인덱스 :  20230319
1890490.6878

행 인덱스 :  20230320
2390961.2577

행 인덱스 :  20230321
2444580.9604

행 인덱스 :  20230322
2445802.048

행 인덱스 :  20230323
2452296.2029

행 인덱스 :  20230324
2436393.313

행 인덱스 :  20230325
2023163.531

행 인덱스 :  20230326
1896757.5033

행 인덱스 :  20230327
2408501.2419

행 인덱스 :  20230328
2469764.6514

행 인덱스 :  20230329
2461238.0359

행 인덱스 :  20230330
2476780.9392

행 인덱스 :  20230331
2500465.0817

행 인덱스 :  20230401
2154796.6675

행 인덱스 :  20230402
2015762.0259

행 인덱스 :  20230403
2455826.287

행 인덱스 :  20230404
2451990.1261

행 인덱스 :  20230405
2401278.2723

행 인덱스 :  20230406
2428791.888

행 인덱스 :  20230407
2434471.0234

행 인덱스 :  20230408
1993819.1781

행 인덱스 :  20230409
1858455.6847

행 인덱스 :  20230410
2396989.0536

행 인덱스 :  20230411
2408134.1515

행 인덱스 :  20230412
2429991.6974

행 인덱스 :  20230413
2439397.3716

행 인덱스 :  20230414
2417532.2052

행 인덱스 :  20230415
1926521.7369

행 인덱스 :  20230416
1844660.512

행 인덱스 :  20230417
2406226.186

행 인덱스 :  20230418
2420666.7823

행 인덱스 :  20230419
2508522.4551

행 인덱스 :  20230420
2440921.1093

행 인덱스 :  20230421
2426465.3693

행 인덱스 :  20230422
2020734.593

행 인덱스 :  20230423
1861143.6964

행 인덱스 :  20230424
2389588.6335

행 인덱스 :  20230425
2416416.9991

행 인덱스 :  20230426
2441054.245

행 인덱스 :  20230427
2466336.2807

행 인덱스 :  20230428
2456056.0325

행 인덱스 :  20230429
1881400.2741

행 인덱스 :  20230430
1864314.3627

행 인덱스 :  20230501
1935740.7557

행 인덱스 :  20230502
2433668.8468

행 인덱스 :  20230503
2450034.4372

행 인덱스 :  20230504
2445918.1806

행 인덱스 :  20230505
1796056.86

행 인덱스 :  20230506
1806496.9674

행 인덱스 :  20230507
1818121.6543999999

행 인덱스 :  20230508
2382688.2977

행 인덱스 :  20230509
2438762.2217

행 인덱스 :  20230510
2467359.4922

행 인덱스 :  20230511
2446166.514

행 인덱스 :  20230512
2461079.9272

행 인덱스 :  20230513
2047748.6532

행 인덱스 :  20230514
1913884.5135

행 인덱스 :  20230515
2394227.4592

행 인덱스 :  20230516
2457895.2114

행 인덱스 :  20230517
2447222.3347

행 인덱스 :  20230518
2424049.2439

행 인덱스 :  20230519
2456871.8514

행 인덱스 :  20230520
2023174.2952

행 인덱스 :  20230521
1864191.9263

행 인덱스 :  20230522
2390357.7011

행 인덱스 :  20230523
2430390.0841

행 인덱스 :  20230524
2425245.064

행 인덱스 :  20230525
2432412.8977

행 인덱스 :  20230526
2384031.3551

행 인덱스 :  20230527
1841627.0449

행 인덱스 :  20230528
1708522.468

행 인덱스 :  20230529
1840935.042

행 인덱스 :  20230530
2373316.6913

행 인덱스 :  20230531
2404072.7669

행 인덱스 :  20230601
2404717.7113

행 인덱스 :  20230602
2400519.9106

행 인덱스 :  20230603
1955311.7517

행 인덱스 :  20230604
1840348.5427

행 인덱스 :  20230605
2222322.2081999998

행 인덱스 :  20230606
1877005.0458

행 인덱스 :  20230607
2379812.8902

행 인덱스 :  20230608
2381064.709

행 인덱스 :  20230609
2391899.9198

행 인덱스 :  20230610
1915441.6584

행 인덱스 :  20230611
1827461.0314

행 인덱스 :  20230612
2338989.6069

행 인덱스 :  20230613
2393097.7574

행 인덱스 :  20230614
2385938.0354

행 인덱스 :  20230615
2404748.0119

행 인덱스 :  20230616
2390800.8797

행 인덱스 :  20230617
1976526.4056

행 인덱스 :  20230618
1811434.7277

행 인덱스 :  20230619
2345937.6558

행 인덱스 :  20230620
2393353.3793

행 인덱스 :  20230621
2383756.0066

행 인덱스 :  20230622
2410159.8063

행 인덱스 :  20230623
2367639.2792

행 인덱스 :  20230624
1908291.8193

행 인덱스 :  20230625
1787477.6638

행 인덱스 :  20230626
2327317.9446

행 인덱스 :  20230627
2399099.8081

행 인덱스 :  20230628
2406282.6122

행 인덱스 :  20230629
2349118.2328

행 인덱스 :  20230630
2348361.5029

행 인덱스 :  20230701
1865314.3333

행 인덱스 :  20230702
1745360.3573

행 인덱스 :  20230703
2338861.4828

행 인덱스 :  20230704
2359160.5122

행 인덱스 :  20230705
2383428.1129

행 인덱스 :  20230706
2393965.5665

행 인덱스 :  20230707
2349422.8087999998

행 인덱스 :  20230708
1899592.584

행 인덱스 :  20230709
1748939.7999

행 인덱스 :  20230710
2344919.2204

행 인덱스 :  20230711
2363563.953

행 인덱스 :  20230712
2397965.0385

행 인덱스 :  20230713
2342397.3931

행 인덱스 :  20230714
2310543.5807

행 인덱스 :  20230715
1859228.1561

행 인덱스 :  20230716
1779077.2591

행 인덱스 :  20230717
2352071.3252

행 인덱스 :  20230718
2372572.875

행 인덱스 :  20230719
2403731.2805

행 인덱스 :  20230720
2388661.3943

행 인덱스 :  20230721
2349962.9369

행 인덱스 :  20230722
1842575.6568

행 인덱스 :  20230723
1709605.0626

행 인덱스 :  20230724
2327818.8319

행 인덱스 :  20230725
2371270.859

행 인덱스 :  20230726
2366901.8664

행 인덱스 :  20230727
2375669.1703

행 인덱스 :  20230728
2316977.9724

행 인덱스 :  20230729
1841084.98

행 인덱스 :  20230730
1733612.3083

행 인덱스 :  20230731
2256983.5644

행 인덱스 :  20230801
2306855.4092

행 인덱스 :  20230802
2309261.0537

행 인덱스 :  20230803
2309122.1164

행 인덱스 :  20230804
2250781.5262

행 인덱스 :  20230805
1795453.5053

행 인덱스 :  20230806
1698456.0082

행 인덱스 :  20230807
2295275.6374

행 인덱스 :  20230808
2345554.5041

행 인덱스 :  20230809
2353609.4216

행 인덱스 :  20230810
2208171.4141

행 인덱스 :  20230811
2278557.9196

행 인덱스 :  20230812
1849485.6459

행 인덱스 :  20230813
1754230.4244

행 인덱스 :  20230814
2130897.1199

행 인덱스 :  20230815
1818332.7562

행 인덱스 :  20230816
2350299.9561

행 인덱스 :  20230817
2372652.9826

행 인덱스 :  20230818
2352679.2792

행 인덱스 :  20230819
1871194.4

행 인덱스 :  20230820
1766680.7994

행 인덱스 :  20230821
2320868.7936

행 인덱스 :  20230822
2349460.5771

행 인덱스 :  20230823
2344792.6413

행 인덱스 :  20230824
2352816.7674

행 인덱스 :  20230825
2340330.5721

행 인덱스 :  20230826
1905271.0291

행 인덱스 :  20230827
1791457.6982

행 인덱스 :  20230828
2308893.7062

행 인덱스 :  20230829
2347389.2097

행 인덱스 :  20230830
2377218.5417

행 인덱스 :  20230831
2410569.3547

행 인덱스 :  20230901
2384451.4522

행 인덱스 :  20230902
1931810.1385

행 인덱스 :  20230903
1798802.2657

행 인덱스 :  20230904
2348671.5143

행 인덱스 :  20230905
2395873.4713

행 인덱스 :  20230906
2405795.7146

행 인덱스 :  20230907
2409854.8421

행 인덱스 :  20230908
2413006.5595

행 인덱스 :  20230909
1962595.4929

행 인덱스 :  20230910
1847589.2682

행 인덱스 :  20230911
2361579.4223

행 인덱스 :  20230912
2419835.2369

행 인덱스 :  20230913
2392601.9547

행 인덱스 :  20230914
2429706.2565

행 인덱스 :  20230915
2381922.6159

행 인덱스 :  20230916
1922711.1381

행 인덱스 :  20230917
1823809.7099

행 인덱스 :  20230918
2375249.9722

행 인덱스 :  20230919
2418888.8217

행 인덱스 :  20230920
2389208.0917

행 인덱스 :  20230921
2420979.7381

행 인덱스 :  20230922
2454151.9162

행 인덱스 :  20230923
2163571.5816

행 인덱스 :  20230924
2044949.6489

행 인덱스 :  20230925
2546842.5042

행 인덱스 :  20230926
2402228.434

행 인덱스 :  20230927
2199474.5339

행 인덱스 :  20230928
1601243.4651

행 인덱스 :  20230929
1466725.6142

행 인덱스 :  20230930
1508982.2823

행 인덱스 :  20231001
1636855.1074

행 인덱스 :  20231002
1770852.7833

행 인덱스 :  20231003
1802957.6612

행 인덱스 :  20231004
2357524.1433

행 인덱스 :  20231005
2399379.4571

행 인덱스 :  20231006
2457024.3964

행 인덱스 :  20231007
1987979.8815

행 인덱스 :  20231008
1931688.3293

행 인덱스 :  20231009
1893227.245

행 인덱스 :  20231010
2380211.4248

행 인덱스 :  20231011
2406816.2509

행 인덱스 :  20231012
2401216.0862

행 인덱스 :  20231013
2390536.7612

행 인덱스 :  20231014
1904462.7007

행 인덱스 :  20231015
1841455.3572

행 인덱스 :  20231016
2353640.2993

행 인덱스 :  20231017
2364893.183

행 인덱스 :  20231018
2357334.9003

행 인덱스 :  20231019
2354862.0153

행 인덱스 :  20231020
2362217.0082

행 인덱스 :  20231021
1931804.4144000001

행 인덱스 :  20231022
1824924.1975

행 인덱스 :  20231023
2322856.3696

행 인덱스 :  20231024
2382072.5101

행 인덱스 :  20231025
2365298.5875

행 인덱스 :  20231026
2380591.109

행 인덱스 :  20231027
2352138.0961

행 인덱스 :  20231028
2014839.3079

행 인덱스 :  20231029
1879186.7464

행 인덱스 :  20231030
2347635.7507

행 인덱스 :  20231031
2386737.7477

행 인덱스 :  20231101
2409460.9031

행 인덱스 :  20231102
2426814.2072

행 인덱스 :  20231103
2376857.9169

행 인덱스 :  20231104
2004102.0378999999

행 인덱스 :  20231105
1790528.327

행 인덱스 :  20231106
2315106.9761

행 인덱스 :  20231107
2388141.4056

행 인덱스 :  20231108
2379968.0717

행 인덱스 :  20231109
2413361.0993

행 인덱스 :  20231110
2374735.3817

행 인덱스 :  20231111
1925262.036

행 인덱스 :  20231112
1813306.6128

행 인덱스 :  20231113
2332469.6825

행 인덱스 :  20231114
2393687.3609

행 인덱스 :  20231115
2393417.8028

행 인덱스 :  20231116
2365829.1113

행 인덱스 :  20231117
2367462.6411

행 인덱스 :  20231118
1979310.6824

행 인덱스 :  20231119
1825788.8673

행 인덱스 :  20231120
2352802.7568

행 인덱스 :  20231121
2415676.0963

행 인덱스 :  20231122
2430048.3601

행 인덱스 :  20231123
2425444.9549

행 인덱스 :  20231124
2392455.5644

행 인덱스 :  20231125
1959205.163

행 인덱스 :  20231126
1851598.5367

행 인덱스 :  20231127
2353131.466

행 인덱스 :  20231128
2423316.5429000002

행 인덱스 :  20231129
2428651.8304

행 인덱스 :  20231130
2435852.7293

행 인덱스 :  20231201
2423054.6135

행 인덱스 :  20231202
1961539.2678

행 인덱스 :  20231203
1842800.4775999999

행 인덱스 :  20231204
2387958.7649

행 인덱스 :  20231205
2428249.6109

행 인덱스 :  20231206
2419341.3395

행 인덱스 :  20231207
2438906.0346

행 인덱스 :  20231208
2422986.783

행 인덱스 :  20231209
2034792.0535

행 인덱스 :  20231210
1957390.7643

행 인덱스 :  20231211
2402847.5003

행 인덱스 :  20231212
2409510.7676

행 인덱스 :  20231213
2422439.9294

행 인덱스 :  20231214
2428171.3315

행 인덱스 :  20231215
2382607.2101

행 인덱스 :  20231216
1989028.9788

행 인덱스 :  20231217
1873685.2229

행 인덱스 :  20231218
2387803.3979

행 인덱스 :  20231219
2469434.0336

행 인덱스 :  20231220
2464118.8647

행 인덱스 :  20231221
2447947.0749

행 인덱스 :  20231222
2409934.3829

행 인덱스 :  20231223
2021393.991

행 인덱스 :  20231224
1954326.9354

행 인덱스 :  20231225
1974137.6437

행 인덱스 :  20231226
2416389.6652

행 인덱스 :  20231227
2452257.3727

행 인덱스 :  20231228
2435620.3486

행 인덱스 :  20231229
2262521.0203

행 인덱스 :  20231230
1818496.3292

행 인덱스 :  20231231
1738770.1287

In [37]:
print(week, ju)

['주말', '평일', '평일', '평일', '평일', '평일', '주말', '주말', '평일', '평일', '평일', '평일', '평일', '주말', '주말', '평일', '평일', '평일', '평일', '평일', '주말', '주말', '평일', '평일', '평일', '평일', '평일', '주말', '주말', '평일', '평일', '평일', '평일', '평일', '주말', '주말', '평일', '평일', '평일', '평일', '평일', '주말', '주말', '평일', '평일', '평일', '평일', '평일', '주말', '주말', '평일', '평일', '평일', '평일', '평일', '주말', '주말', '평일', '평일', '평일', '평일', '평일', '주말', '주말', '평일', '평일', '평일', '평일', '평일', '주말', '주말', '평일', '평일', '평일', '평일', '평일', '주말', '주말', '평일', '평일', '평일', '평일', '평일', '주말', '주말', '평일', '평일', '평일', '평일', '평일', '주말', '주말', '평일', '평일', '평일', '평일', '평일', '주말', '주말', '평일', '평일', '평일', '평일', '평일', '주말', '주말', '평일', '평일', '평일', '평일', '평일', '주말', '주말', '평일', '평일', '평일', '평일', '평일', '주말', '주말', '평일', '평일', '평일', '평일', '평일', '주말', '주말', '평일', '평일', '평일', '평일', '평일', '주말', '주말', '평일', '평일', '평일', '평일', '평일', '주말', '주말', '평일', '평일', '평일', '평일', '평일', '주말', '주말', '평일', '평일', '평일', '평일', '평일', '주말', '주말', '평일', '평일', '평일', '평일', '평일', '주말', '주말', '평일', '평일', '평일', '평일', '평일', '주말', '주말', '평일', '평일', '평일', '평일', '평일', '주말', '주말', '평일', '평일', '평일', '평일', '평일', '주말', '주말', '평일', '평일', '평일', '평일', '평일', '주말', '주말', '평일', '평일', '평일', '평일', '평일', '주말', '주말', '평일', '평일', '평일', '평일', '평일', '주말', '주말', '평일', '평일', '평일', '평일', '평일', '주말', '주말', '평일', '평일', '평일', '평일', '평일', '주말', '주말', '평일', '평일', '평일', '평일', '평일', '주말', '주말', '평일', '평일', '평일', '평일', '평일', '주말', '주말', '평일', '평일', '평일', '평일', '평일', '주말', '주말', '평일', '평일', '평일', '평일', '평일', '주말', '주말', '평일', '평일', '평일', '평일', '평일', '주말', '주말', '평일', '평일', '평일', '평일', '평일', '주말', '주말', '평일', '평일', '평일', '평일', '평일', '주말', '주말', '평일', '평일', '평일', '평일', '평일', '주말', '주말', '평일', '평일', '평일', '평일', '평일', '주말', '주말', '평일', '평일', '평일', '평일', '평일', '주말', '주말', '평일', '평일', '평일', '평일', '평일', '주말', '주말', '평일', '평일', '평일', '평일', '평일', '주말', '주말', '평일', '평일', '평일', '평일', '평일', '주말', '주말', '평일', '평일', '평일', '평일', '평일', '주말', '주말', '평일', '평일', '평일', '평일', '평일', '주말', '주말', '평일', '평일', '평일', '평일', '평일', '주말', '주말', '평일', '평일', '평일', '평일', '평일', '주말', '주말', '평일', '평일', '평일', '평일', '평일', '주말', '주말', '평일', '평일', '평일', '평일', '평일', '주말', '주말', '평일', '평일', '평일', '평일', '평일', '주말', '주말', '평일', '평일', '평일', '평일', '평일', '주말', '주말'] [52, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10, 10, 10, 11, 11, 11, 11, 11, 11, 11, 12, 12, 12, 12, 12, 12, 12, 13, 13, 13, 13, 13, 13, 13, 14, 14, 14, 14, 14, 14, 14, 15, 15, 15, 15, 15, 15, 15, 16, 16, 16, 16, 16, 16, 16, 17, 17, 17, 17, 17, 17, 17, 18, 18, 18, 18, 18, 18, 18, 19, 19, 19, 19, 19, 19, 19, 20, 20, 20, 20, 20, 20, 20, 21, 21, 21, 21, 21, 21, 21, 22, 22, 22, 22, 22, 22, 22, 23, 23, 23, 23, 23, 23, 23, 24, 24, 24, 24, 24, 24, 24, 25, 25, 25, 25, 25, 25, 25, 26, 26, 26, 26, 26, 26, 26, 27, 27, 27, 27, 27, 27, 27, 28, 28, 28, 28, 28, 28, 28, 29, 29, 29, 29, 29, 29, 29, 30, 30, 30, 30, 30, 30, 30, 31, 31, 31, 31, 31, 31, 31, 32, 32, 32, 32, 32, 32, 32, 33, 33, 33, 33, 33, 33, 33, 34, 34, 34, 34, 34, 34, 34, 35, 35, 35, 35, 35, 35, 35, 36, 36, 36, 36, 36, 36, 36, 37, 37, 37, 37, 37, 37, 37, 38, 38, 38, 38, 38, 38, 38, 39, 39, 39, 39, 39, 39, 39, 40, 40, 40, 40, 40, 40, 40, 41, 41, 41, 41, 41, 41, 41, 42, 42, 42, 42, 42, 42, 42, 43, 43, 43, 43, 43, 43, 43, 44, 44, 44, 44, 44, 44, 44, 45, 45, 45, 45, 45, 45, 45, 46, 46, 46, 46, 46, 46, 46, 47, 47, 47, 47, 47, 47, 47, 48, 48, 48, 48, 48, 48, 48, 49, 49, 49, 49, 49, 49, 49, 50, 50, 50, 50, 50, 50, 50, 51, 51, 51, 51, 51, 51, 51, 52, 52, 52, 52, 52, 52, 52]

In [38]:
total_of_day['요일'] = week
total_of_day['주차'] = ju

In [39]:
### 통계량 확인 

mean_of_day = total_of_day.groupby('요일')['총생활인구수'].mean()
median_of_day = total_of_day.groupby('요일')['총생활인구수'].median()
mean_of_week = total_of_day.groupby('주차')['총생활인구수'].mean()
median_of_week = total_of_day.groupby('주차')['총생활인구수'].median()

In [40]:
a = pd.DataFrame(mean_of_day)
b = pd.DataFrame(median_of_day)

In [41]:
population_of_day = pd.concat([a,b],axis =1 , join = 'inner')
print(population_of_day)

       총생활인구수     총생활인구수
요일
주말 1877676.72 1866754.76
평일 2365214.53 2399653.17

In [42]:
population_of_day.columns = ['유동인구수(평균)','유동인구수(중앙값)']
population_of_day = population_of_day.astype('int')

In [43]:
mean_of_week = total_of_day.groupby('주차')['총생활인구수'].mean()
median_of_week = total_of_day.groupby('주차')['총생활인구수'].median()

In [44]:
c = pd.DataFrame(mean_of_week)
d = pd.DataFrame(median_of_week)

In [45]:
population_of_week = pd.concat([c,d],axis =1 , join = 'inner')
print(population_of_week)

       총생활인구수     총생활인구수
주차
1  2277694.87 2436935.08
2  2277186.65 2399645.27
3  2161357.25 2427901.10
4  2040718.32 1949830.57
5  2311921.51 2456022.50
6  2301993.85 2441897.98
7  2306446.06 2446612.89
8  2278192.60 2408820.15
9  2187747.71 2377538.51
10 2275595.25 2427584.32
11 2281528.93 2413549.43
12 2298564.97 2436393.31
13 2355329.81 2461238.04
14 2289233.21 2428791.89
15 2266175.25 2408134.15
16 2297811.46 2420666.78
17 2273595.26 2416417.00
18 2098005.39 1935740.76
19 2308241.37 2438762.22
20 2295376.05 2424049.24
21 2230369.52 2390357.70
22 2174174.63 2373316.69
23 2142143.92 2222322.21
24 2243076.49 2385938.04
25 2228087.94 2367639.28
26 2205836.40 2348361.50
27 2210481.55 2349422.81
28 2199670.66 2342397.39
29 2202740.08 2352071.33
30 2190476.57 2327818.83
31 2132416.17 2256983.56
32 2154983.57 2278557.92
33 2094676.76 2130897.12
34 2200714.01 2340330.57
35 2222733.52 2347389.21
36 2254769.55 2395873.47
37 2247452.33 2381922.62
38 2323857.11 2389208.09
39 1908907.42 1636855.11
40 2101058.09 1987979.88
41 2173989.40 2380211.42
42 2221382.29 2354862.02
43 2242426.10 2352138.10
44 2248876.70 2376857.92
45 2229983.08 2374735.38
46 2236852.31 2365829.11
47 2261033.06 2392455.56
48 2266906.70 2423054.61
49 2298517.91 2419341.34
50 2272612.99 2402847.50
51 2307851.24 2409934.38
52 2103677.09 2118329.33

In [46]:
population_of_week.columns = ['유동인구수(평균)','유동인구수(중앙값)']
population_of_week = population_of_week.astype('int')

In [73]:
population_of_day.to_csv('23년 유동인구수_통계.csv', encoding='utf-8-sig' ) # 23년 총 

# df_woman.to_csv("여성인구수.csv",encoding='utf-8-sig')

In [74]:
population_of_week.to_csv('23년 주차별 유동인구수_통계.csv', encoding = 'utf-8-sig') # 23년