In [6]:
import pandas as pd

## 신한카드 데이터 불러오기

In [7]:
df = pd.read_csv('data/신한카드/신한카드.txt', sep='|', encoding='cp949', dtype={'LALXCVL':str, 'LALYCVL':str})

In [8]:
df

,TA_YM,MCT_RY_NM,MCTNM,BRD_NM,ARED,BZNCD,LALXCVL,LALYCVL,EST_AMT_TOT,EST_CNT_TOT,...,여성_60대,소득정보없음,소득3천만이하,소득5천만이하,소득7천만이하,소득1억이하,소득1억초과,생애단계_싱글,생애단계_영유아,생애단계_청소년
0,202312,제과점,찰찰보리식빵,NaN,20230614,암사역,127.128775596857,37.551406284259,28165790,3685,...,14.642,0.996,11.630,41.172,24.582,12.886,8.735,18.161,9.458,28.082
1,202305,일반대중음식,남경호프,NaN,20221116,구로시장,126.885700050511,37.485370522557,4830358,92,...,0.000,8.791,50.549,17.582,7.692,15.385,0.000,2.747,0.000,20.879
2,202304,한식,우래옥,NaN,20110228,광장시장,126.998751392814,37.568242997147,1047688785,11963,...,12.056,0.770,9.374,23.357,18.298,12.408,35.793,29.711,4.760,19.211
3,202307,한식,신신매운갈비찜,NaN,20180717,영등포구청,126.897938335279,37.526654034788,14673697,472,...,3.164,3.603,22.703,46.157,12.919,8.137,6.481,54.809,15.097,9.403
4,202312,일반대중음식,그린바이브 강서구청점,NaN,20220627,화곡동,126.849036473646,37.550542559383,3494638,513,...,2.157,0.000,2.783,45.295,24.648,18.925,8.349,48.756,12.072,30.910
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1386417,202302,일반대중음식,센스,NaN,20190806,장위,127.050192781196,37.616053908518,1738343,18,...,0.000,0.000,0.000,100.000,0.000,0.000,0.000,0.000,0.000,0.000
1386418,202307,한식,김밥천국,김밥천국,20220112,NaN,126.913617387514,37.501002411118,634548,37,...,0.000,0.000,0.000,25.197,16.963,14.770,43.070,43.070,0.000,0.000
1386419,202310,일반대중음식,싱글,NaN,20050915,영등포구청,126.896583794585,37.522604720794,2959109,48,...,0.000,0.000,0.000,100.000,0.000,0.000,0.000,66.887,0.000,33.113
1386420,202308,편의점,세븐일레븐 공릉하나점,NaN,20190620,태릉입구,127.077886070693,37.621688813935,308090,27,...,0.000,0.000,24.129,55.194,0.000,20.677,0.000,0.000,24.129,75.871
1386421,202304,일반대중음식,밀톤,NaN,20200213,석관시장,127.060961245449,37.609139008745,95840,16,...,0.000,0.000,0.000,51.630,0.000,0.000,48.370,0.000,23.913,76.087

## 여의도만 추출

In [10]:
df['BZNCD'] = df['BZNCD'].fillna('')

In [15]:
df2 = df[df['BZNCD'].str.contains('여의')]

In [14]:
df2

,TA_YM,MCT_RY_NM,MCTNM,BRD_NM,ARED,BZNCD,LALXCVL,LALYCVL,EST_AMT_TOT,EST_CNT_TOT,...,여성_60대,소득정보없음,소득3천만이하,소득5천만이하,소득7천만이하,소득1억이하,소득1억초과,생애단계_싱글,생애단계_영유아,생애단계_청소년
78,202304,한식,"홍설, 죠샌드위치 여의도점",NaN,20140314,여의도,126.929846,37.520064,78239626,4404,...,9.027,0.169,9.858,23.407,18.167,13.193,35.205,23.992,5.551,32.426
132,202302,일반대중음식,국가대패&엉터리해장국여의도점,국가대패,20190905,여의도,126.930779,37.518901,79305468,1706,...,3.807,0.425,6.191,23.414,17.502,27.752,24.716,33.817,5.290,35.453
138,202301,일식,스시혜정,NaN,20190530,여의도,126.931226,37.518212,20344908,95,...,0.000,6.623,0.000,5.298,33.675,20.960,33.444,54.868,0.000,23.940
194,202303,일식,쿠마,NaN,20121015,여의도,126.931253,37.519761,80593140,260,...,0.000,0.000,11.361,31.639,29.113,5.485,22.402,70.402,0.000,13.247
224,202309,커피전문점,호두당 국회의사당역사점,호두당,20210510,여의도국회의사당,126.918541,37.527376,7438599,994,...,6.183,0.399,22.736,36.777,22.896,7.180,10.012,48.823,10.371,21.619
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1386270,202311,일반대중음식,와인스퀘어주식회사,NaN,20210429,여의도,126.931120,37.519561,10754751,53,...,0.000,0.000,13.861,18.661,40.568,0.000,26.910,49.831,0.000,0.000
1386292,202308,한식,배달비 없이 돗자리 앞까지 배달되는 매점,NaN,20230531,여의도,126.934312,37.521059,611434,28,...,0.000,12.844,87.156,0.000,0.000,0.000,0.000,100.000,0.000,0.000
1386365,202301,일반전문학원,하얀과자점,NaN,20160930,여의도,126.930674,37.521495,556621,18,...,0.000,0.000,59.571,40.429,0.000,0.000,0.000,21.779,40.429,37.792
1386408,202303,농가공산품,여의나루떡방,NaN,20161129,여의도,126.931168,37.522544,288194,16,...,0.000,0.000,32.703,0.000,0.000,67.297,0.000,32.703,0.000,0.000
1386414,202311,한식,오륜포차,NaN,20210615,여의도,126.927242,37.520238,1851637,37,...,0.000,0.000,0.000,35.484,0.000,41.935,22.581,35.484,0.000,0.000

In [13]:
df2.to_csv("신한카드_여의도.csv", index=False, encoding='utf-8-sig')

## 브랜드명 누락 - 103246건

In [64]:
brand_nan = df[df.BRD_NM.isna()]

In [65]:
brand_nan

,TA_YM,MCT_RY_NM,MCTNM,BRD_NM,ARED,BZNCD,LALXCVL,LALYCVL,EST_AMT_TOT,EST_CNT_TOT,...,여성_60대,소득정보없음,소득3천만이하,소득5천만이하,소득7천만이하,소득1억이하,소득1억초과,생애단계_싱글,생애단계_영유아,생애단계_청소년
0,202312,제과점,찰찰보리식빵,NaN,20230614,암사역,127.128775596857,37.551406284259,28165790,3685,...,14.642,0.996,11.630,41.172,24.582,12.886,8.735,18.161,9.458,28.082
1,202305,일반대중음식,남경호프,NaN,20221116,구로시장,126.885700050511,37.485370522557,4830358,92,...,0.000,8.791,50.549,17.582,7.692,15.385,0.000,2.747,0.000,20.879
2,202304,한식,우래옥,NaN,20110228,광장시장,126.998751392814,37.568242997147,1047688785,11963,...,12.056,0.770,9.374,23.357,18.298,12.408,35.793,29.711,4.760,19.211
3,202307,한식,신신매운갈비찜,NaN,20180717,영등포구청,126.897938335279,37.526654034788,14673697,472,...,3.164,3.603,22.703,46.157,12.919,8.137,6.481,54.809,15.097,9.403
4,202312,일반대중음식,그린바이브 강서구청점,NaN,20220627,화곡동,126.849036473646,37.550542559383,3494638,513,...,2.157,0.000,2.783,45.295,24.648,18.925,8.349,48.756,12.072,30.910
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1386416,202311,일반대중음식,주당11-43,NaN,20210315,답십리,127.053931223634,37.563237751057,1411208,27,...,0.000,0.000,0.000,0.000,0.569,13.283,86.148,0.000,0.000,86.717
1386417,202302,일반대중음식,센스,NaN,20190806,장위,127.050192781196,37.616053908518,1738343,18,...,0.000,0.000,0.000,100.000,0.000,0.000,0.000,0.000,0.000,0.000
1386419,202310,일반대중음식,싱글,NaN,20050915,영등포구청,126.896583794585,37.522604720794,2959109,48,...,0.000,0.000,0.000,100.000,0.000,0.000,0.000,66.887,0.000,33.113
1386420,202308,편의점,세븐일레븐 공릉하나점,NaN,20190620,태릉입구,127.077886070693,37.621688813935,308090,27,...,0.000,0.000,24.129,55.194,0.000,20.677,0.000,0.000,24.129,75.871
1386421,202304,일반대중음식,밀톤,NaN,20200213,석관시장,127.060961245449,37.609139008745,95840,16,...,0.000,0.000,0.000,51.630,0.000,0.000,48.370,0.000,23.913,76.087

In [84]:
brand_nan = brand_nan.sort_values(['MCTNM', 'TA_YM'])

In [85]:
brand_nan.to_csv("브랜드명 누락.csv", index=False, encoding='utf-8-sig')

## 매출액 누락 - 없음

In [66]:
amt_nan = df[df.EST_AMT_TOT.isna()]

In [67]:
amt_nan

Empty DataFrame
Columns: [TA_YM, MCT_RY_NM, MCTNM, BRD_NM, ARED, BZNCD, LALXCVL, LALYCVL, EST_AMT_TOT, EST_CNT_TOT, WKND_RT, 시간_0813, 시간_1417, 시간_1821, 시간_2207, 남성_20대, 남성_30대, 남성_40대, 남성_50대, 남성_60대, 여성_20대, 여성_30대, 여성_40대, 여성_50대, 여성_60대, 소득정보없음, 소득3천만이하, 소득5천만이하, 소득7천만이하, 소득1억이하, 소득1억초과, 생애단계_싱글, 생애단계_영유아, 생애단계_청소년]
Index: []

[0 rows x 34 columns]

## 상권명 누락 - 269330건

In [86]:
spot_nan = df[df.BZNCD.isna()]

In [87]:
spot_nan

,TA_YM,MCT_RY_NM,MCTNM,BRD_NM,ARED,BZNCD,LALXCVL,LALYCVL,EST_AMT_TOT,EST_CNT_TOT,...,여성_60대,소득정보없음,소득3천만이하,소득5천만이하,소득7천만이하,소득1억이하,소득1억초과,생애단계_싱글,생애단계_영유아,생애단계_청소년
259738,202301,한식,솥뚜껑삼겹살,NaN,20200622,NaN,127.04695096076,37.617118027653,5463311,62,...,0.000,8.080,0.000,28.646,28.017,25.393,9.864,11.962,0.000,47.324
259761,202301,일반대중음식,그대로 포차,NaN,20191227,NaN,126.932800934698,37.61589759668,1968951,46,...,0.000,0.000,5.325,75.740,11.834,7.101,0.000,92.899,0.000,0.000
909931,202301,양식,(주)에이치앤씨홀딩스,NaN,20080917,NaN,126.87201875157,37.495116138212,16614631,510,...,1.181,0.000,0.675,19.507,19.237,53.324,7.256,14.175,6.244,63.550
259771,202301,일반대중음식,명가통닭,명가통닭,20200331,NaN,127.013384596594,37.655351047921,400160,18,...,0.000,0.000,14.329,0.000,0.000,54.751,30.920,14.329,0.000,54.751
259677,202301,일반대중음식,케이크팝,NaN,20190410,NaN,126.957458719616,37.494936945318,8125463,527,...,2.591,3.416,31.932,28.085,14.907,9.697,11.963,73.252,4.722,6.501
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
632379,202312,양식,올데이파스타,NaN,20221130,NaN,126.916251333667,37.605808398228,79557974,3837,...,2.171,3.190,30.255,41.611,15.139,4.995,4.810,64.456,6.701,14.539
238127,202312,패스트푸드,빨간모자피자(Red cap),NaN,20221111,NaN,126.993864983409,37.47951121007,20191215,589,...,2.827,2.349,11.333,28.774,17.670,18.000,21.874,27.508,9.752,47.499
1228851,202312,일반대중음식,(큐)Q커피향,NaN,20111117,NaN,126.987394431409,37.476401350265,2903544,394,...,0.000,5.125,3.817,14.286,37.186,23.010,16.576,24.427,5.016,55.507
632348,202312,양식,역촌왕돈까스,NaN,20020812,NaN,126.923653645417,37.607696227965,67327973,2609,...,5.747,0.765,14.171,40.731,23.557,13.238,7.538,31.151,8.479,33.632
238221,202312,일반대중음식,레전드 치킨,NaN,20201202,NaN,127.173487711551,37.571919880473,13684162,848,...,4.127,0.748,16.102,43.385,22.549,11.405,5.811,31.165,23.027,31.672

In [88]:
spot_nan = spot_nan.sort_values(['MCTNM', 'TA_YM'])

In [89]:
spot_nan

,TA_YM,MCT_RY_NM,MCTNM,BRD_NM,ARED,BZNCD,LALXCVL,LALYCVL,EST_AMT_TOT,EST_CNT_TOT,...,여성_60대,소득정보없음,소득3천만이하,소득5천만이하,소득7천만이하,소득1억이하,소득1억초과,생애단계_싱글,생애단계_영유아,생애단계_청소년
963341,202301,한식,어촌생선구이,NaN,20151005,NaN,127.04290125577,37.673210673622,5926207,153,...,6.707,0.000,2.337,38.720,0.000,1.118,57.825,4.472,0.000,27.947
1329814,202302,한식,어촌생선구이,NaN,20151005,NaN,127.04290125577,37.673210673622,5344385,79,...,0.000,0.000,0.000,15.644,0.000,3.374,80.982,0.716,0.000,18.303
631704,202303,한식,어촌생선구이,NaN,20151005,NaN,127.04290125577,37.673210673622,5513604,105,...,4.653,0.000,7.597,19.658,7.882,1.709,63.153,1.519,0.000,8.547
1186003,202304,한식,어촌생선구이,NaN,20151005,NaN,127.04290125577,37.673210673622,4742904,100,...,4.983,0.000,2.492,28.313,0.000,0.000,69.196,7.135,0.000,7.588
155934,202305,한식,어촌생선구이,NaN,20151005,NaN,127.04290125577,37.673210673622,3602248,47,...,3.730,0.000,0.000,8.752,8.752,1.291,81.205,9.900,0.000,1.148
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605485,202308,한식,金돼지金송아지,NaN,20021121,NaN,127.019973424077,37.640963706711,11244821,97,...,7.948,0.000,2.909,26.701,26.390,44.000,0.000,3.013,7.688,30.753
717556,202309,한식,金돼지金송아지,NaN,20021121,NaN,127.019973424077,37.640963706711,10841276,113,...,12.918,5.421,2.884,55.652,23.414,7.785,4.844,23.702,20.819,18.512
257195,202310,한식,金돼지金송아지,NaN,20021121,NaN,127.019973424077,37.640963706711,16042582,154,...,0.000,3.054,11.265,17.969,54.859,7.933,4.919,19.397,30.781,11.424
368823,202311,한식,金돼지金송아지,NaN,20021121,NaN,127.019973424077,37.640963706711,10651537,82,...,30.350,0.000,2.355,34.118,36.339,27.187,0.000,17.900,14.939,0.000
212694,202312,한식,金돼지金송아지,NaN,20021121,NaN,127.019973424077,37.640963706711,15507325,125,...,5.582,0.000,0.000,52.133,42.733,5.133,0.000,28.938,16.522,11.100

In [90]:
spot_nan.to_csv("상권명 누락.csv", index=False, encoding='utf-8-sig')

## 매장명과 브랜드명 일치하는 경우 - 85595건

In [92]:
mct_brd = df[df['MCTNM']==df['BRD_NM']]

In [93]:
mct_brd

,TA_YM,MCT_RY_NM,MCTNM,BRD_NM,ARED,BZNCD,LALXCVL,LALYCVL,EST_AMT_TOT,EST_CNT_TOT,...,여성_60대,소득정보없음,소득3천만이하,소득5천만이하,소득7천만이하,소득1억이하,소득1억초과,생애단계_싱글,생애단계_영유아,생애단계_청소년
194584,202301,일반대중음식,샤크로플,샤크로플,20220518,명일1동,127.140332674219,37.547292077395,8641430,627,...,0.891,3.391,28.951,43.581,9.830,7.063,7.184,70.990,7.151,12.336
100569,202301,한식,샤브쌈주머니,샤브쌈주머니,20170404,강남역,127.029267010673,37.499495460617,108536696,2178,...,2.653,3.711,26.694,39.858,15.705,6.890,7.142,62.485,5.837,21.589
1214303,202301,제과점,파리바게뜨,파리바게뜨,20190124,당산,126.899309975424,37.534938381148,41285043,4408,...,8.158,2.031,21.187,36.786,15.631,11.950,12.415,42.757,9.722,24.462
259771,202301,일반대중음식,명가통닭,명가통닭,20200331,NaN,127.013384596594,37.655351047921,400160,18,...,0.000,0.000,14.329,0.000,0.000,54.751,30.920,14.329,0.000,54.751
535843,202301,일반대중음식,미아리우동집,미아리우동집,20170719,건대입구,127.069408780594,37.543780953856,15367634,1688,...,5.091,4.664,24.206,38.946,11.808,11.156,9.221,49.968,7.563,25.078
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
632600,202312,일반대중음식,병천황토방순대,병천황토방순대,20090408,신림역,126.929686026986,37.486110593772,25438419,1288,...,3.273,1.300,28.459,45.891,18.431,3.853,2.066,58.565,4.550,7.567
967110,202312,한식,청담족발,청담족발,20210226,까치산역,126.848504330069,37.534372799575,75045177,1831,...,1.886,1.261,21.420,34.781,24.923,8.690,8.925,53.762,7.911,25.405
632207,202312,한식,신참떡볶이,신참떡볶이,20161201,답십리,127.057094415546,37.578094279372,8502890,507,...,1.378,12.991,15.852,33.659,21.275,12.340,3.882,39.612,20.195,31.022
238198,202312,일반대중음식,멕시카나치킨,멕시카나치킨,20191112,우림시장,127.100940383712,37.598962203113,12608273,1575,...,6.012,1.407,12.591,56.919,21.960,4.560,2.564,27.291,7.146,20.009
966959,202312,일반대중음식,치킨뱅이,치킨뱅이,20170102,방이동먹자골목,127.109820324081,37.515114557329,118885981,2265,...,0.460,2.246,11.383,42.575,19.041,12.408,12.347,46.328,8.586,26.935

In [94]:
mct_brd = mct_brd.sort_values(['MCTNM', 'TA_YM'])

In [96]:
mct_brd.to_csv("매장명-브랜드명 일치.csv", index=False, encoding='utf-8-sig')

## 업종명 불일치 - 165141건

In [143]:
ry = df.groupby(['MCT_RY_NM', 'MCTNM'])['EST_AMT_TOT'].sum().to_frame()

In [144]:
ry

                             EST_AMT_TOT
MCT_RY_NM MCTNM
2급  호텔    주식회사  가우플랜            11614889
PC게임방     (피씨테그) PC TAG 삼양점       729521
          1%PC아레나               18933088
          3POP PC방              32116633
          3S PC방                  793335
...                                  ...
회원제       슬로우커피                 35682514
          와인투고                 141900980
          입하2호점                  3342812
          텐퍼센트커피 서여의도점          21085010
          프랭크버거 공릉점            258482013

[123586 rows x 1 columns]

In [145]:
ry2 = ry.reset_index()

In [146]:
ry2

       MCT_RY_NM              MCTNM  EST_AMT_TOT
0         2급  호텔         주식회사  가우플랜     11614889
1          PC게임방  (피씨테그) PC TAG 삼양점       729521
2          PC게임방            1%PC아레나     18933088
3          PC게임방           3POP PC방     32116633
4          PC게임방             3S PC방       793335
...          ...                ...          ...
123581       회원제              슬로우커피     35682514
123582       회원제               와인투고    141900980
123583       회원제              입하2호점      3342812
123584       회원제       텐퍼센트커피 서여의도점     21085010
123585       회원제          프랭크버거 공릉점    258482013

[123586 rows x 3 columns]

In [147]:
ry2 = ry2['MCTNM'].value_counts().to_frame()

In [148]:
ry2

                    count
MCTNM
키키                      5
아띠                      5
쉼                       5
이삭                      4
사오                      4
...                   ...
카페 쑥쓰럽                  1
카페 쌔미(명동점)              1
카페 쌀뤼 (CAFE SALUT)      1
카페 쌀로미                  1
프랭크버거 공릉점               1

[119250 rows x 1 columns]

In [154]:
ry3 = ry2[ry2['count'] > 1].reset_index()

In [157]:
ry3

             MCTNM  count
0               키키      5
1               아띠      5
2                쉼      5
3               이삭      4
4               사오      4
...            ...    ...
3920       큰맘할매순대국      2
3921          장수식품      2
3922  홈플러스익스프레스도화점      2
3923            옛집      2
3924        청원국민통닭      2

[3925 rows x 2 columns]

In [161]:
a = list(ry3['MCTNM'])

In [162]:
a

['키키',
 '아띠',
 '쉼',
 '이삭',
 '사오',
 '카츠젠',
 '소담',
 '이삭토스트',
 '이레',
 '다락',
 '해담',
 '씨제이 푸드빌(주)',
 '젠',
 '대박집',
 '다모아',
 '가츠몽',
 '만월',
 '하루',
 '배스킨라빈스',
 '소소',
 '맘스터치',
 '다온',
 '오늘',
 '일상',
 '일품',
 '스페이스',
 '파라다이스',
 '수수',
 '인생닭강정',
 '호랑이',
 '라온',
 '도로시',
 '공간',
 '도모다찌',
 '공감',
 '한강',
 '미락',
 '토모',
 '썬',
 '청도양꼬치',
 '아토',
 '해오름',
 '디저트39',
 '마루',
 '숨',
 '피자스쿨',
 '무지개',
 '포엠',
 '스타동',
 '매화',
 '모로미쿠시',
 '달밤포차',
 '피카소',
 '무니',
 '동촌',
 '항방양육관',
 '수라간',
 '진심',
 '모리',
 '딱좋아',
 '쿠사',
 '핫오리',
 '여의주',
 '세이지',
 '느루',
 '쉐프밥상',
 '머니뭐니',
 '오아시스',
 '도토리',
 '언플러그드',
 '포레스트',
 '독도수산',
 '삼호',
 '대포항회집',
 '화양연화',
 '제이바',
 '대동원회시장',
 '맛고을',
 '화원',
 '카르페디엠',
 '메이드',
 '하나',
 '친친',
 '나무',
 '삼첩분식',
 '오로라',
 '끼',
 '퓨전포차',
 '낙원스낵',
 '우마이',
 '서우',
 '낭만',
 '광명수산',
 '엘림',
 '다미',
 '청춘푸드',
 '제일떡집',
 '천지',
 '피자컴퍼니',
 '해미수산',
 '국사랑',
 '종로떡집',
 '크리스탈',
 '청담',
 '남도식당',
 '두리닭발',
 '오렌지',
 '두두',
 '사랑방',
 '돈카와치',
 '정푸드',
 '탄',
 '하얼빈양꼬치',
 '너랑나랑',
 '동아리',
 '코지',
 '영덕막회',
 '봉봉',
 '어사출또',
 '아원',
 '나루터',
 '아마스빈',
 '이가네',
 '씨엘',
 '레드문',
 '청정수산',
 '명가',
 '진고개',
 '마시아',
 '속초오징어어시장',
 '어게인',
 '안',
 '명동왕돈까스',
 '더블유',
 '진미',
 '숭실대학교소비자생활협동조합',
 '해밀',
 '고기사랑',
 '오병이어',
 '아리랑',
 '낙원',
 '정원',
 '산',
 '스시선',
 '오한수 우육면가',
 '토리아에즈',
 '단비',
 '청춘',
 '행복한집',
 '만선',
 '한우가',
 '다원',
 '사천마라탕',
 '황금수산',
 '시장피자',
 '만원수산',
 '스마일꽈배기',
 '펀비어킹',
 '라무진',
 '국선생',
 '야래향',
 '딜리커피',
 '청년피자',
 '켄홈',
 '64김만두',
 '클래식',
 '산책',
 '양산박',
 '야경',
 '푸른바다',
 '선우',
 '무진장',
 '명성왕족발',
 '광장',
 '명성',
 '언니네',
 '마라공방',
 '서울돈까스',
 '스마일명품찹쌀꽈배기',
 '미소야',
 '사이',
 '토닥토닥',
 '정',
 '함지박',
 '명품양꼬치',
 '돈기부여',
 '실크로드',
 '혜화동돈까스극장',
 '이도',
 '예원',
 '북경양꼬치',
 '비원(B1)',
 '피플스',
 '미미',
 '스마일',
 '엠(M)',
 '송림',
 '단',
 '빛나는 바다',
 '명성양꼬치',
 '대박',
 '하루한끼',
 '키라키라윤',
 '예랑',
 '아라',
 '허수아비',
 '아리수',
 '봉구스밥버거',
 '산길',
 '독도게찜',
 '미성양꼬치',
 '상석',
 '홍매',
 '명가통닭',
 '산동만두',
 '이디야커피',
 '달밤',
 '미소',
 '일번지',
 '에이스',
 '청춘포차',
 '아모르',
 '나루',
 '고엔',
 '소노야',
 '소호',
 '포항물회',
 '미가',
 '라르고',
 '봉황당',
 '푸드스토리',
 '동네카페',
 '치어스',
 '일루',
 '레코드피자',
 '사과나무',
 '동감',
 '우주',
 '가장맛있는족발',
 '고담',
 '플로라',
 '포춘',
 '동네술집',
 '풀무원푸드앤컬처 김포공항국내선',
 '동경',
 '미정',
 '공차',
 '자유',
 '소풍',
 '와인투고',
 '탕화쿵푸마라탕',
 '경성양꼬치',
 '광화문연가',
 '참치명가',
 '피맥하우스',
 '안다미로',
 '사계절',
 '길손',
 '그늘',
 '왕돈까스왕냉면',
 '소통',
 '맵당',
 '바다식당',
 '준카츠',
 '태영생막창',
 '슬로우캘리',
 '대장금',
 '창',
 '니뽕내뽕',
 '밀플랜비',
 '태양',
 '가나점보돈까스',
 '골목길',
 '오늘은',
 '고향집',
 '(주)풀무원푸드앤컬처',
 '요거트월드',
 '육회왕자 연어공주',
 '스카이',
 '피자나라  치킨공주',
 '셰프의돈까스',
 '와사비',
 '셀라',
 '바비',
 '한끼',
 '고흥수산',
 '골드참치',
 '쉘브르',
 '오늘통닭',
 '프란',
 '우리수산',
 '장어세상',
 '배스킨라빈스31',
 '밀회관',
 '뜨락',
 '온도',
 '이모네빈대떡',
 '청화',
 '컴포즈',
 '온기',
 '기사식당',
 '호우양꼬치',
 '로뎀나무',
 '궁전',
 '기분좋은날',
 '오니',
 '초원양꼬치',
 '후포항',
 '품앗이',
 '도꼬돈카츠',
 '백돈',
 '피자마루',
 '유월',
 '쿠잉',
 '미분당',
 '도깨비',
 '허흑오리',
 '죽변항',
 '수작',
 '싱싱오징어바다',
 '미친피자',
 '모모',
 '다래',
 '오레노카츠',
 '오투(O2)',
 '보스',
 '은행골',
 '진화로',
 '주문진',
 '림벅',
 '백두산',
 '램프',
 '실비집',
 '문득',
 '떡마루',
 '등촌샤브칼국수',
 '칭따오양꼬치',
 '피자나라치킨공주',
 '수유리우동집',
 '올리브',
 '레인보우',
 '소나무',
 '돌담',
 '장호덕손만두',
 '곳간',
 '물고기',
 '만나',
 '노가리앤비어',
 '크랩회피쉬',
 '은하수',
 '시카고',
 '주도',
 '해피데이',
 '우연',
 '꽈백 최선생',
 '판다탕후루',
 '미네르바',
 '장수족발',
 '소설',
 '버텍스',
 '소마',
 '한양',
 '뉴문',
 '원오프카페',
 '원',
 '다다미',
 '워터스트리트',
 '한양대학교',
 '리에또',
 '한끼식사',
 '한성',
 '커피타임',
 '한명숙피자치킨',
 '바나나',
 '커피향기',
 '다다익선',
 '빌런',
 '너와집',
 '만나푸드',
 '밀키샵 성수',
 '더달콤',
 '뉴맥시칸',
 '리틀파스타',
 '농가옛날통닭',
 '만남의광장',
 '한우곱창집',
 '레몬그라스 타이',
 '커피투어',
 '놀이터',
 '리틀크레이지피자',
 '레몬',
 '빈스토리',
 '느티나무',
 '느티나무집',
 '원조곱창',
 '주식회사 대만족',
 '초밥선생',
 '참치집',
 '웨이브앤델리',
 '프라임',
 '다도해',
 '펍피맥',
 '한사발포차',
 '한양분식',
 '풍류랑',
 '만석',
 '원조멸치국수',
 '한상가득',
 '한옥집',
 '만미정',
 '마포복사꽃공원점 빽다방',
 '롤리밥스',
 '마포만두',
 '마포마라탕',
 '만남',
 '커피트리',
 '스탑싸인',
 '웨스턴차이나',
 '리얼그릴스테이크220도',
 '만리장성',
 '철길부산집',
 '뉴욕바닷가재',
 '루이스버거',
 '한솥',
 '로쏘(ROSSO)',
 '스캔들',
 '청목',
 '커피팩토리',
 '원두볶는사람들',
 '만두가',
 '한솔김밥',
 '청미식당',
 '커피킹',
 '원두막',
 '원조홍어집',
 '한솔',
 '한담',
 '한솥도시락',
 '르블랑',
 '더데이디',
 '한솥도시락 마곡디엠시티점',
 '원푸드',
 '막창굽는연탄할매',
 '원바',
 '한솥도시락 삼성동점',
 '만두향',
 '포베이',
 '누모',
 '만두박사',
 '커피콩',
 '빈대떡신사',
 '한솥밥',
 '스테이커피',
 '밍글',
 '원디그리노스',
 '푸드랩',
 '로그',
 '커피지',
 '포도나무',
 '왕십리충무김밥',
 '원가네',
 '한신포차',
 '참치한마리',
 '청해',
 '포포유',
 '빈터커피로스터스',
 '한끼한잔',
 '누구나홀딱반한닭 신도림점',
 '한성양꼬치',
 '만나떡집',
 '만나분식',
 '청해진',
 '한성식당',
 '만나식당',
 '월드푸드',
 '커피한잔',
 '커피하우스',
 '청수횟집',
 '막걸리싸롱',
 '포88',
 '한식의 품격',
 '스테이(STAY)',
 '빅핑거(구로점)',
 '레코드피자 염창점',
 '청어진',
 '커피하오',
 '원조장충왕족발',
 '원조식당',
 '레종데트르',
 '리드미컬브로스 주식회사',
 '리또리또',
 '한라산',
 '만냥포차',
 '주식회사  가우플랜',
 '놀부포차',
 '숨쉬는공간',
 '숯불직화꼬치바베큐',
 '커피사피엔스 파인스퀘어',
 '해품달',
 '맛있는집',
 '맛있는집 소풍',
 '해피',
 '숯불바베큐',
 '빽다방 구로시장점',
 '유진분식',
 '유진식당',
 '유진참치',
 '노가리',
 '유캔두잇',
 '빽다방 당산역점',
 '맛집',
 '파스타 어때',
 '넴넴',
 '커피사피엔스',
 '빽다방 동여의도점',
 '맛짜우',
 '맛짱',
 '미주류',
 '미엘',
 '맛짱식당',
 '주당',
 '구월',
 '술찾사',
 '유쾌한접시',
 '주니푸드',
 '술짝',
 '미노',
 '카페 이루',
 '술집',
 '노가리학교',
 '구석집',
 '뫼비우스 카페',
 '미카야',
 '유앤미',
 '맛사랑',
 '노다지포차',
 '노다지',
 '해양',
 '유어라이스',
 '쉐프의목장',
 '쉐프윤찹쌀꽈배기고로케',
 '노가의리',
 '노가리호프',
 '커피소리',
 '유연',
 '숲',
 '주막해물촌',
 '빽다방',
 '황금밥상',
 '주막촌',
 '맛있는 돈까스',
 '유유커피',
 '커피상인',
 '해적',
 '주막집',
 '미친노가리',
 '유정',
 '뮤즈',
 '커피산책',
 '유정식당',
 '파랑새식당',
 '술좋은날',
 '몽때박푸드',
 '바밤바',
 '육부장 정육식당',
 '국가대표푸드',
 '국고집',
 '미엘릿',
 '국대찜닭',
 '행복떡볶이',
 '바라바',
 '바로덮밥',
 '술까게',
 '육쌈냉면',
 '육연가',
 '빠삐용',
 '매덕스피자',
 '미야비',
 '술고래',
 '바깥',
 '행복커피',
 '국민낙곱새 송파점',
 '매드독스',
 '행복푸드',
 '금금',
 '바오밥',
 '순희네빈대떡',
 '순풍샤브샤브',
 '육회 by 유신',
 '육회2990',
 '육회공작소',
 '육회로',
 '바이젠하우스',
 '바인',
 '행복김밥',
 '틈',
 '술잔',
 '네모찹쌀탕수육',
 '미자식당',
 '주니냉면',
 '해피토스트',
 '구이구이',
 '술이야',
 '커피브라운',
 '해피하우스',
 '주공',
 '카페 인 타코야키',
 '커피브라더 강남점',
 '미자',
 '틴패낼리',
 '미호',
 '네모푸드',
 '카페 자리',
 '기꾸참치',
 '커피볶는집',
 '커피볶는아침',
 '미우',
 '햄튼커피',
 '빽다방 총신대입구역점',
 '밀가',
 '술비',
 '미요',
 '유화',
 '유희',
 '구포국수',
 '육갑식당',
 '죠스떡볶이',
 '망향비빔국수',
 '노란꼬무줄',
 '해브커피',
 '남오토코',
 '팔선생',
 '스시류',
 '스시도',
 '한주면옥',
 '스시누리',
 '스시긴',
 '커피와',
 '스시153',
 '마익스케빈',
 '말뚝곱창',
 '팬케이크샵커피',
 '카페 쉼',
 '구공탄곱창',
 '위드커피',
 '팔자좀피자',
 '할리스',
 '스시쇼쿠닌',
 '맑음',
 '팔레트',
 '만타',
 '할매손충무김밥',
 '구구족 이대점',
 '할매순대국',
 '빙츄르',
 '커피엔',
 '믿음식탁',
 '스마일찹쌀꽈배기',
 '위커파크(WICKER PARK)',
 '노슈가존',
 '맘스터치 동양미래대점',
 '스마일명품꽈배기',
 '스시문',
 '녹원',
 '스마일 찹쌀 꽈배기',
 '한잎',
 '놀부부대찌개&철판구이',
 '놀부부대찌개',
 '커피인류 잠실나루점',
 '퍼플독 송파본점',
 '마나',
 '마냐나',
 '한울칼국수',
 '만원족발',
 '스위트1225 목동힐스테이트점',
 '놀러와',
 '웰빙김밥',
 '웰빙마차',
 '밀숲',
 '한입타코야끼',
 '커피인동',
 '스시원',
 '웰시커피',
 '커피이즈',
 '퍼스트',
 '한잔의추억',
 '마린박스',
 '한잔포차',
 '마마',
 '마마돈까스',
 '퍼블릭',
 '스시향',
 '빙고',
 '위너스',
 '한잔해',
 '녹지',
 '민카페(min cafe)',
 '민지네',
 '구백냥곱창',
 '해물포차',
 '커피앤',
 '빨간오뎅',
 '유다',
 '구름산추어탕',
 '명작파스타 성북점',
 '빨강떡볶이',
 '모닝',
 '슈슈',
 '모던바',
 '모던키친',
 '해머스미스커피 마곡아이파크점',
 '모두의 피자',
 '모로',
 '카페 오소',
 '해물포차 꼴통',
 '멜라',
 '파스타에반하다',
 '모모카',
 '쉼표',
 '해바라기',
 '쉼터',
 '해방',
 '유미카츠',
 '카페 와플&리터(cafe waffle&liter)',
 '커피스토리',
 '김수사',
 '유부',
 '해변마을',
 '유성식당',
 '몰타',
 '해뜨는집',
 '구르메',
 '함흥냉면',
 '유가네',
 '함흥면옥',
 '맥썸',
 '민식당',
 '커피에반하다',
 '주식회사 굿프랜드',
 '노리터',
 '머쉬룸',
 '스노우폭스 올림픽공원점',
 '핫떡',
 '치마오',
 '커피에 반하다',
 '커피야',
 '메모리',
 '메이비',
 '맛기행사계절',
 '맛닭꼬 과기대점',
 '랑주317',
 '항방양꼬치',
 '항아리보쌈',
 '파스타집이야 왕십리점',
 '유기택피자',
 '해남',
 '구룡포막회',
 '구룡포식당',
 '해누리',
 '맛닭꼬',
 '파스타집이야',
 '빨간모자피자 신림점',
 '민들레',
 '해돋이',
 '빛',
 '대포항',
 '마포갈비',
 '신호등포차',
 '왕코미네탕후루',
 '왕코등갈비',
 '신푸드',
 '코코부코',
 '바우네 나주곰탕',
 '왕십리할매곱창',
 '신호탄',
 '마고',
 '신화불닭',
 '신화쭈꾸미',
 '힐하우스',
 '신흥 정육식당',
 '신흥원',
 '실내포장마차',
 '달잔',
 '필살기',
 '카이로스',
 '동해회집',
 '핏짜피자',
 '동해수산',
 '공주네',
 '휴',
 '코카김밥',
 '나팔',
 '동해횟집',
 '달인곱창',
 '외양간',
 '공원포차',
 '나비',
 '코코로',
 '바오밥나무',
 '신토불이',
 '카멜레온',
 '실내포차',
 '왕십리곱창',
 '카레후카미&수제카츠',
 '심야식당',
 '왕돈가스 왕냉면',
 '공룡통닭',
 '심양',
 '릴리',
 '정화',
 '왕노가리',
 '실버카페',
 '왕김밥',
 '피플',
 '라무야끼',
 '왕곱창',
 '카레야상',
 '정스시',
 '왕돈가스왕냉면',
 '왕돈까스 왕냉면',
 '왕돈까스&왕냉면',
 '공릉동 멸치국수',
 '공릉동 원조 멸치국수',
 '공릉동멸치국수',
 '까르페디엠',
 '심봉사도로케',
 '왕빈자 전통주막',
 '제주바당',
 '코코호도',
 '카리브',
 '왕소금구이',
 '제주항',
 '카리스',
 '까사피에스타 송파점',
 '카리카리치킨',
 '마녀김밥',
 '달빛오징어광어 굽은다리역점',
 '달빛오징어광어',
 '코스모스',
 '바비공방',
 '동락',
 '달리는커피강북구청점',
 '달리는커피목동14단지점',
 '신송분식',
 '카우보이',
 '바빈스커피 구산역점',
 '코야마',
 '공차 숙명여대점',
 '요거프레소',
 '공차 송파 파크하비오점',
 '홍조',
 '마당',
 '하나식당',
 '신세계',
 '바불리옛날왕만두',
 '바불리 옛날왕만두',
 '신성',
 '코바코',
 '신선푸드',
 '신선포차',
 '닐리비스트로',
 '하노이별',
 '바불리 옛날 왕만두',
 '요고요고',
 '다름',
 '마라공간마라탕',
 '다선',
 '신선마라탕',
 '다올',
 '다올집',
 '화덕과 베토벤',
 '녹스',
 '마녀떡볶이',
 '신전떡볶이 먹골역점',
 '노란집',
 '달빛',
 '효도치킨 한남점',
 '바삭',
 '신전떡볶이',
 '마니달오',
 '공차 녹번역점',
 '마담순살떡볶이',
 '신전떡볶이 사당점',
 '공차 구의점',
 '공차 광운대점',
 '공차 가재울점',
 '동해바다',
 '신참떡볶이',
 '달빙수 디저트카페',
 '신의혼밥',
 '신의한국수',
 '신의주찹쌀순대',
 '신의주순대와쭈꾸미',
 '황토방',
 '신의주 찹쌀순대',
 '신의주 순대와 쭈꾸미',
 '환희',
 '하나감자탕',
 '바사삭치킨',
 '신월전집',
 '동양식당',
 '달밤엔타코야끼',
 '마님죽',
 '동양',
 '동심',
 '코하루',
 '린',
 '정성라멘',
 '닭한마리칼국수',
 '친구네',
 '인생카츠',
 '개화',
 '골목커피',
 '마곡모밀&우동',
 '주식회사 윤쉐프',
 '홍홍',
 '담소',
 '담',
 '담다',
 '골목집',
 '골목오리집&잊힐리야',
 '담미온',
 '리엔',
 '인생횟집',
 '인성참치',
 '닭찌',
 '화로구이',
 '골목포차',
 '써니포차',
 '골뱅이호프',
 '경양식당',
 '박효신닭꼬치',
 '화산',
 '리치몬드',
 '곰국시집',
 '쌤닭',
 '고(GO)',
 '박씨물고온제비',
 '닭스',
 '곰돌이',
 '피자벨리',
 '써브웨이 광장점',
 '화원정',
 '대관령',
 '리숨두부',
 '대가삼겹살',
 '대가숯불갈비',
 '마중',
 '대가참치',
 '치킨플러스 신대방점',
 '주식회사 제이에스아트테인먼트',
 '골목식당',
 '치킨플러스 북아현점',
 '골드',
 '주식회사 제이와이피엔터테인먼트',
 '와이디푸드 강남점',
 '2피자1치킨상회',
 '곤트란쉐리에',
 '반지하',
 '주식회사 정진코퍼레이션',
 '피자5000',
 '와이키키',
 '피자나라 치킨공주',
 'LINGO (링고)',
 '반주',
 '리애',
 '피자나라치킨공주 마포아현점',
 '홍콩반점0410&홍콩분식 용산문배점',
 '치킨홀릭',
 '피자네버슬립스',
 '피자랑',
 '와코타코',
 '와포차',
 '마네쿠',
 '가타부타',
 '쌍백리',
 '닭봉씨',
 '정성',
 '곱창이야기',
 '싸움의고수',
 '곱창하우스',
 '귀빈',
 '싸일러(SAILER)',
 '콤마',
 '비어플러스',
 '콩',
 '피자컴퍼니 구로오류점',
 '곱창나라',
 '칠성집',
 '박가네',
 '달콩',
 '피자탑 건대점',
 '곱분이곱창회기점',
 '완미족발',
 '달콤제빵소',
 '바코드',
 '싸리골',
 '그래 락',
 '싸다김밥 신도림역점',
 '바지락손칼국수',
 ...]

In [10]:
d = pd.read_csv('data/매장 관련/브랜드별가맹점.csv', encoding='utf-8-sig')

In [11]:
d

,기준년도,업종대분류명,업종중분류명,법인명,브랜드명,가맹점수,신규가맹점등록수,계약종료수,계약해지수,명변경수,평균매출금액,면적단위평균매출금액
0,2018,외식,기타 외국식,(주)개미그룹,감사한 양(羊),1,1,0,0,0,0,0
1,2018,외식,기타 외국식,(주)개집컴퍼니,chefdog,9,6,0,0,0,353323,14008
2,2018,외식,기타 외국식,(주)건호,호우양꼬치 플러스,58,1,0,4,0,416665,53202
3,2018,외식,기타 외국식,(주)게이트에프앤비,게이트나인(GATE9),1,1,0,0,0,0,0
4,2018,외식,기타 외국식,(주)꾸버가,철판떼기,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
21782,2022,외식,한식,황금코다리와감성쭈꾸미,감성쭈꾸미,2,2,0,0,0,0,0
21783,2022,외식,한식,황해푸드,황해수육,7,6,0,0,0,191824,6607
21784,2022,외식,한식,휴먼라이크(주),최정규 팔당 원조 칼제비 보쌈,6,3,1,0,0,234284,22739
21785,2022,외식,한식,흐를류감자탕,흐를류(流)감자탕,0,0,0,0,0,0,0
21786,2022,외식,한식,흥주푸드,흥주선비국밥,4,0,0,0,0,0,0

In [29]:
import re

# 데이터프레임 A와 B를 생성합니다. (여기에는 예시 데이터를 사용하세요.)

# B 데이터프레임의 '브랜드명' 컬럼에서 유니크한 값들을 추출하여 정규 표현식 패턴을 만듭니다.
pattern = '|'.join(d['브랜드명'].unique())

# 패턴을 사용하여 A 데이터프레임의 'MCTNM' 컬럼에서 일치하는 행을 찾습니다.
# ignore case를 설정하여 대소문자를 구분하지 않도록 합니다.
mask = df['MCTNM'].str.contains(pattern, case=False, na=False)

# 조건을 만족하는 데이터프레임 반환
filtered_df = df[mask]

print(filtered_df)

error: nothing to repeat at position 47156

In [165]:
mct_ry = df[df['MCTNM'].isin(a)==True].sort_values(['MCTNM', 'TA_YM'])

In [166]:
mct_ry

,TA_YM,MCT_RY_NM,MCTNM,BRD_NM,ARED,BZNCD,LALXCVL,LALYCVL,EST_AMT_TOT,EST_CNT_TOT,...,여성_60대,소득정보없음,소득3천만이하,소득5천만이하,소득7천만이하,소득1억이하,소득1억초과,생애단계_싱글,생애단계_영유아,생애단계_청소년
959374,202301,일반대중음식,(주)미미미가든,NaN,20200428,압구정로데오,127.041125456145,37.523776603958,70435947,479,...,0.000,0.000,21.812,26.651,16.873,10.806,23.859,49.041,5.204,33.049
1367425,202301,제과점,(주)미미미가든,NaN,20200428,압구정로데오,127.041125456145,37.523776603958,39892300,1474,...,3.243,1.458,17.084,28.829,16.484,12.063,24.082,49.078,8.148,26.992
713152,202302,제과점,(주)미미미가든,NaN,20200428,압구정로데오,127.041125456145,37.523776603958,41033536,1514,...,6.574,1.931,9.694,41.389,13.485,13.985,19.516,49.334,7.114,24.251
659419,202302,일반대중음식,(주)미미미가든,NaN,20200428,압구정로데오,127.041125456145,37.523776603958,63350814,403,...,0.000,5.444,12.220,31.433,32.521,4.177,14.205,49.109,16.479,15.757
747309,202303,일반대중음식,(주)미미미가든,NaN,20200428,압구정로데오,127.041125456145,37.523776603958,154790768,417,...,8.289,0.000,11.810,27.989,25.443,3.810,30.947,43.239,5.816,27.981
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279795,202310,일반대중음식,힐하우스,NaN,20190208,목3동,126.865534317803,37.544728361152,2797214,451,...,2.347,3.862,5.275,24.785,34.629,9.011,22.438,35.941,22.792,10.929
1335238,202311,일반대중음식,힐하우스,NaN,20190208,목3동,126.865534317803,37.544728361152,2331468,358,...,2.118,0.000,12.988,32.274,17.419,3.372,33.946,22.631,6.159,38.796
39176,202311,양식,힐하우스,NaN,20130913,NaN,126.952386146266,37.488098147822,8990950,149,...,0.000,0.000,7.245,17.346,14.838,8.150,52.421,9.126,2.090,80.773
506902,202312,일반대중음식,힐하우스,NaN,20190208,목3동,126.865534317803,37.544728361152,2291993,298,...,2.980,0.000,13.839,34.819,26.619,5.639,19.084,31.569,20.685,24.477
516892,202312,양식,힐하우스,NaN,20130913,NaN,126.952386146266,37.488098147822,5388436,102,...,0.000,0.000,5.649,17.259,19.874,20.084,37.134,11.506,17.573,58.891

In [167]:
mct_ry.to_csv("업종명 불일치.csv", index=False, encoding='utf-8-sig')

## 매장명 수 - 119250개

In [70]:
df['MCTNM'].value_counts()

MCTNM
김밥천국               2218
전주식당               1416
투다리                 892
남원추어탕               849
파리바게뜨               817
                   ...
인생감자탕 논현점             1
피트커피                  1
덕자네방앗간아모레퍼시픽사옥점       1
핑크래빗 프레첼 하우스          1
실버피자                  1
Name: count, Length: 119250, dtype: int64

In [21]:
mctnm = df['MCTNM'].value_counts().to_frame()

In [22]:
mctnm

                 count
MCTNM
김밥천국              2218
전주식당              1416
투다리                892
남원추어탕              849
파리바게뜨              817
...                ...
인생감자탕 논현점            1
피트커피                 1
덕자네방앗간아모레퍼시픽사옥점      1
핑크래빗 프레첼 하우스         1
실버피자                 1

[119250 rows x 1 columns]

## 총 브랜드명 수 - 4304개

In [168]:
brdnm = df['BRD_NM'].value_counts().to_frame()

In [169]:
brdnm

                   count
BRD_NM
파리바게뜨               7642
이디야커피               6994
메가커피                6690
컴포즈커피               4134
투썸플레이스              3907
...                  ...
요미우돈교자                 1
THE 더 맛있는 과일&1L커피      1
막창도둑                   1
앵거스박 쇠고기상점             1
닭치고찜닭                  1

[4304 rows x 1 columns]

## 월별 매장별 정리

In [71]:
data = df.groupby(['TA_YM', 'MCTNM'])['EST_AMT_TOT'].sum().to_frame()

In [72]:
data

                    EST_AMT_TOT
TA_YM  MCTNM
202301  "미 "갈매기살전문     32082497
        목로             65977543
        버터풀앤크리멀러스      46496588
        어촌생선구이          5926207
        크링               517000
...                         ...
202312 힠컵(hiccup)      31510561
       金돼지金송아지         15507325
       李오바지락칼국수        10310491
       李함흥냉면           10366588
       （주）에스알인베        39197200

[1176697 rows x 1 columns]

In [35]:
data.to_csv("data.csv", index=True, encoding='utf-8-sig')

## 연월 데이터가 비연속적인 경우

In [75]:
df[df['MCTNM']=='고기극찬 중랑점'].sort_values('TA_YM')

,TA_YM,MCT_RY_NM,MCTNM,BRD_NM,ARED,BZNCD,LALXCVL,LALYCVL,EST_AMT_TOT,EST_CNT_TOT,...,여성_60대,소득정보없음,소득3천만이하,소득5천만이하,소득7천만이하,소득1억이하,소득1억초과,생애단계_싱글,생애단계_영유아,생애단계_청소년
416773,202301,일반대중음식,고기극찬 중랑점,고기극찬,20200827,망우,127.092063034357,37.59420881195,3963919,135,...,0.000,0.000,32.320,48.482,6.276,12.922,0.000,75.095,3.729,8.439
288978,202302,일반대중음식,고기극찬 중랑점,고기극찬,20200827,망우,127.092063034357,37.59420881195,2951883,101,...,2.885,4.742,15.756,66.390,6.053,7.059,0.000,69.384,4.305,23.427
1214121,202303,일반대중음식,고기극찬 중랑점,고기극찬,20200827,망우,127.092063034357,37.59420881195,1388586,49,...,0.000,0.000,10.115,45.990,35.915,7.981,0.000,65.982,0.000,23.904
1205858,202308,한식,고기극찬 중랑점,고기극찬,20230731,망우,127.094359216695,37.599092095515,5897057,202,...,0.000,2.976,21.731,51.093,11.957,7.255,4.988,55.250,1.768,23.209
878204,202309,한식,고기극찬 중랑점,고기극찬,20230731,망우,127.094359216695,37.599092095515,13896138,545,...,0.840,5.106,20.787,42.535,15.922,6.657,8.994,59.262,6.115,19.345
554280,202310,한식,고기극찬 중랑점,고기극찬,20230731,망우,127.094359216695,37.599092095515,13457575,504,...,2.508,6.099,14.493,46.699,12.712,12.022,7.975,61.635,8.146,14.086
1097834,202311,한식,고기극찬 중랑점,고기극찬,20230731,망우,127.094359216695,37.599092095515,13092810,525,...,0.000,3.795,16.490,46.839,21.279,9.957,1.640,52.258,13.496,22.724
290408,202312,한식,고기극찬 중랑점,고기극찬,20230731,망우,127.094359216695,37.599092095515,12954118,522,...,3.030,3.878,27.707,45.577,12.447,8.745,1.646,55.945,9.302,13.346

### ChatGPT

In [10]:
#case3
# 비연속적인 매장을 찾기 위한 수정된 로직

# TA_YM을 기준으로 정렬합니다. => 월 기준으로 정렬
df.sort_values(by='TA_YM', inplace=True)

# 각 매장별로 나타나는 TA_YM의 유니크한 값들을 모읍니다. 월별로 unique한 매장명으로 정렬
store_months_uploaded = df.groupby('MCTNM')['TA_YM'].apply(lambda x: sorted(x.unique()))

discontinuous_stores_uploaded = []

for store, months in store_months_uploaded.items():
    # 해당 매장이 등장하는 모든 달을 순회하면서 연속성 확인
    discontinuous = False
    for i in range(len(months) - 1):
        # 현재 달과 다음 달의 차이를 계산 (년도와 월을 고려하여 계산)
        current_year, current_month = divmod(int(months[i]), 100) # tuple형태로 추출됨.
        next_year, next_month = divmod(int(months[i+1]), 100)
        
        # 월 차이 계산
        month_diff = (next_year - current_year) * 12 + (next_month - current_month)
        
        # 연속되지 않는 경우 (차이가 1보다 큰 경우)
        if month_diff > 1:
            discontinuous = True
            break
            
    if discontinuous:
        discontinuous_stores_uploaded.append(store)
        
discontinuous_stores_uploaded, len(discontinuous_stores_uploaded)

(['(C.C) 치킨카페',
  '(Jokers)조커스',
  '(THE)더용쓰 샤브샤브&꽃게',
  '(THE)더용쓰 종암상회',
  '(VIP큐룸)',
  '(다)내가사케',
  '(신) 본가닭발',
  '(유)  동군산수산',
  '(유) 한국맥도날드 전농점',
  '(유)가락유통천년주막',
  '(유)고모식품',
  '(유)대림수산',
  '(유)명가수산',
  '(유)수인상회',
  '(유)장군수산',
  '(유)채원수산',
  '(유)카페노티드 성수CT',
  '(주) 고르드',
  '(주) 누모',
  '(주) 더본인터내셔널',
  '(주) 비지에프휴먼넷 잠실갤러리아점',
  '(주) 빌텍',
  '(주) 씨티씨앤푸드',
  '(주) 에이치엔씨아이 커피스탑2',
  '(주) 올가홀푸드',
  '(주) 올리브푸드',
  '(주) 웰하임',
  '(주) 일화마포커피',
  '(주) 저스틴푸드',
  '(주) 정오아카데미 광운대점',
  '(주) 정오아카데미성북세무서점',
  '(주) 참존오토모티브 아주르라운지',
  '(주) 케이할랄',
  '(주) 코리아세븐 관악색동점',
  '(주) 코리아세븐 도곡중앙점',
  '(주) 코리아세븐 수유청수점',
  '(주) 코리아세븐 연신내불광점',
  '(주) 코리아세븐 효창공원점',
  '(주) 태성에프앤알 강남지점',
  '(주) 테이스터스',
  '(주)건푸드 냠냠족발&보쌈 강동천호점',
  '(주)경성키친',
  '(주)경우에프앤비 티씨웨스트',
  '(주)고니푸드 커피디지 불광점',
  '(주)골드피쉬얌차하우스',
  '(주)그랜드비스타',
  '(주)네그리고 이마트24문래삼환점',
  '(주)농업회사법인 보그너',
  '(주)늘솜 생어거스틴 김포공항점',
  '(주)대단한싹제빵소',
  '(주)더비즈랩 한양여대본관점',
  '(주)더쇼룸',
  '(주)델리에프에스',
  '(주)동일유통',
  '(주)두나미스에프앤비',
  '(주)드립드랍 논현점',
  '(주)드립드랍 서초점',
  '(주)디아그라',
  '(주)디에이치디엔에이',
  '(주)딴지그룹',
  '(주)란성엔제리너스커피롯데영등포역사',
  '(주)레노스',
  '(주)리안글로벌',
  '(주)마더브레인 서초지점',
  '(주)마인어스',
  '(주)매직랩',
  '(주)메뉴투어',
  '(주)모스버거코리아 홈플러스잠실점',
  '(주)미미고 고덕역점',
  '(주)베리타스드림 감신대',
  '(주)베이직컴퍼니',
  '(주)벽제구이로 이태원지점',
  '(주)별의정원',
  '(주)보성파워텍 문래역지점',
  '(주)비에쓰마트/베이커리로컬, 커피나무강남역점',
  '(주)비엠지오컨설팅',
  '(주)비와이씨',
  '(주)비지에프리테일 장안관광호텔점',
  '(주)비지에프휴먼넷 CU 역삼센타점',
  '(주)빌텍 동소문기숙사점',
  '(주)빵굽는사람들',
  '(주)삼원가든 특실',
  '(주)삼원특수지 페이퍼모어',
  '(주)샬레트래블앤라이프',
  '(주)선우엠티 앵거스박 라운지',
  '(주)선우엠티 앵거스박 마천점',
  '(주)센트럴시티',
  '(주)스윗드오',
  '(주)스타럭스 교토 가츠규 삼성오크우드점',
  '(주)스템잇',
  '(주)시그마호프',
  '(주)신세계백화점강남점',
  '(주)신세계센트럴시티',
  '(주)신세계센트럴시티 호텔부문',
  '(주)신세계푸드 노블레스타워',
  '(주)신세계푸드 데블스도어 연회 코엑스점',
  '(주)신세계푸드 베키아에누보 강남퍼스트다이아몬드라',
  '(주)쌈지농부호기심',
  '(주)씨티씨앤푸드',
  '(주)아로마글로바 왕십리역사점',
  '(주)아워홈 KB골든라이프빌리지점(송파)',
  '(주)아워홈 KB골든라이프케어서초점',
  '(주)아워홈 강남호텔 다이아몬드홀',
  '(주)아워홈 더넥센유니버시티강서점',
  '(주)아워홈 잠실점',
  '(주)아워홈 푸드엠파이어Ifc점',
  '(주)아워홈강남타워점',
  '(주)알티드',
  '(주)어반플레이 스몰글라스',
  '(주)에스엠브랜드마케팅',
  '(주)에이치엔씨아이 커피스탑1',
  '(주)에프엠가구 라운지',
  '(주)엘에스씨푸드 중랑구청',
  '(주)엘이씨에듀넷',
  '(주)연안수산',
  '(주)영풍문고',
  '(주)오메가푸드달인신종훈의바사삭NC백화점',
  '(주)오픈-서울로인 서울점',
  '(주)올가홀푸드',
  '(주)올가홀푸드  서남병원',
  '(주)올가홀푸드 대치점',
  '(주)올가홀푸드 도곡점',
  '(주)올가홀푸드 방배점',
  '(주)올가홀푸드 방이점',
  '(주)올가홀푸드대치점',
  '(주)올가홀푸드반포점',
  '(주)올가홀푸드방배점',
  '(주)올가홀푸드압구정점',
  '(주)와인사랑 성수점',
  '(주)와인사랑 청담점',
  '(주)우우소 미트컬렉터(UOOUOOSO MEAT COLLECTOR)',
  '(주)우일티에스 씨젠의료재단점',
  '(주)윌로우파크',
  '(주)유파인메드 VERSE II(벌스투)',
  '(주)이룸웨딩컨벤션',
  '(주)이마트24 송파BSD센터 CFF점',
  '(주)이마트24 영등포BSD센터 CFF점',
  '(주)이지엠인터내셔날',
  '(주)일파르코',
  '(주)잇 샐러드',
  '(주)절기',
  '(주)정오아카데미 백석예술대학교점',
  '(주)제너시스에프앤비 성신여대점',
  '(주)조선호텔앤리조트 하나클럽',
  '(주)주시브로스 GFC점',
  '(주)지에스리테일 강동고덕점(상품권)',
  '(주)진홀딩스 사당지점',
  '(주)커피빈코리아 천호역점',
  '(주)컬쳐씨',
  '(주)코리아세븐  관악미성점',
  '(주)코리아세븐  역삼  14호점',
  '(주)코리아세븐  혜화점',
  '(주)코리아세븐 관악복마을점',
  '(주)코리아세븐 구로개봉푸르뫼점',
  '(주)코리아세븐 논현영동점',
  '(주)코리아세븐 답십리사거리점',
  '(주)코리아세븐 당고개점',
  '(주)코리아세븐 동교숲길점',
  '(주)코리아세븐 드림퍼스트하이점',
  '(주)코리아세븐 마천센터점',
  '(주)코리아세븐 마포노고산점',
  '(주)코리아세븐 마포양원점',
  '(주)코리아세븐 문정프리미엄점',
  '(주)코리아세븐 미아래미안점',
  '(주)코리아세븐 방배점',
  '(주)코리아세븐 상도등용점',
  '(주)코리아세븐 서소문점',
  '(주)코리아세븐 서울대드림점',
  '(주)코리아세븐 서초노블레스점',
  '(주)코리아세븐 서초예당점',
  '(주)코리아세븐 석계점',
  '(주)코리아세븐 신대방점',
  '(주)코리아세븐 신도림이편한점',
  '(주)코리아세븐 신림대학스타점',
  '(주)코리아세븐 신월지양로점',
  '(주)코리아세븐 역삼은탑점',
  '(주)코리아세븐 오류삼거리점',
  '(주)코리아세븐 왕십리센트라스점',
  '(주)코리아세븐 중화점',
  '(주)코리아세븐 챌린지스토어점',
  '(주)코리아세븐 화곡까치산로점',
  '(주)코리아세븐구일역점',
  '(주)코리아세븐신월2호점',
  '(주)코리아세븐신천최고점',
  '(주)코리아세븐신촌명물점',
  '(주)코리아세븐용강점',
  '(주)크라운제과',
  '(주)크로노스앤컴퍼니 도곡지점',
  '(주)태성에프앤비',
  '(주)탱크',
  '(주)트렌차이즈 / 이맘철판돈까스',
  '(주)트리시스',
  '(주)트리즈컴퍼니',
  '(주)티시스 엘 꾸비또',
  '(주)티에이치이부페',
  '(주)파고다아카데미',
  '(주)파라프',
  '(주)파리크라상 쉐이크쉑 청담점',
  '(주)파리크라상 피그인더가든여의도점',
  '(주)평안도순대국감자탕대치점',
  '(주)포엑스커피',
  '(주)포파코 홍대지점',
  '(주)풍전에프앤비',
  '(주)프로젝트 케이와이',
  '(주)플래닝 샐러드',
  '(주)피씨엔',
  '(주)필립수산',
  '(주)하우 경복궁역점',
  '(주)하우 신림역점',
  '(주)한국야쿠르트',
  '(주)한국에이스 쇼룸 헤트(HETH)',
  '(주)해물꽃돈',
  '(주)행복한고기마을',
  '(주)헤비스테이크 헤비푸드',
  '(주)현대그린푸드 글로비스본사',
  '(주)현대그린푸드 기아자동차 영업',
  '(주)현대그린푸드 도화엔지니어링',
  '(주)현대그린푸드 오스템임플란트점',
  '(주)호텔롯데 롯데월드 롯데리아',
  '(주)효성마케팅',
  '(주)희성양행',
  '(지에스GS)25 역삼홍인',
  '0909브런치카페',
  '0923(공구이삼)',
  '100디그리(100 degrees)',
  '102호프',
  '146번가',
  '15SooDa',
  '1970새마을포차홍대점',
  '1971',
  '1`s 카츠곳간',
  '20온스(20 oz)',
  '236숯불구이',
  '23평',
  '24 시짜장우동',
  '25그램',
  '25블럭 (25BLOCKS)',
  '25시감자탕뼈해장국',
  '25시호프치킨',
  '28청춘포차',
  '30년불멸의닭발',
  '33귀한족발보쌈',
  '365 아현뉴타운점',
  '369마을사회적협동조합',
  '3단지커피',
  '3평양조',
  '4.2브런치카페',
  '47바(47Bar)',
  '5070라이브',
  '528 호프',
  '5959양꼬치',
  '5959왕족발',
  '5드투케이크',
  '5의의미',
  '64김만두(구의점)',
  '666버거 영등포점',
  '7080노부사',
  '7080라이브마당',
  '7080추억의라이브',
  '721 포차',
  '79호프',
  '8-4 피자',
  '82wa 김치솥뚜껑 삼겹살',
  '85돈가스',
  '88전복죽',
  '88커피맥주',
  '88횟집',
  '89번지',
  '8빵',
  '8요일 튀김꼬치',
  '93조개구이&찜',
  '998사천요리점',
  '998커피호프',
  '999맥주집',
  '99갈비집',
  '99도 버블티',
  '99밀크티',
  '9길2',
  'ACE비어',
  'AMIGO (아미고)',
  'At (앹)',
  'BHC치킨양평현대점',
  'BITE 2 HEAVEN(바이투헤븐)',
  'Bar오밥나무',
  'Bloom(블룸)',
  'C.U외대 얄개점',
  'CGV 대학로 투썸커피',
  'CGV 하계 투썸커피',
  'CGV투썸 건대입구',
  'CIURICIURI',
  'CJCGV (씨제이 씨지브이) (주)',
  'CJCGV천호 투썸플러스',
  'COMES(코메스)',
  'CU 가락베스트점',
  'CU 가산두산점',
  'CU 가재울소망점',
  'CU 강동오네뜨점',
  'CU 강동풍차점',
  'CU 강동하이빌점',
  'CU 강북이안점',
  'CU 개봉영웅점',
  'CU 거여공원점',
  'CU 거여중앙점',
  'CU 거여현대점',
  'CU 경희스타점',
  'CU 공덕배문점',
  'CU 공릉플러스점',
  'CU 공릉화랑점',
  'CU 관악국회단지점',
  'CU 관악스마일점',
  'CU 관악이글점',
  'CU 광운대동문점',
  'CU 광운대점',
  'CU 광진구의로점',
  'CU 광진군자로점',
  'CU 구로동로점',
  'CU 구로디지털점',
  'CU 구로점',
  'CU 금호래미안점',
  'CU 낙성대입구점',
  'CU 남대문로5가점',
  'CU 노원수락산역점',
  'CU 답십리두산행운점',
  'CU 답십리역점',
  'CU 답십리위브점',
  'CU 당산 강변점',
  'CU 대치은마점',
  'CU 도림로점',
  'CU 도봉투웨니점',
  'CU 도선공원점',
  'CU 독산AK점',
  'CU 독산원룸점',
  'CU 돈암풍림점',
  'CU 동소문태양점',
  'CU 둔촌점',
  'CU 등촌보람점',
  'CU 등촌심미점',
  'CU 뚝섬나들목점',
  'CU 마장서울점',
  'CU 마포성산점',
  'CU 망우경남점',
  'CU 망우제일점',
  'CU 명일상암로점',
  'CU 목동오거리점',
  'CU 목동평화점',
  'CU 문정파인타운점',
  'CU 미아엄마손점',
  'CU 미아창문점',
  'CU 방배내방점',
  'CU 방배대로점',
  'CU 방배사이길점',
  'CU 방배중앙로점',
  'CU 백련산현대점',
  'CU 번동센트로힐점',
  'CU 번동힐점',
  'CU 보라매파크점',
  'CU 사당주영점',
  'CU 삼성본점',
  'CU 상계11단지점',
  'CU 상계수락점',
  'CU 상계하이츠점',
  'CU 상도래미안점',
  'CU 상도양녕로점',
  'CU 상도포스코점',
  'CU 상봉 솔렌시아점',
  'CU 상수사거리점',
  'CU 서대문센트레빌점',
  'CU 서초고교점',
  'CU 서초신사점',
  'CU 서초한빛점',
  'CU 성내타운점',
  'CU 성동마장로점',
  'CU 성북삼선교점',
  'CU 성북삼선점',
  'CU 성산책길희망점',
  'CU 성수2가점',
  'CU 센트라스중앙점',
  'CU 송파거여점',
  'CU 송파오금점',
  'CU 송파한화1호점',
  'CU 숭인한양점',
  'CU 시흥박미점',
  'CU 시흥승리점',
  'CU 신대방성당점',
  'CU 신도림대림',
  'CU 신도림크라운빌점',
  'CU 신도림포스빌점',
  'CU 신림CS점',
  'CU 신림고시촌점',
  'CU 신사미래점',
  'CU 신월경창점',
  'CU 신월양서점',
  'CU 신정그랜드점',
  'CU 신창중앙점',
  'CU 암사승리점',
  'CU 압구정거리점',
  'CU 양재은행점',
  'CU 양천향교점',
  'CU 역삼목화점',
  'CU 역촌명성점',
  'CU 염창JK블라썸호텔점',
  'CU 영등포태광점',
  'CU 예일역촌점',
  'CU 왕십리2동점',
  'CU 용두대박점',
  'CU 용산효창공원점',
  'CU 우이상아점',
  'CU 월곡두산점',
  'CU 위례포레샤인점',
  'CU 이대대신점',
  'CU 이촌챌리투스점',
  'CU 일원한솔점',
  'CU 자양번영로점',
  'CU 자양한강점',
  'CU 잠실아주점',
  'CU 장신대점',
  'CU 장안으뜸점',
  'CU 장안중앙점',
  'CU 장위퍼스트하이점',
  'CU 장위하늘채점',
  'CU 전농대로점',
  'CU 제기타운점',
  'CU 제기푸르지오1호점',
  'CU 제기한신점',
  'CU 종로성대점',
  'CU 중계주공5단지점',
  'CU 중곡오거리점',
  'CU 중구 필동점',
  'CU 중랑이화교제일점',
  'CU 중랑행복점',
  'CU 창동현대점',
  'CU 충정로프랑스점',
  'CU 포레스트힐점',
  'CU 하계노원로점',
  'CU 한남카페거리 2호점',
  'CU 홍은두산위브점',
  'CU 홍제행복점',
  'CU 홍제현대점',
  'CU 화곡2호점',
  'CU 화곡그랜드점',
  'CU 화곡대로점',
  'CU 화곡대원점',
  'CU 휘경해모로점',
  'CU강북제일점',
  'CU경기대사거리점',
  'CU관악파인빌점',
  'CU관악한샘점',
  'CU마천중앙점',
  'CU마포구청점',
  'CU마포에이스점',
  'CU망우써너스빌점',
  'CU면목시장점',
  'CU목동한영점',
  'CU묵동먹골역점',
  'CU문정엠스테이트점',
  'CU상일천호대로점',
  'CU신사공원점',
  'CU씨유 왕십리KCC점',
  'CU여의도KCC점',
  'CU영등포보성점',
  'CU일원우성점',
  'CU자양로점',
  'CU자양진덕점',
  'CU장안고려점',
  'CU정릉입구점',
  'CU종로햇살점',
  'CU참전숲길점',
  'CU창동중앙점',
  'CU청담 삼환점',
  'Cafe Artue',
  'EDP돈암점',
  'GS THE FRESH  개포블레스티지점(상품권)',
  'GS THE FRESH 목동13점',
  'GS THE FRESH 서울숲점',
  'GS THE FRESH 송파시그니처점(상품권)',
  'GS THE FRESH 신정2점',
  'GS THE FRESH 신정2점(상품권)',
  'GS THE FRESH 용산해링턴점',
  'GS THE FRESH 중랑 망우점(상품권)',
  'GS 용산보광점',
  'GS(GS)25 중랑타운',
  'GS25  가산스타점',
  'GS25  강남쌍용점',
  'GS25  금천타운점',
  'GS25  당산양남점',
  'GS25  마곡7단지점(상품권)',
  'GS25  방이도곡점',
  'GS25  봉천메트로점',
  'GS25  봉천한가온점',
  'GS25  삼전백제점',
  'GS25  상도초교점',
  'GS25  석촌호수점',
  'GS25  여의파라곤점',
  'GS25  월계주공점',
  'GS25  종암래미안점',
  'GS25  중랑팰리스점',
  'GS25  창동파크점',
  'GS25  화곡송화점',
  'GS25 가락중대로점',
  'GS25 가산태양점',
  'GS25 가양2점',
  'GS25 가양글로벌점',
  'GS25 가양우성점',
  'GS25 가양테크노점',
  'GS25 가양향교점',
  'GS25 가재울현대점',
  'GS25 갈월하늘점',
  'GS25 갈현포인트점',
  'GS25 강남로데오점',
  'GS25 강남세곡',
  'GS25 강남역삼점',
  'GS25 강남타운점',
  'GS25 강동삼성점',
  'GS25 강동성심점',
  'GS25 강서공항점',
  'GS25 강서등촌점',
  'GS25 강서부영점',
  'GS25 강서화곡로점',
  'GS25 강일4단지점',
  'GS25 개봉역점',
  'GS25 개봉프레시점',
  'GS25 개포럭키점',
  'GS25 개포사랑점',
  'GS25 건대수정점',
  'GS25 고대종암점',
  'GS25 공릉중앙(상품권)',
  'GS25 공릉타운점',
  'GS25 관악고시촌점',
  'GS25 관악대성점',
  'GS25 광나루현대점',
  'GS25 광장삼성점',
  'GS25 광진미소점',
  'GS25 광진제일점',
  'GS25 구로사랑점',
  'GS25 구로하나점',
  'GS25 구로허브점',
  'GS25 구산점',
  'GS25 금천스타즈점',
  'GS25 금천제일점',
  'GS25 금호극동점',
  'GS25 금호벽산점',
  'GS25 금호역점',
  'GS25 금호예향',
  'GS25 길동베네치아',
  'GS25 길음래미안점',
  'GS25 길음본점',
  'GS25 길음센터피스점',
  'GS25 낙성베스트',
  'GS25 남가좌에코점',
  'GS25 남강학사점',
  'GS25 남구로포인트점',
  'GS25 노원웰빙점',
  'GS25 뉴금천유진(상품권)',
  'GS25 뉴화양타운점',
  'GS25 답십리중앙점',
  'GS25 답십리한신점',
  'GS25 당산미래점',
  'GS25 당산역점',
  'GS25 대림춘혜점',
  'GS25 대방중앙점',
  'GS25 대조초롱점',
  'GS25 대치은마',
  'GS25 덕수궁캐슬점',
  'GS25 도봉으뜸점',
  'GS25 독산 푸르지오점',
  'GS25 독산골드파크3차점',
  'GS25 동대문구청점',
  'GS25 동대문두산점',
  'GS25 동대문메가점',
  'GS25 동대문신동아점',
  'GS25 동대문한신점',
  'GS25 동덕여대사랑점',
  'GS25 동자제일점',
  'GS25 동작성대점',
  'GS25 동작센타점',
  'GS25 등촌서낭점',
  'GS25 등촌한마음점',
  'GS25 디큐브시티점',
  'GS25 마곡파크뷰점',
  'GS25 마장중앙점',
  'GS25 마포성산점',
  'GS25 마포한우물점',
  'GS25 망우금호점',
  'GS25 망원마젤란점',
  'GS25 면목겸재점',
  'GS25 면목금성',
  'GS25 면목동일점',
  'GS25 면목타운점',
  'GS25 면목행복점',
  'GS25 명지장학점',
  'GS25 목동10단지',
  'GS25 목동아람점',
  'GS25 목동중앙점',
  'GS25 목동파크점',
  'GS25 목동현대점',
  'GS25 문정시영점',
  'GS25 미아송중점',
  'GS25 미아아린점',
  'GS25 발산아이파크점',
  'GS25 방배아트힐점',
  'GS25 방배홈타운점',
  'GS25 방화가온점',
  'GS25 방화샤르망점',
  'GS25 방화온누리점',
  'GS25 방화행복점',
  'GS25 번동북부점',
  'GS25 번동사거리점',
  'GS25 보라매삼성',
  'GS25 보문역점',
  'GS25 봉천은천점',
  'GS25 삼성승리점',
  'GS25 삼성한울점',
  'GS25 상계6단지점',
  'GS25 상계은빛점',
  'GS25 상계제일점',
  'GS25 상도 골드점',
  'GS25 상도래미안점',
  'GS25 상도미래점(GS25)',
  'GS25 상봉써너스점',
  'GS25 상봉우정점',
  'GS25 상암사보이점',
  'GS25 서대문고창점',
  'GS25 서울숲푸르지오점',
  'GS25 서초남부점',
  'GS25 서초반포점',
  'GS25 서초아남점',
  'GS25 선유도타워점',
  'GS25 성내삼성점',
  'GS25 성북꿈의숲',
  'GS25 성북동신점',
  'GS25 성북동신점(상품권)',
  'GS25 성산연희점',
  'GS25 성수SKV1',
  'GS25 송파나루점',
  'GS25 송파세원점',
  'GS25 송파잠실점',
  'GS25 송파제일점',
  'GS25 송파희망점',
  'GS25 수명산4단지점',
  'GS25 수색두빌점',
  'GS25 수유광산점',
  'GS25 수유대성점',
  'GS25 수유벽산점',
  'GS25 수유센터점',
  'GS25 숭례문점',
  'GS25 숭인현대점',
  'GS25 시흥금하로',
  'GS25 시흥뉴타운점',
  'GS25 신금호역점',
  'GS25 신당래미안점',
  'GS25 신대방중앙점',
  'GS25 신도림타운점',
  'GS25 신림두림점(상품권)',
  'GS25 신림미림점',
  'GS25 신림빌리지점',
  'GS25 신설중앙점',
  'GS25 신월베스트점',
  'GS25 신월은하점',
  'GS25 신월희망점',
  'GS25 신이수자이점',
  'GS25 쌍문신원점',
  'GS25 쌍문중앙점',
  'GS25 암사현대',
  'GS25 양녕골드점',
  'GS25 양재윤현점',
  'GS25 양재타운점',
  'GS25 양재프랜드',
  'GS25 양지사거리점',
  'GS25 양천유니버스점',
  'GS25 양천유니버스점(상품권)',
  'GS25 양평지산점',
  'GS25 언남윤현점',
  'GS25 언남윤현점(상품권)',
  'GS25 여의KTB',
  'GS25 여의파이낸스점',
  'GS25 역삼덕원점',
  'GS25 역삼블루점',
  'GS25 역삼태극점',
  'GS25 역촌부호점',
  'GS25 역촌행복점',
  'GS25 역촌행복점(상품권)',
  'GS25 염창 빌리지점',
  'GS25 염창세빛점',
  'GS25 영등포그랜드점',
  'GS25 영등포당일점',
  'GS25 영등포병원점',
  'GS25 영등포우신점',
  'GS25 영등포청과점',
  'GS25 오류동역점',
  'GS25 옥수상떼뷰점',
  'GS25 용강햇살점(상품권)',
  'GS25 용두청계점',
  'GS25 용문시장점',
  'GS25 용산만리재점',
  'GS25 우성스타',
  'GS25 월계석계역',
  'GS25 월계성북역점(상품권)',
  'GS25 월곡영광점',
  'GS25 유어스점',
  'GS25 은평두산위브점',
  'GS25 은평불광점',
  'GS25 은평영화점',
  'GS25 일원센타점',
  'GS25 자양우리점',
  'GS25 자양타운점',
  'GS25 잠실우성점',
  'GS25 잠원중앙점',
  'GS25 장위화랑점(상품권)',
  'GS25 전농사거리점',
  'GS25 전농삼성점',
  'GS25 정릉아리랑점',
  'GS25 정릉하이츠점',
  'GS25 종로방통대2점',
  'GS25 중계럭키점',
  'GS25 중계무지개',
  'GS25 중계우성점',
  'GS25 중곡청운점',
  'GS25 중구디오빌점',
  'GS25 중대학사점',
  'GS25 중랑동부점',
  'GS25 중랑동원점',
  'GS25 중랑스타점',
  'GS25 중앙한가온점',
  'GS25 지에스 사랑점',
  'GS25 진관아이파크점',
  'GS25 진관웅신점',
  'GS25 진관캐슬',
  'GS25 창동삼성',
  'GS25 창신역점',
  'GS25 천호사랑점',
  'GS25 천호한강점',
  'GS25 청량리햇살점',
  'GS25 충정로사랑점',
  'GS25 카이스트원룸점',
  'GS25 파르나스타워점',
  'GS25 하계타운점',
  'GS25 한강성심병원점(상품권)',
  'GS25 한양제일점',
  'GS25 한진본',
  'GS25 합정청마점',
  'GS25 행당점',
  'GS25 홍대몬스터점',
  'GS25 홍제힐스테이트점',
  'GS25 화곡개나리점',
  'GS25 화곡개나리점(상품권)',
  'GS25 화곡공원점',
  'GS25 화곡베스트점',
  'GS25 화곡하늘점',
  'GS25 화양행운점',
  'GS25 회현캐슬점',
  'GS25 휘경주공점',
  'GS25강남동원점',
  'GS25강남본점',
  'GS25강일리버점',
  'GS25거여삼호점',
  'GS25경희의대점',
  'GS25고려대역점',
  'GS25관악대학점',
  'GS25관악원앙점',
  'GS25관악점',
  'GS25광진시티점',
  'GS25구로개봉점',
  'GS25구로싸이언점',
  'GS25구로영흥점',
  'GS25구의새한점',
  'GS25구의타운점',
  'GS25남구로점',
  'GS25노고산본점',
  'GS25노량스터디점',
  'GS25노원한신점',
  'GS25녹번역점',
  'GS25뉴신당센터',
  'GS25당산대로점',
  'GS25대륭포스트점',
  'GS25도봉소망점',
  'GS25동대문패션점',
  'GS25동작드림점',
  'GS25동작상떼빌점',
  'GS25마포영진점',
  'GS25망원포은로점',
  'GS25면목두성점',
  'GS25목동고목점',
  'GS25묵동현대점',
  'GS25방배고려점',
  'GS25방학ESA점(상품권)',
  'GS25방학신동아점',
  'GS25북가좌제일점',
  'GS25사당한빛점',
  'GS25사보이호텔점',
  'GS25삼육병원점',
  'GS25삼전중앙점',
  'GS25상계역점',
  'GS25상도스위트점',
  'GS25상명대점',
  'GS25상암조약돌점',
  'GS25서대문홍은점',
  'GS25서초세인트점',
  'GS25석계한진점',
  'GS25성내타운점',
  'GS25성북삼익점',
  'GS25세종마을',
  'GS25수유우이점',
  'GS25숙대점',
  'GS25신당삼성점',
  'GS25신림금성점',
  'GS25신림석류점',
  'GS25신월양강',
  'GS25신천으뜸점',
  'GS25쌍문성원점',
  'GS25암사캐슬점',
  'GS25압구정화인점',
  'GS25양평코업점',
  'GS25여의성우점',
  'GS25역삼기쁨점',
  'GS25연신내대조점',
  'GS25영등포대길점',
  'GS25영등포충무점',
  'GS25영등포프레비뉴',
  'GS25외대후레쉬점',
  'GS25용산고바우',
  'GS25월계중앙점',
  'GS25은평백련산점',
  'GS25응암선덕점',
  'GS25이문삼거리점',
  'GS25중곡센타점',
  'GS25중곡한마음점',
  'GS25지에스강남',
  'GS25천호타운점',
  'GS25풍납리버빌',
  'GS25필동점',
  'GS25한남아이파크',
  'GS25헬리오시티1호점',
  'GS25화곡대원점',
  'GS25화곡월정점',
  'GS상봉송림점',
  'GS수퍼  성북돈암점-일반',
  'GS수퍼  종로구기점-제휴',
  'GS수퍼 남산타운점',
  'GS수퍼 여의도점_일반',
  'GS스25 미아행운점',
  'H(에이치)',
  'Hotel de ciel',
  'JK블라썸 호텔',
  'JK블라썸 호텔 GMG골프',
  'JK블라썸 호텔(염창8경양식)',
  'JVL부대찌개 강동점',
  'KAISEN(가이센)',
  'KFC구로디지털',
  'Le pain(르빵)',
  'O(오)',
  'PORTER THE HOUSE',
  'SB레스토랑',
  'THE돼지',
  'TJ움직이는편의점',
  'TRA DI NOI',
  'UNI.T(유니티)',
  'cafe  the  tree',
  'cafe-in세종&세종부동산',
  'cu강동어울림점',
  'gs25이태원본점',
  'ivy (아이비)',
  'i노리터',
  'm&YOU (엠앤유)',
  'two평',
  '가고싶은 선리네',
  '가고싶은집',
  '가고파',
  '가라아게야',
  '가락',
  '가락농산물',
  '가락흑염소',
  '가람푸드써비스 주식회사',
  '가메골양푼이김치찌개',
  '가바타코',
  '가뱅(GAVIN)',
  '가보자',
  '가산칼국수보쌈',
  '가시리2관',
  '가야금민속주점',
  '가야초밥',
  '가재야',
  '가재울홈마트정육',
  '가정식뷔페',
  '가제(GAZE)',
  '가족사랑축산물',
  '가찬',
  '가츠가츠',
  '가츠몽 상봉점',
  '가츠몽 양재점',
  '가회 한경헌',
  '가희',
  '각각',
  '간다이',
  '간만에',
  '간빠이',
  '간식중독',
  '간이식당',
  '갈비데이',
  '갈비몽둥이',
  '갈비앤주물럭',
  '갈비왕',
  '갈십리',
  '갈채',
  '감나무',
  '감동',
  '감람도시락',
  '감성제과',
  '감성커피 고덕역점',
  '감악산생고기',
  '감탄 성북역점',
  '갑순이',
  '갓 튀김닭 서울대점',
  '갓츠킹 리센츠점',
  '갓텐스시  종로점',
  '갓포무샤(주)',
  '강경불고기 역삼점',
  '강경식당',
  '강경젓갈직판장',
  '강남 시나브로 사랑방',
  '강남동태찜,탕',
  '강남맛찌미',
  '강남방앗간',
  '강남생면우동',
  '강남오뎅',
  '강남한우미트델리샵',
  '강돈까스',
  '강동포차',
  '강두부',
  '강레오의차돌집 왕십리점',
  '강릉식당',
  '강박사푸드',
  '강변상회',
  '강북호프',
  '강서구 닭한마리',
  '강쇠네',
  '강씨네 호랑이곳감',
  '강씨식당',
  '강여사 명인전',
  '강일고깃집',
  '강일수제떡',
  '강진만 뻘낙지',
  '강호프',
  '강화고동집',
  '강화수산',
  '개기일식',
  '개미굴양꼬치',
  '개봉숯불갈비',
  '개봉칡냉면',
  '개성찬방',
  '개인생활',
  '개화기',
  '갤러리 더 스퀘어',
  '갤러리 더 스퀘어 용산점',
  '갤러리사주카페',
  '갤러리하우스M',
  '갬성포차',
  '걍우동',
  '거기다황먼지',
  '거기서 만나',
  '거부기',
  '거북촌',
  '거시기호프',
  '거실',
  '거위식당',
  '건강한 티쉑 체온테라피',
  '건대동문회관예식부',
  '게스트로노믹 고메 오드',
  '게창고',
  '겐지스',
  '겨울동화',
  '겨자나무',
  '겸카레',
  '겹겹',
  '경복궁 목동점(주)엔타스',
  '경복궁서초점(주)엔타스시스템',
  '경북1',
  '경북궁녹번점(주) 엔타스시스템',
  '경북상회',
  '경성육개장 앤 부대찌개',
  '경성육개장&부대찌개',
  '경숙이네 포장마차',
  '경아식당 수유점',
  '경양카츠 동대문점',
  '경일분식',
  '경해정',
  '경향곱창',
  '경향식당',
  '경희네 맛집',
  '경희식당',
  '계절맛집',
  '계절반찬',
  "고ㄷ도르(Cote d'or)",
  '고개호프',
  '고객만족',
  '고고싱',
  '고구려 전통 삼계탕',
  '고구려홍대점(주)덕용푸드시스템',
  '고기굽다 서초교대점',
  '고기극찬 중랑점',
  '고기랑 식당',
  ...],
 8080)

In [11]:
discontinuous_store = discontinuous_stores_uploaded

In [12]:
data1 = df[df.MCTNM.isin(discontinuous_store)==True]

In [13]:
data1

,TA_YM,MCT_RY_NM,MCTNM,BRD_NM,ARED,BZNCD,LALXCVL,LALYCVL,EST_AMT_TOT,EST_CNT_TOT,...,여성_60대,소득정보없음,소득3천만이하,소득5천만이하,소득7천만이하,소득1억이하,소득1억초과,생애단계_싱글,생애단계_영유아,생애단계_청소년
259780,202301,일반대중음식,고모네 포차,NaN,20211111,신창시장,127.040263067839,37.638634640724,4396922,18,...,0.000,0.000,64.851,27.756,0.000,0.000,7.393,64.851,0.000,35.149
259725,202301,일반대중음식,동영,NaN,20150717,사당역,126.980689654309,37.480587666302,3792883,26,...,0.000,0.000,0.000,0.000,0.000,0.000,100.000,0.000,0.000,0.000
259940,202301,일반대중음식,곰달래커피맥주,NaN,20190729,까치산역,126.849237369515,37.53084788234,4450995,57,...,0.000,23.899,76.101,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1031028,202301,한식,뫼촌,NaN,20180109,공덕역,126.952660239302,37.541325440144,30933582,483,...,0.822,2.007,20.608,33.588,20.491,7.206,16.101,69.041,8.637,14.881
259490,202301,커피전문점,컴포즈커피 명일역점,컴포즈커피,20200811,명일1동,127.143853872074,37.552093252301,600820,34,...,0.000,0.000,52.616,34.399,0.000,12.984,0.000,74.419,0.000,12.984
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1228694,202312,중식,라사천마라탕 강남점,라사천마라탕,20230825,테헤란로,127.04061458402,37.50093975199,20549713,737,...,3.677,4.011,15.185,46.095,19.764,4.562,10.383,74.355,2.128,12.258
1228472,202312,일반대중음식,초원포차,NaN,20220831,NaN,127.022265394021,37.613050621856,3393983,36,...,0.000,0.000,0.000,64.286,26.786,8.929,0.000,21.429,0.000,8.929
1229027,202312,중식,빠숑컴퍼니,NaN,20230915,화동본동시장,126.84646733974,37.544678782602,717125,17,...,0.000,0.000,21.526,78.474,0.000,0.000,0.000,100.000,0.000,0.000
967106,202312,편의점,CU 구로동로점,NaN,20190910,구로구청,126.890318667287,37.492658406558,317811,16,...,0.000,0.000,34.333,30.500,0.000,35.167,0.000,34.333,0.000,0.000
238160,202312,일식,정성라멘,NaN,20230526,선릉,127.048517425021,37.502931927158,22425852,952,...,1.653,1.159,10.852,30.879,21.675,9.846,25.588,57.002,2.829,30.448

In [14]:
data2 = data1.sort_values(['MCTNM', 'TA_YM'])

In [46]:
data2

,TA_YM,MCT_RY_NM,MCTNM,BRD_NM,ARED,BZNCD,LALXCVL,LALYCVL,EST_AMT_TOT,EST_CNT_TOT,...,여성_60대,소득정보없음,소득3천만이하,소득5천만이하,소득7천만이하,소득1억이하,소득1억초과,생애단계_싱글,생애단계_영유아,생애단계_청소년
737285,202305,일반대중음식,(C.C) 치킨카페,NaN,20230217,태릉입구,127.077334310539,37.620504138275,187663,21,...,10.411,0.00,0.000,10.411,56.712,32.877,0.000,0.000,0.000,10.411
1078290,202312,일반대중음식,(C.C) 치킨카페,NaN,20230217,태릉입구,127.077334310539,37.620504138275,1312869,30,...,5.587,0.00,17.757,17.713,0.000,0.000,64.530,17.757,0.000,66.696
684088,202304,일반대중음식,(Jokers)조커스,NaN,20230322,역촌중앙시장,126.920929051288,37.608923778988,1077125,23,...,0.000,0.00,5.000,95.000,0.000,0.000,0.000,100.000,0.000,0.000
249776,202305,일반대중음식,(Jokers)조커스,NaN,20230322,역촌중앙시장,126.920929051288,37.608923778988,2283247,27,...,0.000,23.01,0.000,22.488,8.358,0.000,46.144,48.881,0.000,46.144
1253452,202306,일반대중음식,(Jokers)조커스,NaN,20230322,역촌중앙시장,126.920929051288,37.608923778988,3223973,32,...,0.000,0.00,0.000,0.000,6.849,0.000,93.151,6.849,0.000,93.151
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505425,202303,한식,힘쎈장어 부끄러운새우,NaN,20220315,도곡공원,127.039076904375,37.492961917349,2604167,49,...,0.000,0.00,29.460,42.008,21.141,0.000,7.391,64.286,7.183,21.557
119557,202304,한식,힘쎈장어 부끄러운새우,NaN,20220315,도곡공원,127.039076904375,37.492961917349,4817010,111,...,0.000,0.00,4.769,68.649,5.551,11.258,9.773,65.991,4.769,29.240
624130,202305,한식,힘쎈장어 부끄러운새우,NaN,20220315,도곡공원,127.039076904375,37.492961917349,3467175,61,...,0.000,0.00,57.882,8.071,0.000,7.758,26.289,49.728,0.000,34.937
477188,202307,한식,힘쎈장어 부끄러운새우,NaN,20220315,도곡공원,127.039076904375,37.492961917349,1703592,21,...,0.000,0.00,0.000,100.000,0.000,0.000,0.000,100.000,0.000,0.000
39216,202309,한식,힘쎈장어 부끄러운새우,NaN,20220315,도곡공원,127.039076904375,37.492961917349,1169722,29,...,0.000,0.00,100.000,0.000,0.000,0.000,0.000,100.000,0.000,0.000

In [16]:
data2.to_csv("월매출 확인.csv", index=False, encoding='utf-8-sig')

## 브랜드 매장 수 이슈

In [8]:
df[df['BRD_NM']=='스타벅스']

,TA_YM,MCT_RY_NM,MCTNM,BRD_NM,ARED,BZNCD,LALXCVL,LALYCVL,EST_AMT_TOT,EST_CNT_TOT,...,여성_60대,소득정보없음,소득3천만이하,소득5천만이하,소득7천만이하,소득1억이하,소득1억초과,생애단계_싱글,생애단계_영유아,생애단계_청소년
56630,202309,커피전문점,주식회사 에스씨케이컴퍼니,스타벅스,20020919,명동,126.982948495541,37.560193082688,72214287003,7524387,...,4.259,2.497,18.403,35.374,19.556,11.675,12.494,42.680,12.214,26.749
456591,202312,커피전문점,주식회사 에스씨케이컴퍼니,스타벅스,20020919,명동,126.982948495541,37.560193082688,74207392993,7268534,...,4.408,2.347,16.902,34.917,20.605,12.228,13.000,40.327,11.763,27.879
533140,202306,커피전문점,주식회사 에스씨케이컴퍼니,스타벅스,20020919,명동,126.982948495541,37.560193082688,71448228995,7571325,...,4.328,2.700,18.870,34.807,19.345,11.646,12.633,42.972,11.789,26.884
615657,202305,커피전문점,주식회사 에스씨케이컴퍼니,스타벅스,20020919,명동,126.982948495541,37.560193082688,72825699360,7786613,...,4.263,2.796,19.092,35.120,19.114,11.501,12.376,43.100,12.333,26.585
668759,202310,커피전문점,주식회사 에스씨케이컴퍼니,스타벅스,20020919,명동,126.982948495541,37.560193082688,72336143943,7627350,...,4.330,2.498,18.064,35.262,19.999,11.734,12.442,42.062,12.036,26.705
699733,202303,커피전문점,주식회사 에스씨케이컴퍼니,스타벅스,20020919,명동,126.982948495541,37.560193082688,71666246214,7680788,...,4.124,2.961,19.513,35.293,18.553,11.508,12.172,44.158,12.210,26.079
717352,202308,커피전문점,주식회사 에스씨케이컴퍼니,스타벅스,20020919,명동,126.982948495541,37.560193082688,70506743548,7594440,...,4.393,2.510,18.830,35.173,19.120,11.700,12.666,42.855,11.711,26.882
832914,202311,커피전문점,주식회사 에스씨케이컴퍼니,스타벅스,20020919,명동,126.982948495541,37.560193082688,73518464691,7302995,...,4.243,2.487,17.600,35.130,20.094,11.991,12.699,41.589,11.801,27.321
951331,202304,커피전문점,주식회사 에스씨케이컴퍼니,스타벅스,20020919,명동,126.982948495541,37.560193082688,68934482731,7558701,...,4.102,2.821,19.434,35.283,18.727,11.533,12.202,44.077,12.088,26.261
1106454,202307,커피전문점,주식회사 에스씨케이컴퍼니,스타벅스,20020919,명동,126.982948495541,37.560193082688,71910410151,7671048,...,4.274,2.708,18.831,35.147,19.124,11.620,12.569,42.969,12.039,26.792
1184122,202302,커피전문점,주식회사 에스씨케이컴퍼니,스타벅스,20020919,명동,126.982948495541,37.560193082688,63338547139,6822880,...,4.087,2.920,19.735,36.396,17.649,11.392,11.910,44.031,12.382,26.248
1220343,202301,커피전문점,주식회사 에스씨케이컴퍼니,스타벅스,20020919,명동,126.982948495541,37.560193082688,66075277974,7173461,...,3.811,2.812,19.708,36.588,17.442,11.474,11.976,44.338,12.344,26.309

## 누락 월 데이터 추가 - ChatGPT

### 모든 월 채우기

In [19]:
df = df.sort_values(['MCTNM', 'TA_YM'])

In [43]:
# 예시 데이터프레임 생성 (실제 데이터를 사용하실 경우에는 해당 데이터프레임을 로드하세요)
data = {
    'TA_YM': [202301, 202302, 202307, 202309],
    'MCTNM': ['매장A', '매장A', '매장B', '매장B'],
    'EST_AMT_TOT': [100, 150, 200, 250]
}

df = pd.DataFrame(data)

# 전체 기준월 범위 생성
all_months = [202301, 202302, 202303, 202304, 202305, 202306, 202307, 202308, 202309, 202310, 202311, 202312]

# 중복된 기준월 및 매장명 제거
existing_data = df.groupby(['TA_YM', 'MCTNM']).size().reset_index(name='count')
existing_months = existing_data['TA_YM'].unique()

# 누락된 기준월 찾기
missing_data = pd.MultiIndex.from_product([all_months, existing_data['MCTNM'].unique()], names=['TA_YM', 'MCTNM']).to_frame(index=False)
missing_data = pd.merge(missing_data, existing_data, on=['TA_YM', 'MCTNM'], how='left')
missing_data = missing_data[missing_data['count'].isnull()]

# 누락된 기준월을 채우기
missing_df = pd.DataFrame(columns=['TA_YM', 'MCTNM', 'EST_AMT_TOT'])
for month in missing_data['TA_YM'].unique():
    for mctnm in missing_data[missing_data['TA_YM'] == month]['MCTNM'].unique():
        missing_df = pd.concat([missing_df, pd.DataFrame({'TA_YM': [month], 'MCTNM': [mctnm], 'EST_AMT_TOT': [0]})], ignore_index=True)

# 결과 출력 (기존 데이터와 누락된 데이터를 합치기)
result_df = pd.concat([df, missing_df], ignore_index=True)
print(result_df.sort_values(['MCTNM', 'TA_YM']))

     TA_YM MCTNM EST_AMT_TOT
0   202301   매장A         100
1   202302   매장A         150
6   202303   매장A           0
8   202304   매장A           0
10  202305   매장A           0
12  202306   매장A           0
14  202307   매장A           0
15  202308   매장A           0
17  202309   매장A           0
18  202310   매장A           0
20  202311   매장A           0
22  202312   매장A           0
4   202301   매장B           0
5   202302   매장B           0
7   202303   매장B           0
9   202304   매장B           0
11  202305   매장B           0
13  202306   매장B           0
2   202307   매장B         200
16  202308   매장B           0
3   202309   매장B         250
19  202310   매장B           0
21  202311   매장B           0
23  202312   매장B           0

### 비연속적인 부분만 채우기

In [45]:
# 예시 데이터프레임 생성 (실제 데이터를 사용하실 경우에는 해당 데이터프레임을 로드하세요)
data = {
    'TA_YM': [202301, 202302, 202307, 202309],
    'MCTNM': ['매장A', '매장A', '매장B', '매장B'],
    'EST_AMT_TOT': [100, 150, 200, 250]
}

df = pd.DataFrame(data)

# 전체 기준월 범위 생성
all_months = [202301, 202302, 202303, 202304, 202305, 202306, 202307, 202308, 202309, 202310, 202311, 202312]

# 중복된 기준월 및 매장명 제거
existing_data = df.groupby(['TA_YM', 'MCTNM']).size().reset_index(name='count')
existing_months = existing_data['TA_YM'].unique()

# 비연속적인 경우에만 중간에 빠진 월을 채우기
missing_df = pd.DataFrame(columns=['TA_YM', 'MCTNM', 'EST_AMT_TOT'])
for mctnm in existing_data['MCTNM'].unique():
    mctnm_data = existing_data[existing_data['MCTNM'] == mctnm]
    continuous_months = [month for month in all_months if month in mctnm_data['TA_YM'].values]
    for i in range(len(continuous_months) - 1):
        if continuous_months[i + 1] - continuous_months[i] > 1:
            for month in range(continuous_months[i] + 1, continuous_months[i + 1]):
                missing_df = pd.concat([missing_df, pd.DataFrame({'TA_YM': [month], 'MCTNM': [mctnm], 'EST_AMT_TOT': [0]})], ignore_index=True)

# 결과 출력 (기존 데이터와 누락된 데이터를 합치기)
result_df = pd.concat([df, missing_df], ignore_index=True)
print(result_df.sort_values(['MCTNM', 'TA_YM']))

    TA_YM MCTNM EST_AMT_TOT
0  202301   매장A         100
1  202302   매장A         150
2  202307   매장B         200
4  202308   매장B           0
3  202309   매장B         250

In [47]:
# 전체 기준월 범위 생성
all_months = [202301, 202302, 202303, 202304, 202305, 202306, 202307, 202308, 202309, 202310, 202311, 202312]

# 중복된 기준월 및 매장명 제거
existing_data = data2.groupby(['TA_YM', 'MCTNM']).size().reset_index(name='count')
existing_months = existing_data['TA_YM'].unique()

# 비연속적인 경우에만 중간에 빠진 월을 채우기
missing_df = pd.DataFrame(columns=['TA_YM', 'MCTNM', 'EST_AMT_TOT'])
for mctnm in existing_data['MCTNM'].unique():
    mctnm_data = existing_data[existing_data['MCTNM'] == mctnm]
    continuous_months = [month for month in all_months if month in mctnm_data['TA_YM'].values]
    for i in range(len(continuous_months) - 1):
        if continuous_months[i + 1] - continuous_months[i] > 1:
            for month in range(continuous_months[i] + 1, continuous_months[i + 1]):
                missing_df = pd.concat([missing_df, pd.DataFrame({'TA_YM': [month], 'MCTNM': [mctnm], 'EST_AMT_TOT': [0]})], ignore_index=True)

# 결과 출력 (기존 데이터와 누락된 데이터를 합치기)
result_df = pd.concat([data2, missing_df], ignore_index=True)
print(result_df.sort_values(['MCTNM', 'TA_YM']))

        TA_YM MCT_RY_NM        MCTNM BRD_NM        ARED BZNCD  \
0      202305    일반대중음식   (C.C) 치킨카페    NaN  20230217.0  태릉입구
76182  202306       NaN   (C.C) 치킨카페    NaN         NaN   NaN
76183  202307       NaN   (C.C) 치킨카페    NaN         NaN   NaN
76184  202308       NaN   (C.C) 치킨카페    NaN         NaN   NaN
76185  202309       NaN   (C.C) 치킨카페    NaN         NaN   NaN
...       ...       ...          ...    ...         ...   ...
58324  202305        한식  힘쎈장어 부끄러운새우    NaN  20220315.0  도곡공원
70476  202306       NaN  힘쎈장어 부끄러운새우    NaN         NaN   NaN
58325  202307        한식  힘쎈장어 부끄러운새우    NaN  20220315.0  도곡공원
70477  202308       NaN  힘쎈장어 부끄러운새우    NaN         NaN   NaN
58326  202309        한식  힘쎈장어 부끄러운새우    NaN  20220315.0  도곡공원

                LALXCVL          LALYCVL EST_AMT_TOT  EST_CNT_TOT  ...  \
0      127.077334310539  37.620504138275      187663         21.0  ...
76182               NaN              NaN           0          NaN  ...
76183               NaN              NaN           0          NaN  ...
76184               NaN              NaN           0          NaN  ...
76185               NaN              NaN           0          NaN  ...
...                 ...              ...         ...          ...  ...
58324  127.039076904375  37.492961917349     3467175         61.0  ...
70476               NaN              NaN           0          NaN  ...
58325  127.039076904375  37.492961917349     1703592         21.0  ...
70477               NaN              NaN           0          NaN  ...
58326  127.039076904375  37.492961917349     1169722         29.0  ...

       여성_60대  소득정보없음  소득3천만이하  소득5천만이하  소득7천만이하  소득1억이하  소득1억초과  생애단계_싱글  \
0      10.411     0.0    0.000   10.411   56.712  32.877   0.000    0.000
76182     NaN     NaN      NaN      NaN      NaN     NaN     NaN      NaN
76183     NaN     NaN      NaN      NaN      NaN     NaN     NaN      NaN
76184     NaN     NaN      NaN      NaN      NaN     NaN     NaN      NaN
76185     NaN     NaN      NaN      NaN      NaN     NaN     NaN      NaN
...       ...     ...      ...      ...      ...     ...     ...      ...
58324   0.000     0.0   57.882    8.071    0.000   7.758  26.289   49.728
70476     NaN     NaN      NaN      NaN      NaN     NaN     NaN      NaN
58325   0.000     0.0    0.000  100.000    0.000   0.000   0.000  100.000
70477     NaN     NaN      NaN      NaN      NaN     NaN     NaN      NaN
58326   0.000     0.0  100.000    0.000    0.000   0.000   0.000  100.000

       생애단계_영유아  생애단계_청소년
0           0.0    10.411
76182       NaN       NaN
76183       NaN       NaN
76184       NaN       NaN
76185       NaN       NaN
...         ...       ...
58324       0.0    34.937
70476       NaN       NaN
58325       0.0     0.000
70477       NaN       NaN
58326       0.0     0.000

[78331 rows x 34 columns]

In [48]:
result_df.sort_values(['MCTNM', 'TA_YM'])

,TA_YM,MCT_RY_NM,MCTNM,BRD_NM,ARED,BZNCD,LALXCVL,LALYCVL,EST_AMT_TOT,EST_CNT_TOT,...,여성_60대,소득정보없음,소득3천만이하,소득5천만이하,소득7천만이하,소득1억이하,소득1억초과,생애단계_싱글,생애단계_영유아,생애단계_청소년
0,202305,일반대중음식,(C.C) 치킨카페,NaN,20230217.0,태릉입구,127.077334310539,37.620504138275,187663,21.0,...,10.411,0.0,0.000,10.411,56.712,32.877,0.000,0.000,0.0,10.411
76182,202306,NaN,(C.C) 치킨카페,NaN,NaN,NaN,NaN,NaN,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76183,202307,NaN,(C.C) 치킨카페,NaN,NaN,NaN,NaN,NaN,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76184,202308,NaN,(C.C) 치킨카페,NaN,NaN,NaN,NaN,NaN,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76185,202309,NaN,(C.C) 치킨카페,NaN,NaN,NaN,NaN,NaN,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58324,202305,한식,힘쎈장어 부끄러운새우,NaN,20220315.0,도곡공원,127.039076904375,37.492961917349,3467175,61.0,...,0.000,0.0,57.882,8.071,0.000,7.758,26.289,49.728,0.0,34.937
70476,202306,NaN,힘쎈장어 부끄러운새우,NaN,NaN,NaN,NaN,NaN,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58325,202307,한식,힘쎈장어 부끄러운새우,NaN,20220315.0,도곡공원,127.039076904375,37.492961917349,1703592,21.0,...,0.000,0.0,0.000,100.000,0.000,0.000,0.000,100.000,0.0,0.000
70477,202308,NaN,힘쎈장어 부끄러운새우,NaN,NaN,NaN,NaN,NaN,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58326,202309,한식,힘쎈장어 부끄러운새우,NaN,20220315.0,도곡공원,127.039076904375,37.492961917349,1169722,29.0,...,0.000,0.0,100.000,0.000,0.000,0.000,0.000,100.000,0.0,0.000

### 샘플 데이터 생성

In [45]:
gpt = df[(df['MCTNM']=='(C.C) 치킨카페') | (df['MCTNM']=='힘쎈장어 부끄러운새우') | (df['MCTNM']=='목로')]
gpt

,TA_YM,MCT_RY_NM,MCTNM,BRD_NM,ARED,BZNCD,LALXCVL,LALYCVL,EST_AMT_TOT,EST_CNT_TOT,...,여성_60대,소득정보없음,소득3천만이하,소득5천만이하,소득7천만이하,소득1억이하,소득1억초과,생애단계_싱글,생애단계_영유아,생애단계_청소년
12936,202305,한식,목로,NaN,19980311,압구정,127.027573069223,37.525458887095,12390917,483,...,9.633,0.459,7.864,20.446,18.414,5.898,46.920,11.730,1.245,27.851
13080,202301,한식,목로,NaN,20210708,상암동MBC,126.895312004325,37.578132787371,50692134,648,...,1.047,0.977,8.419,36.150,20.981,19.249,14.224,42.144,8.104,33.535
23313,202302,한식,목로,NaN,20210708,상암동MBC,126.895312004325,37.578132787371,78483684,656,...,0.000,1.306,6.613,30.536,23.378,6.952,31.214,32.504,18.591,30.545
39216,202309,한식,힘쎈장어 부끄러운새우,NaN,20220315,도곡공원,127.039076904375,37.492961917349,1169722,29,...,0.000,0.000,100.000,0.000,0.000,0.000,0.000,100.000,0.000,0.000
59318,202308,한식,목로,NaN,19980311,압구정,127.027573069223,37.525458887095,17309342,567,...,12.843,0.978,2.552,25.602,17.011,14.859,38.998,17.734,1.106,31.105
75981,202304,한식,목로,NaN,20210708,상암동MBC,126.895312004325,37.578132787371,58155641,645,...,1.941,0.000,22.783,25.951,13.781,12.839,24.646,39.086,6.359,38.537
86094,202309,일반대중음식,목로,NaN,20150113,공덕뉴타운,126.958569924706,37.549366276493,14662471,179,...,60.072,0.000,0.681,29.315,63.596,0.881,5.527,4.806,3.524,24.670
119557,202304,한식,힘쎈장어 부끄러운새우,NaN,20220315,도곡공원,127.039076904375,37.492961917349,4817010,111,...,0.000,0.000,4.769,68.649,5.551,11.258,9.773,65.991,4.769,29.240
123718,202306,한식,목로,NaN,20210708,상암동MBC,126.895312004325,37.578132787371,89848487,681,...,0.000,1.307,8.705,32.941,13.796,25.035,18.216,38.936,21.138,20.273
132604,202311,한식,목로,NaN,19980311,압구정,127.027573069223,37.525458887095,21739887,730,...,12.932,1.032,3.064,21.453,18.076,16.954,39.422,18.492,2.248,35.239
167478,202311,한식,목로,NaN,20190801,삼성중앙역,127.052234812221,37.511269543358,6787239,67,...,0.000,0.000,0.000,4.728,25.775,33.147,36.350,30.503,2.440,46.721
198504,202310,한식,목로,NaN,19980311,압구정,127.027573069223,37.525458887095,22983319,695,...,9.913,0.477,4.395,21.816,14.683,20.168,38.462,23.813,4.122,36.772
200882,202303,일반대중음식,목로,NaN,20150113,공덕뉴타운,126.958569486505,37.549366317538,11737552,252,...,1.994,0.997,8.146,70.863,4.158,12.532,3.304,8.231,0.000,58.331
210207,202307,한식,목로,NaN,20190801,삼성중앙역,127.052234812221,37.511269543358,15108885,170,...,0.000,0.000,3.444,31.309,32.248,20.726,12.273,54.602,20.288,14.339
210335,202301,한식,힘쎈장어 부끄러운새우,NaN,20220315,도곡공원,127.039076904375,37.492961917349,1069150,29,...,0.000,0.000,0.000,56.451,25.926,0.000,17.623,82.377,0.000,17.623
299051,202302,한식,목로,NaN,20190801,삼성중앙역,127.052234812221,37.511269543358,10831057,129,...,0.000,0.000,15.946,32.048,31.996,5.732,14.278,51.016,5.732,28.400
322636,202312,한식,목로,NaN,20210708,상암동MBC,126.895312004325,37.578132787371,78222113,502,...,0.000,0.000,29.252,24.735,0.583,25.387,20.044,31.349,11.393,20.287
396853,202312,한식,목로,NaN,19980311,압구정,127.027573069223,37.525458887095,24280499,618,...,9.736,2.678,7.659,14.757,23.423,10.016,41.467,26.713,3.705,28.634
439932,202306,한식,목로,NaN,20190801,삼성중앙역,127.052234812221,37.511269543358,8481433,132,...,0.000,0.000,22.574,52.121,5.895,8.339,11.071,63.983,0.000,8.339
461439,202303,한식,목로,NaN,20210708,상암동MBC,126.895312004325,37.578132787371,76325988,756,...,0.000,0.000,9.588,29.973,16.243,16.421,27.774,47.219,11.632,31.903
477188,202307,한식,힘쎈장어 부끄러운새우,NaN,20220315,도곡공원,127.039076904375,37.492961917349,1703592,21,...,0.000,0.000,0.000,100.000,0.000,0.000,0.000,100.000,0.000,0.000
505425,202303,한식,힘쎈장어 부끄러운새우,NaN,20220315,도곡공원,127.039076904375,37.492961917349,2604167,49,...,0.000,0.000,29.460,42.008,21.141,0.000,7.391,64.286,7.183,21.557
514475,202305,일반대중음식,목로,NaN,20150113,공덕뉴타운,126.958569924706,37.549366276493,8375117,228,...,2.270,0.887,14.858,54.255,14.752,8.865,6.383,13.901,0.000,72.837
520322,202307,한식,목로,NaN,19980311,압구정,127.027573069223,37.525458887095,17730734,568,...,18.922,0.864,8.680,11.929,19.005,6.376,53.147,17.935,1.481,29.412
585710,202302,한식,목로,NaN,19980311,압구정,127.027573069223,37.525458887095,20884259,641,...,10.188,0.000,3.442,10.005,18.724,23.359,44.470,20.330,2.203,38.458
594808,202310,한식,목로,NaN,20210708,상암동MBC,126.895312004325,37.578132787371,58846911,515,...,0.000,3.110,10.015,35.298,11.625,22.814,17.138,41.562,5.785,32.677
602635,202312,일반대중음식,목로,NaN,20150113,공덕뉴타운,126.958569924706,37.549366276493,10199790,200,...,3.871,0.000,3.871,51.223,31.873,0.000,13.033,15.607,12.710,56.778
602972,202310,일반대중음식,목로,NaN,20150113,공덕뉴타운,126.958569924706,37.549366276493,12189393,206,...,31.260,0.000,5.864,52.728,30.597,9.281,1.530,8.363,5.405,40.847
622275,202304,한식,목로,NaN,19980311,압구정,127.027573069223,37.525458887095,22124211,755,...,13.720,0.670,7.817,24.952,11.232,9.381,45.948,15.348,1.563,26.899
624130,202305,한식,힘쎈장어 부끄러운새우,NaN,20220315,도곡공원,127.039076904375,37.492961917349,3467175,61,...,0.000,0.000,57.882,8.071,0.000,7.758,26.289,49.728,0.000,34.937
624916,202303,한식,목로,NaN,19980311,압구정,127.027573069223,37.525458887095,24201575,852,...,14.872,0.000,5.929,25.505,16.032,2.120,50.414,17.589,1.226,34.846
682091,202309,한식,목로,NaN,19980311,압구정,127.027573069223,37.525458887095,14145923,483,...,13.337,0.000,2.348,20.130,11.239,19.830,46.454,13.936,5.295,24.326
684070,202301,한식,목로,NaN,20190801,삼성중앙역,127.052234812221,37.511269543358,6623991,74,...,0.000,0.000,13.206,24.790,43.649,18.355,0.000,70.565,0.000,18.355
687610,202305,한식,목로,NaN,20190801,삼성중앙역,127.052234812221,37.511269543358,11902220,141,...,0.000,0.000,22.407,32.778,20.969,0.000,23.846,77.176,0.000,9.084
737285,202305,일반대중음식,(C.C) 치킨카페,NaN,20230217,태릉입구,127.077334310539,37.620504138275,187663,21,...,10.411,0.000,0.000,10.411,56.712,32.877,0.000,0.000,0.000,10.411
772718,202308,한식,목로,NaN,20190801,삼성중앙역,127.052234812221,37.511269543358,25663517,181,...,7.035,0.000,8.723,31.938,41.505,8.407,9.427,42.490,29.159,8.512
782893,202311,일반대중음식,목로,NaN,20150113,공덕뉴타운,126.958569924706,37.549366276493,10206716,247,...,3.333,0.000,8.929,65.059,18.691,7.321,0.000,7.321,3.214,39.345
877472,202301,한식,목로,NaN,19980311,압구정,127.027573069223,37.525458887095,31662276,887,...,9.490,0.883,5.385,22.688,11.212,7.990,51.842,17.655,1.633,35.511
891007,202306,한식,목로,NaN,19980311,압구정,127.027573069223,37.525458887095,21387238,665,...,8.272,0.000,0.000,22.573,20.575,8.587,48.265,8.728,2.454,39.152
895649,202304,한식,목로,NaN,20190801,삼성중앙역,127.052234812221,37.511269543358,8931864,110,...,0.000,0.000,29.322,31.634,6.779,13.663,18.602,72.517,0.000,18.602
897341,202310,한식,목로,NaN,20190801,삼성중앙역,127.052234812221,37.511269543358,6793865,82,...,34.314,0.000,19.844,51.471,12.890,0.000,15.795,49.891,0.000,15.795
927375,202304,일반대중음식,목로,NaN,20150113,공덕뉴타운,126.958569486505,37.549366317538,8650768,214,...,8.480,1.018,8.820,65.536,0.000,22.388,2.239,18.792,5.088,65.400
955101,202311,한식,목로,NaN,20210708,상암동MBC,126.895312004325,37.578132787371,72105512,492,...,5.995,1.680,2.868,27.701,31.629,23.163,12.959,44.546,5.103,37.688
995506,202303,한식,목로,NaN,20190801,삼성중앙역,127.052234812221,37.511269543358,9661796,133,...,0.000,0.000,18.605,48.948,28.904,3.544,0.000,71.650,10.299,17.386
1024148,202309,한식,목로,NaN,20210708,상암동MBC,126.895312004325,37.578132787371,78325441,694,...,1.159,4.058,18.100,45.717,11.578,15.330,5.217,46.200,3.124,31.884
1034570,202308,일반대중음식,목로,NaN,20150113,공덕뉴타운,126.958569924706,37.549366276493,9945879,148,...,30.581,0.000,4.587,35.168,34.862,17.676,7.706,6.239,0.000,26.361
1035763,202302,한식,힘쎈장어 부끄러운새우,NaN,20220315,도곡공원,127.039076904375,37.492961917349,3580736,49,...,0.000,0.000,12.229,0.000,62.144,18.466,7.161,39.551,0.000,52.238
1069882,202306,일반대중음식,목로,NaN,20150113,공덕뉴타운,126.958569924706,37.549366276493,15479436,268,...,37.023,3.110,7.405,68.641,5.665,7.034,8.145,6.072,3.813,29.730
1078290,202312,일반대중음식,(C.C) 치킨카페,NaN,20230217,태릉입구,127.077334310539,37.620504138275,1312869,30,...,5.587,0.000,17.757,17.713,0.000,0.000,64.530,17.757,0.000,66.696
1078745,202301,일반대중음식,목로,NaN,20150113,공덕뉴타운,126.957155476829,37.548429403521,11518440,242,...,0.000,1.747,15.034,43.303,2.700,29.963,7.253,19.375,0.000,64.002
1155210,202305,한식,목로,NaN,20210708,상암동MBC,126.895312004325,37.578132787371,64519259,671,...,0.000,0.000,7.958,36.635,21.109,14.241,20.057,41.348,0.558,36.947
1155487,202307,한식,목로,NaN,20210708,상암동MBC,126.895312004325,37.578132787371,69300451,697,...,0.000,0.246,7.699,25.664,31.056,11.964,23.370,35.308,13.675,39.948
1161832,202302,일반대중음식,목로,NaN,20150113,공덕뉴타운,126.958569486505,37.549366317538,9888308,238,...,2.894,5.145,7.781,47.331,8.617,17.942,13.183,13.312,0.000,49.839
1206915,202312,한식,목로,NaN,20190801,삼성중앙역,127.052234812221,37.511269543358,10248440,136,...,0.000,0.000,7.735,27.683,19.098,2.963,42.521,36.339,5.605,23.943
1209390,202307,일반대중음식,목로,NaN,20150113,공덕뉴타운,126.958569924706,37.549366276493,12889899,220,...,24.085,0.000,11.416,61.127,3.998,1.060,22.399,9.056,0.000,34.971
1311917,202308,한식,목로,NaN,20210708,상암동MBC,126.895312004325,37.578132787371,62531687,577,...,0.000,1.640,11.115,33.137,25.258,13.192,15.658,51.874,5.457,32.693
1331867,202309,한식,목로,NaN,20190801,삼성중앙역,127.052234812221,37.511269543358,7639391,113,...,0.000,1.580,10.532,24.908,27.278,19.063,16.640,60.453,7.267,16.482

In [6]:
gpt.to_csv("GPT.csv", index=False, encoding='utf-8-sig')

### 성공 코드 (샘플 데이터)

In [66]:
# 수정된 접근: 비연속적인 연월에 대해서만 누락된 데이터를 추가

# 결과를 저장할 데이터프레임 초기화
filled_df_corrected = pd.DataFrame()

# 각 가맹점별로 처리
for mctnm in gpt['MCTNM'].unique():
    mctnm_data = gpt[gpt['MCTNM'] == mctnm].sort_values(by='TA_YM')
    existing_months = mctnm_data['TA_YM'].tolist()
    
    # 비연속적인 연월 찾기
    for i, month in enumerate(existing_months[:-1]):
        next_month = existing_months[i + 1]
        # 다음 연월과 현재 연월 사이의 차이가 1보다 크면 비연속적
        if next_month - month > 1:
            for missing_month in range(month + 1, next_month):
                # 누락된 연월에 대한 데이터 생성
                missing_data = mctnm_data.iloc[0].copy()
                missing_data['TA_YM'] = missing_month
                # 지정된 컬럼 외 나머지는 0으로 설정
                for col in missing_data.index:
                    if col not in ['TA_YM', 'MCT_RY_NM', 'MCTNM', 'BRD_NM', 'ARED', 'BZNCD', 'LALXCVL', 'LALYCVL']:
                        missing_data[col] = 0
                filled_df_corrected = pd.concat([filled_df_corrected, pd.DataFrame([missing_data])], ignore_index=True)

# 기존 데이터와 수정된 누락된 데이터를 합치기
result_df_corrected = pd.concat([gpt, filled_df_corrected], ignore_index=True).sort_values(by=['MCTNM', 'TA_YM'])
result_df_corrected

,TA_YM,MCT_RY_NM,MCTNM,BRD_NM,ARED,BZNCD,LALXCVL,LALYCVL,EST_AMT_TOT,EST_CNT_TOT,...,여성_60대,소득정보없음,소득3천만이하,소득5천만이하,소득7천만이하,소득1억이하,소득1억초과,생애단계_싱글,생애단계_영유아,생애단계_청소년
34,202305,일반대중음식,(C.C) 치킨카페,NaN,20230217,태릉입구,127.077334310539,37.620504138275,187663,21,...,10.411,0.0,0.000,10.411,56.712,32.877,0.000,0.000,0.0,10.411
59,202306,일반대중음식,(C.C) 치킨카페,NaN,20230217,태릉입구,127.077334310539,37.620504138275,0,0,...,0.000,0.0,0.000,0.000,0.000,0.000,0.000,0.000,0.0,0.000
60,202307,일반대중음식,(C.C) 치킨카페,NaN,20230217,태릉입구,127.077334310539,37.620504138275,0,0,...,0.000,0.0,0.000,0.000,0.000,0.000,0.000,0.000,0.0,0.000
61,202308,일반대중음식,(C.C) 치킨카페,NaN,20230217,태릉입구,127.077334310539,37.620504138275,0,0,...,0.000,0.0,0.000,0.000,0.000,0.000,0.000,0.000,0.0,0.000
62,202309,일반대중음식,(C.C) 치킨카페,NaN,20230217,태릉입구,127.077334310539,37.620504138275,0,0,...,0.000,0.0,0.000,0.000,0.000,0.000,0.000,0.000,0.0,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29,202305,한식,힘쎈장어 부끄러운새우,NaN,20220315,도곡공원,127.039076904375,37.492961917349,3467175,61,...,0.000,0.0,57.882,8.071,0.000,7.758,26.289,49.728,0.0,34.937
57,202306,한식,힘쎈장어 부끄러운새우,NaN,20220315,도곡공원,127.039076904375,37.492961917349,0,0,...,0.000,0.0,0.000,0.000,0.000,0.000,0.000,0.000,0.0,0.000
20,202307,한식,힘쎈장어 부끄러운새우,NaN,20220315,도곡공원,127.039076904375,37.492961917349,1703592,21,...,0.000,0.0,0.000,100.000,0.000,0.000,0.000,100.000,0.0,0.000
58,202308,한식,힘쎈장어 부끄러운새우,NaN,20220315,도곡공원,127.039076904375,37.492961917349,0,0,...,0.000,0.0,0.000,0.000,0.000,0.000,0.000,0.000,0.0,0.000
3,202309,한식,힘쎈장어 부끄러운새우,NaN,20220315,도곡공원,127.039076904375,37.492961917349,1169722,29,...,0.000,0.0,100.000,0.000,0.000,0.000,0.000,100.000,0.0,0.000

In [68]:
result_df_corrected.to_csv("gpt2.csv", index=False, encoding='utf-8-sig')

### 최종 코드 (전체 데이터 적용)

In [4]:
# 비연속적인 연월에 대해서만 누락된 데이터를 추가

# 결과를 저장할 데이터프레임 초기화
filled_df_corrected = pd.DataFrame()

# 각 가맹점별로 처리
for mctnm in df['MCTNM'].unique():
    mctnm_data = df[df['MCTNM'] == mctnm].sort_values(by='TA_YM')
    existing_months = mctnm_data['TA_YM'].tolist()
    
    # 비연속적인 연월 찾기
    for i, month in enumerate(existing_months[:-1]):
        next_month = existing_months[i + 1]
        # 다음 연월과 현재 연월 사이의 차이가 1보다 크면 비연속적
        if next_month - month > 1:
            for missing_month in range(month + 1, next_month):
                # 누락된 연월에 대한 데이터 생성
                missing_data = mctnm_data.iloc[0].copy()
                missing_data['TA_YM'] = missing_month
                # 지정된 컬럼 외 나머지는 0으로 설정
                for col in missing_data.index:
                    if col not in ['TA_YM', 'MCT_RY_NM', 'MCTNM', 'BRD_NM', 'ARED', 'BZNCD', 'LALXCVL', 'LALYCVL']:
                        missing_data[col] = 0
                filled_df_corrected = pd.concat([filled_df_corrected, pd.DataFrame([missing_data])], ignore_index=True)

# 기존 데이터와 수정된 누락된 데이터를 합치기
result_df = pd.concat([df, filled_df_corrected], ignore_index=True).sort_values(by=['MCTNM', 'TA_YM'])
result_df

,TA_YM,MCT_RY_NM,MCTNM,BRD_NM,ARED,BZNCD,LALXCVL,LALYCVL,EST_AMT_TOT,EST_CNT_TOT,...,여성_60대,소득정보없음,소득3천만이하,소득5천만이하,소득7천만이하,소득1억이하,소득1억초과,생애단계_싱글,생애단계_영유아,생애단계_청소년
851139,202301,한식,"""미 ""갈매기살전문",NaN,20031105,익선동,126.991068861385,37.573007173395,32082497,442,...,0.756,0.756,18.956,41.902,20.308,13.501,4.576,68.725,2.912,17.340
751061,202302,한식,"""미 ""갈매기살전문",NaN,20031105,익선동,126.991068861385,37.573007173395,51156355,704,...,1.528,1.152,19.217,34.331,28.429,9.758,7.113,60.367,6.643,20.998
1343301,202303,한식,"""미 ""갈매기살전문",NaN,20031105,익선동,126.991068861385,37.573007173395,54534440,733,...,0.679,3.408,14.945,37.938,19.830,11.116,12.763,45.212,7.570,28.394
181899,202304,한식,"""미 ""갈매기살전문",NaN,20031105,익선동,126.991068861385,37.573007173395,84513865,1015,...,0.576,3.937,16.543,43.340,13.873,10.164,12.144,57.957,9.534,15.989
1173559,202305,한식,"""미 ""갈매기살전문",NaN,20031105,익선동,126.991068861385,37.573007173395,70911682,850,...,4.434,2.394,17.846,38.152,21.813,12.378,7.416,58.094,5.134,16.537
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353692,202308,양식,（주）에스알인베,NaN,20100121,수서역,127.103226986877,37.488510452832,49810547,1128,...,4.198,1.582,9.615,22.435,19.344,18.120,28.904,24.578,11.407,39.024
959171,202309,양식,（주）에스알인베,NaN,20100121,수서역,127.103226986877,37.488510452832,40096531,1015,...,3.457,2.594,7.253,27.881,19.919,12.677,29.676,28.544,13.324,36.674
155116,202310,양식,（주）에스알인베,NaN,20100121,수서역,127.103226986877,37.488510452832,33497913,874,...,4.678,0.581,6.927,28.690,22.706,17.848,23.248,32.342,16.282,26.179
965714,202311,양식,（주）에스알인베,NaN,20100121,수서역,127.103226986877,37.488510452832,29845619,853,...,2.788,1.634,13.909,29.292,14.482,12.809,27.874,34.191,20.221,24.117
219965,202312,양식,（주）에스알인베,NaN,20100121,수서역,127.103226986877,37.488510452832,39197200,1059,...,3.075,2.263,7.233,27.469,22.908,15.956,24.171,35.973,13.198,34.431

In [5]:
result_df.to_csv("month_fill.csv", index=False, encoding='utf-8-sig')

## 인허가 데이터와 비교

In [4]:
data1 = pd.read_csv('data/매장 관련/서울시 일반음식점 인허가 정보.csv', encoding='cp949')
data2 = pd.read_csv('data/매장 관련/서울시 휴게음식점 인허가 정보.csv', encoding='cp949')
data3 = pd.read_csv('data/매장 관련/서울시 제과점영업 인허가 정보.csv', encoding='cp949')

C:\Users\Puser\AppData\Local\Temp\ipykernel_17636\2732658014.py:1: DtypeWarning: Columns (13,25) have mixed types. Specify dtype option on import or set low_memory=False.
  data1 = pd.read_csv('data/매장 관련/서울시 일반음식점 인허가 정보.csv', encoding='cp949')
C:\Users\Puser\AppData\Local\Temp\ipykernel_17636\2732658014.py:2: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  data2 = pd.read_csv('data/매장 관련/서울시 휴게음식점 인허가 정보.csv', encoding='cp949')

In [5]:
data1 = data1.iloc[:,:26]
data2 = data2.iloc[:,:26]
data3 = data3.iloc[:,:26]

In [6]:
d1 = pd.concat([data1, data2], axis=0)
data = pd.concat([d1, data3], axis=0)

In [8]:
data.sort_values('인허가일자')

,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,...,도로명주소,도로명우편번호,사업장명,최종수정일자,데이터갱신구분,데이터갱신일자,업태구분명,좌표정보(X),좌표정보(Y),위생업태명
151597,3220000,3220000-101-1911-16480,19110528,NaN,1,영업/정상,1,영업,NaN,NaN,...,서울특별시 강남구 압구정로79길 47 (청담동),6013.0,골목식당,2018-03-16 16:56,I,59:59.0,한식,204438.3627,447036.9054,한식
59773,3180000,3180000-104-1913-01275,19130916,NaN,1,영업/정상,1,영업,NaN,NaN,...,"서울특별시 영등포구 여의나루로 77-1 (여의도동,102호)",7327.0,린네스가든,2019-06-14 14:22,U,40:00.0,다방,193488.8890,446902.5216,다방
109087,3180000,3180000-101-1921-10402,19210520,NaN,3,폐업,2,폐업,20190125,NaN,...,"서울특별시 영등포구 영중로10길 44 (영등포동3가,1층)",7303.0,차돌집,2019-01-25 9:53,U,40:00.0,한식,191971.8674,446232.0378,한식
109088,3180000,3180000-101-1930-09557,19301227,NaN,3,폐업,2,폐업,20181101,NaN,...,서울특별시 영등포구 대림로29길 43 (대림동),7415.0,으라차차,2018-11-01 15:17,U,37:28.0,기타,190686.6402,443515.1709,기타
9931,3240000,3240000-121-1952-04848,19520513,NaN,3,폐업,2,폐업,20170227,NaN,...,"서울특별시 강동구 고덕로62길 55 (명일동,주양쇼핑19호(지1층))",5269.0,케익하우스 이삭,2015-07-22 17:19,I,59:59.0,제과점영업,213493.9072,450038.8473,제과점영업
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1078,3210000,3210000-121-2024-00014,2024-02-05,NaN,1,영업/정상,1,영업,NaN,NaN,...,"서울특별시 서초구 신반포로 176, 신세계백화점 강남점 지하1층 식품관 (반포동)",6546.0,해피해피케이크,2024-02-05 16:54,I,07:00.0,제과점영업,200250.4478,444683.2205,NaN
9639,3210000,3210000-104-2024-00035,2024-02-05,NaN,1,영업/정상,1,영업,NaN,NaN,...,"서울특별시 서초구 신반포로 176, 신세계백화점 강남점 지하1층 식품행사장 (반포동)",6546.0,리은푸드,2024-02-05 10:55,I,07:00.0,일반조리판매,200250.4478,444683.2205,NaN
17181,3180000,3180000-101-2024-00079,2024-02-05,NaN,1,영업/정상,1,영업,NaN,NaN,...,"서울특별시 영등포구 당산로 83, 1층 105, 106, 107호 (당산동2가, 한...",7264.0,샤브올데이 당산직영점,2024-02-05 17:52,I,07:00.0,한식,NaN,NaN,NaN
17291,3130000,3130000-101-2024-00111,2024-02-05,NaN,1,영업/정상,1,영업,NaN,NaN,...,"서울특별시 마포구 와우산로 39-21, 지1층 좌측호 (상수동)",4049.0,찜이로닭,2024-02-05 11:10,I,07:00.0,한식,193052.3022,449547.1006,NaN
9615,3200000,3200000-104-2024-00023,2024-02-06,NaN,1,영업/정상,1,영업,NaN,NaN,...,"서울특별시 관악구 관악로37길 15, 2층 207호 (봉천동, 동아타운21)",8727.0,공간 두루,2024-02-05 18:05,I,07:00.0,기타 휴게음식점,196140.2604,442971.0659,NaN

In [13]:
df_merge = pd.merge(df, data, left_on='MCTNM', right_on='사업장명', how='inner')
df_merge

,TA_YM,MCT_RY_NM,MCTNM,BRD_NM,ARED,BZNCD,LALXCVL,LALYCVL,EST_AMT_TOT,EST_CNT_TOT,...,도로명주소,도로명우편번호,사업장명,최종수정일자,데이터갱신구분,데이터갱신일자,업태구분명,좌표정보(X),좌표정보(Y),위생업태명
0,202312,제과점,찰찰보리식빵,NaN,20230614,암사역,127.128775596857,37.551406284259,28165790,3685,...,"서울특별시 은평구 연서로 275, 1층 (불광동)",3342.0,찰찰보리식빵,2023-10-06 10:32,I,08:00.0,기타,193296.8476,457624.6186,NaN
1,202312,제과점,찰찰보리식빵,NaN,20230614,암사역,127.128775596857,37.551406284259,28165790,3685,...,"서울특별시 송파구 석촌호수로 68, 1층 (잠실동)",5559.0,찰찰보리식빵,2023-06-30 11:38,U,02:00.0,한식,207503.7125,445329.7022,NaN
2,202312,제과점,찰찰보리식빵,NaN,20230614,암사역,127.128775596857,37.551406284259,28165790,3685,...,"서울특별시 중랑구 망우로 424, sk텔레콤 1,2층 (망우동)",2164.0,찰찰보리식빵,2023-06-27 11:29,U,09:00.0,커피숍,208689.4671,455233.7016,NaN
3,202312,제과점,찰찰보리식빵,NaN,20230614,암사역,127.128775596857,37.551406284259,28165790,3685,...,"서울특별시 마포구 월드컵로13길 34 (망원동, 1층일부)",4012.0,찰찰보리식빵,2023-08-24 11:46,U,06:00.0,제과점영업,191823.7621,450380.7872,NaN
4,202312,제과점,찰찰보리식빵,NaN,20230614,암사역,127.128775596857,37.551406284259,28165790,3685,...,"서울특별시 동작구 상도로 89, 1층 (상도동)",6953.0,찰찰보리식빵,2023-06-28 10:48,I,00:00.0,제과점영업,193781.0542,444197.0017,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6886115,202305,편의점,GS25 연세시티점,NaN,20190822,연희동,126.932378649148,37.565390795362,257992,17,...,"서울특별시 서대문구 연희로10길 40, 1층 (연희동)",3725.0,GS25 연세시티점,2019-09-05 17:12,I,22:25.0,편의점,193955.6536,451451.8034,편의점
6886116,202305,편의점,GS25당산양평점,NaN,20130530,당산,126.904499499228,37.532887213553,427446,23,...,"서울특별시 영등포구 양평로 16, 당산동 대정프라자 102호호 (당산동6가)",7223.0,GS25당산양평점,2018-11-01 15:59,I,37:41.0,편의점,191477.4289,447859.0668,편의점
6886117,202312,한식,이치발,NaN,20231208,신월IC,126.838149483749,37.528666930428,2035325,60,...,"서울특별시 양천구 곰달래로14길 16, 1층 101호 (신월동, 용마주택)",7925.0,이치발,2023-12-05 16:59,I,07:00.0,호프/통닭,185625.8266,447393.3529,NaN
6886118,202301,패스트푸드,실버피자,NaN,20210813,NaN,127.081406762934,37.584115745017,547419,23,...,"서울특별시 중랑구 동일로96가길 13, 1층 (면목동)",2224.0,실버피자,2023-01-27 14:19,U,09:00.0,기타,207120.8890,453537.3186,NaN
6886119,202301,패스트푸드,실버피자,NaN,20210813,NaN,127.081406762934,37.584115745017,547419,23,...,"서울특별시 노원구 노원로22길 34, 제상가동 1층 110호 (중계동, 롯데우성아파트)",1746.0,실버피자,2022-08-18 16:15,U,00:00.0,기타,206357.8743,460497.7088,NaN

### 총 1386422행 중 1013510행 일치

In [18]:
df[df['MCTNM'].isin(data['사업장명'])==True]

,TA_YM,MCT_RY_NM,MCTNM,BRD_NM,ARED,BZNCD,LALXCVL,LALYCVL,EST_AMT_TOT,EST_CNT_TOT,...,여성_60대,소득정보없음,소득3천만이하,소득5천만이하,소득7천만이하,소득1억이하,소득1억초과,생애단계_싱글,생애단계_영유아,생애단계_청소년
0,202312,제과점,찰찰보리식빵,NaN,20230614,암사역,127.128775596857,37.551406284259,28165790,3685,...,14.642,0.996,11.630,41.172,24.582,12.886,8.735,18.161,9.458,28.082
1,202305,일반대중음식,남경호프,NaN,20221116,구로시장,126.885700050511,37.485370522557,4830358,92,...,0.000,8.791,50.549,17.582,7.692,15.385,0.000,2.747,0.000,20.879
2,202304,한식,우래옥,NaN,20110228,광장시장,126.998751392814,37.568242997147,1047688785,11963,...,12.056,0.770,9.374,23.357,18.298,12.408,35.793,29.711,4.760,19.211
3,202307,한식,신신매운갈비찜,NaN,20180717,영등포구청,126.897938335279,37.526654034788,14673697,472,...,3.164,3.603,22.703,46.157,12.919,8.137,6.481,54.809,15.097,9.403
4,202312,일반대중음식,그린바이브 강서구청점,NaN,20220627,화곡동,126.849036473646,37.550542559383,3494638,513,...,2.157,0.000,2.783,45.295,24.648,18.925,8.349,48.756,12.072,30.910
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1386417,202302,일반대중음식,센스,NaN,20190806,장위,127.050192781196,37.616053908518,1738343,18,...,0.000,0.000,0.000,100.000,0.000,0.000,0.000,0.000,0.000,0.000
1386418,202307,한식,김밥천국,김밥천국,20220112,NaN,126.913617387514,37.501002411118,634548,37,...,0.000,0.000,0.000,25.197,16.963,14.770,43.070,43.070,0.000,0.000
1386419,202310,일반대중음식,싱글,NaN,20050915,영등포구청,126.896583794585,37.522604720794,2959109,48,...,0.000,0.000,0.000,100.000,0.000,0.000,0.000,66.887,0.000,33.113
1386420,202308,편의점,세븐일레븐 공릉하나점,NaN,20190620,태릉입구,127.077886070693,37.621688813935,308090,27,...,0.000,0.000,24.129,55.194,0.000,20.677,0.000,0.000,24.129,75.871
1386421,202304,일반대중음식,밀톤,NaN,20200213,석관시장,127.060961245449,37.609139008745,95840,16,...,0.000,0.000,0.000,51.630,0.000,0.000,48.370,0.000,23.913,76.087

In [20]:
data[data['사업장명']=='그린바이브 강서구청점']

,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,...,도로명주소,도로명우편번호,사업장명,최종수정일자,데이터갱신구분,데이터갱신일자,업태구분명,좌표정보(X),좌표정보(Y),위생업태명
15478,3150000,3150000-104-2022-00164,20220610,NaN,1,영업/정상,1,영업,NaN,NaN,...,"서울특별시 강서구 화곡로 296, 1층 111호 (화곡동, 강서아이파크)",7663.0,그린바이브 강서구청점,2022-06-10 9:49,I,02:00.0,기타 휴게음식점,186594.2656,449819.1839,NaN

### 매장명 기준 총 119250개 중 79312 일치

In [27]:
len(df['MCTNM'].unique())

119250

In [39]:
mctnm = df['MCTNM'].value_counts().to_frame().reset_index()

In [41]:
mctnm[mctnm['MCTNM'].isin(data['사업장명'])==True]

                  MCTNM  count
0                  김밥천국   2218
1                  전주식당   1416
2                   투다리    892
3                 남원추어탕    849
4                 파리바게뜨    817
...                 ...    ...
119244         뭉티기 선릉역점      1
119245        인생감자탕 논현점      1
119246             피트커피      1
119247  덕자네방앗간아모레퍼시픽사옥점      1
119249             실버피자      1

[79312 rows x 2 columns]