In [6]:
import requests
import pprint 
import json 
import pandas as pd

In [11]:
df = pd.DataFrame()
page_no = 1

while True:
    url = "http://apis.data.go.kr/1130000/FftcBrandFrcsDropInfoService/getBrandFrcsDropInfo?serviceKey=Xp8aQvdAcrDsMdFYBMaaa%2F%2B%2Bplq6bhwzvgxJynJrgt8qIh7wxfHuOUVLThJ3ilOVJ1tuEydVFIRZkQlaN3ReAQ%3D%3D&pageNo={0}&numOfRows=10000&resultType=json&yr=2022".format(page_no)
    response = requests.get(url)
    contents = response.text
    json_db = json.loads(contents)
    doc = json_db["items"]
    df = pd.concat([df, pd.DataFrame(doc)] ,axis = 0 , ignore_index = True)

    print(url)
    print(page_no)
    page_no += 1
    if page_no == 18 : 
        break

http://apis.data.go.kr/1130000/FftcBrandFrcsDropInfoService/getBrandFrcsDropInfo?serviceKey=Xp8aQvdAcrDsMdFYBMaaa%2F%2B%2Bplq6bhwzvgxJynJrgt8qIh7wxfHuOUVLThJ3ilOVJ1tuEydVFIRZkQlaN3ReAQ%3D%3D&pageNo=1&numOfRows=10000&resultType=json&yr=2022
1
http://apis.data.go.kr/1130000/FftcBrandFrcsDropInfoService/getBrandFrcsDropInfo?serviceKey=Xp8aQvdAcrDsMdFYBMaaa%2F%2B%2Bplq6bhwzvgxJynJrgt8qIh7wxfHuOUVLThJ3ilOVJ1tuEydVFIRZkQlaN3ReAQ%3D%3D&pageNo=2&numOfRows=10000&resultType=json&yr=2022
2
http://apis.data.go.kr/1130000/FftcBrandFrcsDropInfoService/getBrandFrcsDropInfo?serviceKey=Xp8aQvdAcrDsMdFYBMaaa%2F%2B%2Bplq6bhwzvgxJynJrgt8qIh7wxfHuOUVLThJ3ilOVJ1tuEydVFIRZkQlaN3ReAQ%3D%3D&pageNo=3&numOfRows=10000&resultType=json&yr=2022
3
http://apis.data.go.kr/1130000/FftcBrandFrcsDropInfoService/getBrandFrcsDropInfo?serviceKey=Xp8aQvdAcrDsMdFYBMaaa%2F%2B%2Bplq6bhwzvgxJynJrgt8qIh7wxfHuOUVLThJ3ilOVJ1tuEydVFIRZkQlaN3ReAQ%3D%3D&pageNo=4&numOfRows=10000&resultType=json&yr=2022
4
http://apis.data.go.kr/1130000/FftcBrandFrcsDropInfoService/getBrandFrcsDropInfo?serviceKey=Xp8aQvdAcrDsMdFYBMaaa%2F%2B%2Bplq6bhwzvgxJynJrgt8qIh7wxfHuOUVLThJ3ilOVJ1tuEydVFIRZkQlaN3ReAQ%3D%3D&pageNo=5&numOfRows=10000&resultType=json&yr=2022
5
http://apis.data.go.kr/1130000/FftcBrandFrcsDropInfoService/getBrandFrcsDropInfo?serviceKey=Xp8aQvdAcrDsMdFYBMaaa%2F%2B%2Bplq6bhwzvgxJynJrgt8qIh7wxfHuOUVLThJ3ilOVJ1tuEydVFIRZkQlaN3ReAQ%3D%3D&pageNo=6&numOfRows=10000&resultType=json&yr=2022
6
http://apis.data.go.kr/1130000/FftcBrandFrcsDropInfoService/getBrandFrcsDropInfo?serviceKey=Xp8aQvdAcrDsMdFYBMaaa%2F%2B%2Bplq6bhwzvgxJynJrgt8qIh7wxfHuOUVLThJ3ilOVJ1tuEydVFIRZkQlaN3ReAQ%3D%3D&pageNo=7&numOfRows=10000&resultType=json&yr=2022
7
http://apis.data.go.kr/1130000/FftcBrandFrcsDropInfoService/getBrandFrcsDropInfo?serviceKey=Xp8aQvdAcrDsMdFYBMaaa%2F%2B%2Bplq6bhwzvgxJynJrgt8qIh7wxfHuOUVLThJ3ilOVJ1tuEydVFIRZkQlaN3ReAQ%3D%3D&pageNo=8&numOfRows=10000&resultType=json&yr=2022
8
http://apis.data.go.kr/1130000/FftcBrandFrcsDropInfoService/getBrandFrcsDropInfo?serviceKey=Xp8aQvdAcrDsMdFYBMaaa%2F%2B%2Bplq6bhwzvgxJynJrgt8qIh7wxfHuOUVLThJ3ilOVJ1tuEydVFIRZkQlaN3ReAQ%3D%3D&pageNo=9&numOfRows=10000&resultType=json&yr=2022
9
http://apis.data.go.kr/1130000/FftcBrandFrcsDropInfoService/getBrandFrcsDropInfo?serviceKey=Xp8aQvdAcrDsMdFYBMaaa%2F%2B%2Bplq6bhwzvgxJynJrgt8qIh7wxfHuOUVLThJ3ilOVJ1tuEydVFIRZkQlaN3ReAQ%3D%3D&pageNo=10&numOfRows=10000&resultType=json&yr=2022
10
http://apis.data.go.kr/1130000/FftcBrandFrcsDropInfoService/getBrandFrcsDropInfo?serviceKey=Xp8aQvdAcrDsMdFYBMaaa%2F%2B%2Bplq6bhwzvgxJynJrgt8qIh7wxfHuOUVLThJ3ilOVJ1tuEydVFIRZkQlaN3ReAQ%3D%3D&pageNo=11&numOfRows=10000&resultType=json&yr=2022
11
http://apis.data.go.kr/1130000/FftcBrandFrcsDropInfoService/getBrandFrcsDropInfo?serviceKey=Xp8aQvdAcrDsMdFYBMaaa%2F%2B%2Bplq6bhwzvgxJynJrgt8qIh7wxfHuOUVLThJ3ilOVJ1tuEydVFIRZkQlaN3ReAQ%3D%3D&pageNo=12&numOfRows=10000&resultType=json&yr=2022
12
http://apis.data.go.kr/1130000/FftcBrandFrcsDropInfoService/getBrandFrcsDropInfo?serviceKey=Xp8aQvdAcrDsMdFYBMaaa%2F%2B%2Bplq6bhwzvgxJynJrgt8qIh7wxfHuOUVLThJ3ilOVJ1tuEydVFIRZkQlaN3ReAQ%3D%3D&pageNo=13&numOfRows=10000&resultType=json&yr=2022
13
http://apis.data.go.kr/1130000/FftcBrandFrcsDropInfoService/getBrandFrcsDropInfo?serviceKey=Xp8aQvdAcrDsMdFYBMaaa%2F%2B%2Bplq6bhwzvgxJynJrgt8qIh7wxfHuOUVLThJ3ilOVJ1tuEydVFIRZkQlaN3ReAQ%3D%3D&pageNo=14&numOfRows=10000&resultType=json&yr=2022
14
http://apis.data.go.kr/1130000/FftcBrandFrcsDropInfoService/getBrandFrcsDropInfo?serviceKey=Xp8aQvdAcrDsMdFYBMaaa%2F%2B%2Bplq6bhwzvgxJynJrgt8qIh7wxfHuOUVLThJ3ilOVJ1tuEydVFIRZkQlaN3ReAQ%3D%3D&pageNo=15&numOfRows=10000&resultType=json&yr=2022
15
http://apis.data.go.kr/1130000/FftcBrandFrcsDropInfoService/getBrandFrcsDropInfo?serviceKey=Xp8aQvdAcrDsMdFYBMaaa%2F%2B%2Bplq6bhwzvgxJynJrgt8qIh7wxfHuOUVLThJ3ilOVJ1tuEydVFIRZkQlaN3ReAQ%3D%3D&pageNo=16&numOfRows=10000&resultType=json&yr=2022
16
http://apis.data.go.kr/1130000/FftcBrandFrcsDropInfoService/getBrandFrcsDropInfo?serviceKey=Xp8aQvdAcrDsMdFYBMaaa%2F%2B%2Bplq6bhwzvgxJynJrgt8qIh7wxfHuOUVLThJ3ilOVJ1tuEydVFIRZkQlaN3ReAQ%3D%3D&pageNo=17&numOfRows=10000&resultType=json&yr=2022
17

In [12]:
df

,jngIfrmpRgsno,brandNm,indutyLclasNm,indutyMlsfcNm,yr,areaNm,frcsCnt,droperStorCnt,allStorCnt,rlvtYn
0,20080100006,잉글리쉬무무,서비스,교육 (외국어),2022,강원,4.0,0.0,4.0,N
1,20080100006,잉글리쉬무무,서비스,교육 (외국어),2022,경기,46.0,0.0,46.0,N
2,20080100006,잉글리쉬무무,서비스,교육 (외국어),2022,경남,24.0,0.0,24.0,N
3,20080100006,잉글리쉬무무,서비스,교육 (외국어),2022,경북,2.0,0.0,2.0,N
4,20080100006,잉글리쉬무무,서비스,교육 (외국어),2022,광주,26.0,0.0,26.0,N
...,...,...,...,...,...,...,...,...,...,...
169995,20231610,멘모찌,외식,일식,2022,경북,0.0,0.0,0.0,N
169996,20231610,멘모찌,외식,일식,2022,광주,0.0,0.0,0.0,N
169997,20231610,멘모찌,외식,일식,2022,대구,0.0,0.0,0.0,N
169998,20231610,멘모찌,외식,일식,2022,대전,0.0,0.0,0.0,N
169999,20231610,멘모찌,외식,일식,2022,부산,0.0,0.0,0.0,N

In [13]:
df = df.loc[df.areaNm == '서울', :]
df

,jngIfrmpRgsno,brandNm,indutyLclasNm,indutyMlsfcNm,yr,areaNm,frcsCnt,droperStorCnt,allStorCnt,rlvtYn
8,20080100006,잉글리쉬무무,서비스,교육 (외국어),2022,서울,21.0,0.0,21.0,N
26,20080100007,오피스넥스(officenex),도소매,기타도소매,2022,서울,12.0,0.0,12.0,N
44,20080100020,씨유(CU),도소매,편의점,2022,서울,2720.0,46.0,2766.0,None
62,20080100023,락휴노래연습장,서비스,오락,2022,서울,25.0,0.0,25.0,N
80,20080100025,에뛰드,도소매,화장품,2022,서울,0.0,0.0,0.0,None
...,...,...,...,...,...,...,...,...,...,...
169910,20231605,오늘은피자,외식,피자,2022,서울,0.0,0.0,0.0,N
169928,20231606,할미감성,외식,한식,2022,서울,0.0,0.0,0.0,None
169946,20231607,알찬둥지,외식,한식,2022,서울,0.0,0.0,0.0,Y
169964,20231608,핏츠(FITS),서비스,스포츠 관련,2022,서울,NaN,NaN,NaN,Y
169982,20231609,랄라로이,서비스,기타 교육,2022,서울,0.0,0.0,0.0,N

In [14]:
df = df.loc[df.indutyLclasNm == '외식', :] 
df

,jngIfrmpRgsno,brandNm,indutyLclasNm,indutyMlsfcNm,yr,areaNm,frcsCnt,droperStorCnt,allStorCnt,rlvtYn
116,20080100033,피자에땅,외식,피자,2022,서울,12.0,0.0,12.0,N
134,20080100034,오븐에빠진닭,외식,치킨,2022,서울,21.0,0.0,21.0,N
170,20080100047,놀부보쌈족발,외식,한식,2022,서울,16.0,2.0,18.0,N
188,20080100048,놀부부대찌개,외식,한식,2022,서울,48.0,3.0,51.0,N
206,20080100050,놀부항아리갈비,외식,한식,2022,서울,0.0,0.0,0.0,N
...,...,...,...,...,...,...,...,...,...,...
169874,20231603,제주미향해장,외식,한식,2022,서울,0.0,1.0,1.0,N
169892,20231604,처음본 명품민물장어,외식,한식,2022,서울,NaN,NaN,NaN,Y
169910,20231605,오늘은피자,외식,피자,2022,서울,0.0,0.0,0.0,N
169928,20231606,할미감성,외식,한식,2022,서울,0.0,0.0,0.0,None
169946,20231607,알찬둥지,외식,한식,2022,서울,0.0,0.0,0.0,Y

In [15]:
df_new = df[(df['frcsCnt'] < 1) & (df['droperStorCnt'] >= 2 )]
df_new

,jngIfrmpRgsno,brandNm,indutyLclasNm,indutyMlsfcNm,yr,areaNm,frcsCnt,droperStorCnt,allStorCnt,rlvtYn
1106,20080100258,피자몰,외식,피자,2022,서울,0.0,3.0,3.0,N
1196,20080100283,오므토토마토,외식,기타 외식,2022,서울,0.0,2.0,2.0,N
1214,20080100292,사보텐,외식,일식,2022,서울,0.0,20.0,20.0,N
4724,20080500055,팬도로시,외식,커피,2022,서울,0.0,5.0,5.0,N
6884,20100100205,사랑탕,외식,한식,2022,서울,0.0,2.0,2.0,N
...,...,...,...,...,...,...,...,...,...,...
166004,20231387,도제,외식,일식,2022,서울,0.0,9.0,9.0,N
166778,20231430,닭강점,외식,치킨,2022,서울,0.0,2.0,2.0,N
168326,20231516,보난자커피,외식,커피,2022,서울,0.0,2.0,2.0,N
168344,20231517,지파시,외식,아이스크림/빙수,2022,서울,0.0,5.0,5.0,N
168992,20231553,벚꽃스시,외식,일식,2022,서울,0.0,2.0,2.0,N

In [16]:
df_new.brandNm.unique()

array(['피자몰', '오므토토마토', '사보텐', '팬도로시', '사랑탕', '스쿨스토어', '쉐프밀(chefmeal)',
       '띵크커피', '철판목장', '환공어묵베이커리', '브리오슈도레(BRIOCHE DOREE)', '매란방',
       '게이트나인(GATE9)', '목동버거', '아메리칸에그샌드', '만석장', '오규당', '편장군족발',
       '제주산방식당', '훠궈야', '평화다방', '서울편백찜', '미미담(美味啖)', '에딕티(Addictea)',
       '마호가니', '마리야', '소디스', '도넛킬러', '호호반점', '농담', '식스밀', '롤썸', '체크',
       '부산빨간어묵포차', '팔당반점', '메밀꽃필무렵', '파라노이드', '고동함박', '텐핑거(10finger)',
       '몽샹82', '노브랜드 피자(No Brand Pizza)', '애슐리투고', '달다곰이',
       '밥줄(BAB JOULE)', '민속식당', '브라운래빗', '정읍옛날김밥', '더푸짐한상', '이남장',
       '일익스프레스', '가가솥밥', '랍스터바', '라라브레드', '신승반점', '멘야하나비', '부타이', '갈비다움',
       '솥내음', '리앙크리스피롤', '베르도네', '한와담소반', '콩카페', '하카타 모츠나베 야마야', '옷살',
       '킨토토', '스템 커피(STEM COFFEE)', '더 뭉티기', '미래회관', '진전복삼계탕',
       'Philly Philly CHEESE STEAK ', '와인투고(wine to go)', '우기식당', '셋째집',
       '갓잇', '와다라멘', '요커', '크라이치즈버거', '삼진어묵', '스트렝스커피', '효뜨', '라멘짱',
       '시그니처랩', '침스버거', '곱', '테이스티 버거 ', '카페꼼마', '멜로우시티', '월화',
       '압편 압구정편의점', '보끔당', '호랑이도삭면', '소와나(SOWANA)', '항아리닭갈비막국수', '프레시크레딧',
       '프루츄', '뚜스뚜스(TOUS TOUS)', '치탈리아', '심재', '우미학', '바스버거(BAS BURGER)',
       '도제', '닭강점', '보난자커피', '지파시', '벚꽃스시'], dtype=object)

In [17]:
df_francise = df_new.to_csv('22년기준 직영점만 운영하는 브랜드 리스트.csv', index = False)

In [20]:
pd.read_csv('./22년기준 직영점만 운영하는 브랜드 리스트.csv')

,jngIfrmpRgsno,brandNm,indutyLclasNm,indutyMlsfcNm,yr,areaNm,frcsCnt,droperStorCnt,allStorCnt,rlvtYn
0,20080100258,피자몰,외식,피자,2022,서울,0.0,3.0,3.0,N
1,20080100283,오므토토마토,외식,기타 외식,2022,서울,0.0,2.0,2.0,N
2,20080100292,사보텐,외식,일식,2022,서울,0.0,20.0,20.0,N
3,20080500055,팬도로시,외식,커피,2022,서울,0.0,5.0,5.0,N
4,20100100205,사랑탕,외식,한식,2022,서울,0.0,2.0,2.0,N
...,...,...,...,...,...,...,...,...,...,...
100,20231387,도제,외식,일식,2022,서울,0.0,9.0,9.0,N
101,20231430,닭강점,외식,치킨,2022,서울,0.0,2.0,2.0,N
102,20231516,보난자커피,외식,커피,2022,서울,0.0,2.0,2.0,N
103,20231517,지파시,외식,아이스크림/빙수,2022,서울,0.0,5.0,5.0,N
104,20231553,벚꽃스시,외식,일식,2022,서울,0.0,2.0,2.0,N